{% extends "layouts/popup1.html" %}
{% set pageTitle = 'LUIM_MP_BookDeliveryStatusPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MP_BookDeliveryStatusPop.html" %}
{% endblock %}
