{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_FT_PrivacyInfoDetailPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_FT_PrivacyInfoDetailPop.html" %}
{% endblock %}
