{% extends "layouts/default4.html" %}
{% set pageTitle = 'LUIM_LC_Details_EmployCompany' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_Details_EmployCompany.html" %}
{% endblock %}