{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MP_Payment_HistoryPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MP_Payment_HistoryPop.html" %}
{% endblock %}
