{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_MR_FreepassList_NO-LIST' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_FreepassList_NO-LIST.html" %}
{% endblock %}
