{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_RFApplication1' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_RFApplication1.html" %}
{% endblock %}
