{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_UT_ComJoin_reconfirm' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_UT_ComJoin_reconfirm.html" %}
{% endblock %}
