{% extends "layouts/LUIM_MR_CourseDetails_ST.html" %}
{% set pageTitle = 'LUIM_MR_CourseDetails_ST' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_CourseDetails_ST.html" %}
{% endblock %}
