{% extends "layouts/default1.html" %}
{% set pageTitle = 'LUIM_LC_CouponSelect' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_LC_CouponSelect.html" %}
{% endblock %}
