{% extends "layouts/default2.html" %}
{% set pageTitle = 'LUIM_LC_ListType_Online' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_ListType_Online.html" %}
{% endblock %}
