{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_Freepass_InfoPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_Freepass_InfoPop.html" %}
{% endblock %}
