{% extends "layouts/default1.html" %}
{% set pageTitle = 'LUIM_LC_Cart_TotalPayment_Com' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_Cart_TotalPayment_Com.html" %}
{% endblock %}
