{% extends "layouts/default4.html" %}
{% set pageTitle = 'LUIM_LC_Details_Com_Recommendation' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_Details_Com_Recommendation.html" %}
{% endblock %}