{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_MR_FreepassList' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_FreepassList.html" %}
{% endblock %}
