{% extends "layouts/default1.html" %}
{% set pageTitle = 'LUIM_LC_OrderComplete_bank' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_OrderComplete_bank.html" %}
{% endblock %}
