{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_RFApplication_Public' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_RFApplication_Public.html" %}
{% endblock %}
