{% extends "layouts/LUIM_MR_ClassRoom.html" %}
{% set pageTitle = 'LUIM_LC_FilterPop_Teacher' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_FilterPop_Teacher.html" %}
{% endblock %}
