{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_RFApplication_Attendance' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_RFApplication_Attendance.html" %}
{% endblock %}
