{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_MP_ListType_PACKAGE' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MP_ListType_PACKAGE.html" %}
{% endblock %}
