{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_MR_Academy_ing' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_Academy_ing.html" %}
{% endblock %}
