{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_Study_GoalSetPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_Study_GoalSetPop.html" %}
{% endblock %}
