{% extends "layouts/LUIM_MR_ClassRoom.html" %}
{% set pageTitle = 'LUIM_LC_List_FilterPop1' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_List_FilterPop1.html" %}
{% endblock %}
