{% extends "layouts/default2.html" %}
{% set pageTitle = 'LUIM_LC_ListType_NO-LIST' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_ListType_NO-LIST.html" %}
{% endblock %}
