{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_MR_OnlineLC_Pakage(B)-buttonAdd' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_OnlineLC_Pakage(B)-buttonAdd.html" %}
{% endblock %}
