{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_StudyTutorialPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_StudyTutorialPop.html" %}
{% endblock %}
