{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_UT_Addinfo_ChoicePop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_UT_Addinfo_ChoicePop.html" %}
{% endblock %}
