{% extends "layouts/LUIM_MR_ClassRoom.html" %}
{% set pageTitle = 'LUIM_MR_OLClassRoom_Package' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_OLClassRoom_Package.html" %}
{% endblock %}
