{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_Freepass_NCSInfoPop1' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_Freepass_NCSInfoPop1.html" %}
{% endblock %}
