{% extends "layouts/LUIM_MR_ClassRoom.html" %}
{% set pageTitle = 'LUIM_MR_OLClassRoom' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_OLClassRoom.html" %}
{% endblock %}
