{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_Freepass_GuideBookPop' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_Freepass_GuideBookPop.html" %}
{% endblock %}
