{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MR_RFApplication_Pass' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MR_RFApplication_Pass.html" %}
{% endblock %}
