{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_LC_Details_Com_ReviewDetailPop' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_Details_Com_ReviewDetailPop.html" %}
{% endblock %}
