{% extends "layouts/LUIM_UT_AcademyMain.html" %}
{% set pageTitle = 'LUIM_UT_AcademyMain' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_UT_AcademyMain.html" %}
{% endblock %}