{% extends "layouts/default.html" %}
{% set pageTitle = 'LUIM_UT_ChangePW_Input_ResetCom' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_UT_ChangePW_Input_ResetCom.html" %}
{% endblock %}
