{% extends "layouts/default4.html" %}
{% set pageTitle = 'LUIM_LC_Details_Com_Review' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_Details_Com_Review.html" %}
{% endblock %}