{% extends "layouts/introduce01.html" %}
{% set pageTitle = 'LUIM_LC_Details_Com_Introduce01' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_LC_Details_Com_Introduce01.html" %}
{% endblock %}