{% extends "layouts/popup.html" %}
{% set pageTitle = 'LUIM_MP_BookDeliveryStatusPop-NO-LIST' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_MP_BookDeliveryStatusPop-NO-LIST.html" %}
{% endblock %}
