{% extends "layouts/default3.html" %}
{% set pageTitle = 'LUIM_MR_FreepassLC-changed-btcolor' %}
{% set bodyClasses = 'padding-ft' %}
{% block content %}
{% include "include/LUIM_MR_FreepassLC-changed-btcolor.html" %}
{% endblock %}
