{% extends "layouts/LUIM_UT_SearchResult.html" %}
{% set pageTitle = 'LUIM_UT_SearchResult' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/LUIM_UT_SearchResult.html" %}
{% endblock %}
