<header>
    <nav class="navbar">
        <button type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <a href="/" class="logo logo-sm"><img src="./assets/img/logo1.png" alt=""></a>
        <button type="button" class="btn_search ml-auto" onclick="location.href='/letuin/build/LUIM_UT_SearchResult.html'"></button>
        <div class="user">
            <div class="before_login">
                <a href="javascript:;" title="" data-toggle="modal" data-target="#modal-logout"><img src="./assets/img/icon-user.png" alt=""></a>
            </div>
        </div>
    </nav>
</header>
<div class="modal fade modal-logout" id="modal-logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">로그아웃</h4>
                <button type="button" class="btn_notifi pr" data-toggle="modal" data-target="#modal-notice"><span class="flex-center">N</span></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="name">안녕하세요! <span>홍길동</span>님</div>
                <div class="classroom">
                    <div class="header flex-lc">
                        <h5>내강의실</h5>
                        <button type="button" class="btn_collapse collapsed ml-auto" data-toggle="collapse" data-target="#popup"></button>
                    </div>
                    <div class="collapse" id="popup">
                        <div class="item">
                            <a href="/letuin/build/LUIM_MP_Payment_HistoryPop.html" class="title flex">
                                <h5>스터디</h5>
                                <div class="txt ml-auto">합격할 때까지 유이니와 함께~</div>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                            <div class="info flex">
                                <div class="col-3">
                                    <h5>00 강</h5>
                                    <span>누적 학습량</span>
                                </div>
                                <div class="col-6">
                                    <h5>00 시간 00 분</h5>
                                    <span>누적 학습 시간</span>
                                </div>
                                <div class="col-3">
                                    <h5>00 일</h5>
                                    <span>누적 학습일 수</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MP_Payment_HistoryPop.html" class="title flex">
                                <h5>프리패스</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_OnlineLC_Pakage(B)-buttonAdd.html" class="title flex">
                                <h5>온라인강의</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_Academy.html" class="title flex">
                                <h5>학원강의</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_PracticeTest.html" class="title flex">
                                <h5>공정실습</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_PracticeTest.html" class="title flex">
                                <h5>모의고사</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <div class="title flex">
                                <h5>취업기업분석</h5>
                                <div class="ml-auto flex">
                                    <p>열람중 <span>0 건</span></p>
                                    <p>열람중 패키지 <span>0 건</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title flex">
                                <h5>자소서 첨삭</h5>
                            </div>
                            <div class="info flex">
                                <div class="col">
                                    <h5>0 건</h5>
                                    <span>대기</span>
                                </div>
                                <div class="col">
                                    <h5>1 건</h5>
                                    <span>반려</span>
                                </div>
                                <div class="col">
                                    <h5>1 건</h5>
                                    <span>신청완료</span>
                                </div>
                                <div class="col">
                                    <h5>2 건</h5>
                                    <span>첨삭중</span>
                                </div>
                                <div class="col">
                                    <h5>3 건</h5>
                                    <span>첨삭완료</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_Ended.html" class="title flex">
                                <h5>종료된 콘텐츠</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                    </div>
                    <div class="page-title">마이페이지</div>
                    <div class="item item-lg">
                        <div class="flex">
                            <p>보유한 포인트 <span>100,000P</span></p>
                            <p>보유 렛머니 <span>10,000원</span></p>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <div class="flex">
                            <p>장바구니 <span>3 건</span></p>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <h5>결제내역</h5>
                        <div class="flex">
                            <p>대기<span>00</span>건</p>
                            <p>결제완료<span>00</span>건</p>
                            <p>결제취소<span>00</span>건</p>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <h5 data-toggle="modal" data-target="#modal-status">도서배송현황</h5>
                        <div class="flex">
                            <p>배송준비<span>00</span>건</p>
                            <p>배송중<span>00</span>건</p>
                            <p>배송완료<span>00</span>건</p>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <h5>1:1 문의내역</h5>
                        <div class="flex">
                            <p>접수<span>00</span>건</p>
                            <p>답변<span>00</span>건</p>
                            <button type="button" class="ml-auto">1:1문의하기</button>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <p>사용 가능 보유 쿠폰 <span>3 장</span></p>
                        <div class="box-coupon flex">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <a href="" title="" class="btn_register">쿠폰등록</a>
                        </div>
                        <div class="guide">
                            <h5>쿠폰 등록 및 이용 안내</h5>
                            <p>
                                쿠폰번호 등록할 때는 숫자와 영문대소문자를 구별하여 입력하세요.
                                Ex) 0000-CCdd-AAbb-0000
                            </p>
                            <p>
                                모바일 사이트에서는 사용 가능한 쿠폰 정보만 확인 가능합니다.
                            </p>
                            <p>※ 사용한 쿠폰 정보는 PC사이트에서 확인 가능합니다</p>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <div class="flex">
                            <p>회원정보 수정</p>
                            <span>(비밀번호, SNS 연동계정 등 수정)</span>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                        <div class="item__content">
                            <p>text-demo</p>
                        </div>
                    </div>
                    <div class="item item-lg">
                        <div class="flex">
                            <p>회원탈퇴</p>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i>FAQ</a>
                <a href=""><i class="icon icon-wr"></i>1:1맞춤상담</a>
                <a href=""><i class="icon icon-notifi"></i>공지사항</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-notice" id="modal-notice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 알림</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="header flex">
                    <h5>미확인(00)</h5>
                    <div class="remove flex ml-auto">
                        <a href="" title="">읽은 알림 삭제</a>
                        <a href="" title="">모두 삭제</a>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                    <div class="notice__content">
                        <p>
                            100%무료! 100%라이브로 보는 이공계
                            취업 무료 특강!설문지를 작성하시면,
                            라이브 무료 특강 방송 시작 전, 방송 시청
                            안내 문자를 보내드립니다. ^^
                        </p>
                        <a href="" class="flex-center">라이브 사전 알리미 신청서 작성하기 <i class="icon icon-arr"></i></a>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-status" id="modal-status">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 도서배송현황</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <ul class="tab nav flex">
                    <li>기간 검색 <i class="icon-i flex-center">i</i></li>
                    <li><a href="#개월1" data-toggle="tab" title="">1개월</a></li>
                    <li><a href="#개월3" data-toggle="tab" title="">3개월</a></li>
                    <li><a href="#개월6" data-toggle="tab" title="">6개월</a></li>
                    <li><a href="#개월12" data-toggle="tab" class="active" title="">12개월</a></li>
                </ul>
                <div class="box-text hide pr">
                    <div class="content">
                        <p>12개월 이전 배송현황은 ‘PC버전 > 마이페이지
                            > 도서배송현황’에서 확인 가능합니다.</p>
                        <p>구매 취소 된 주문은 조회되지 않습니다.</p>
                    </div>
                    <button type="button" class="close">X</button>
                </div>
                <div class="tab-content">
                    <div id="개월12" class="tab-pane fade show active">
                        <div class="status flex">
                            <div class="item">
                                <span>01</span>
                                <h5>전체</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>준비</h5>
                            </div>
                            <div class="item">
                                <span>01</span>
                                <h5>배송중</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>완료</h5>
                            </div>
                        </div>
                        <div class="notifi">
                            <h5>도서 구매 내역이 없습니다.</h5>
                            <div class="img"><img src="./assets/img/found.png" alt=""></div>
                        </div>
                        <div class="txt">
                            12개월 이전 배송현황은
                            ‘PC버전 > 마이페이지 > 도서배송현황’에서
                            확인 가능합니다.
                        </div>
                    </div>
                    <div id="개월3" class="tab-pane fade">
                        tab2
                    </div>
                </div>
                <div class="orderinfo">
                    <div class="orderinfo__header flex-lc">
                        <h4 class="flex-lc"><i class="icon icon-qs">?</i> 도서 배송 안내</h4>
                        <button type="button" class="btn_collapse ml-auto"></button>
                    </div>
                    <div class="orderinfo__content">
                        <article>
                            <p>‘자격증 과정’ 관련 도서 구매 시 배송 현황을 확인할 수 있습니다.</p>
                            <p>“배송중” 상태일 때, 송장번호로 배송 추척이 가능합니다.</p>
                            <p>도서배송 : CJ택배 배송 조회 <br>
                                (CJ택배 고객센터 전화 : 1588-1255 )</p>
                            <p><b>도서 배송 시간</b> 배송시간 : 영업일 기준 월~금 오후 2시 이전 결제 시 <br>
                                당일 발송</p>
                            <p>주말, 공휴일 및 휴무일 등 구매 시, 휴무 종료 후 다음 <br>
                                영업일 발송</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-search" id="modal-search">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            <form action="" method="" class="search flex-lc pr">
                <input type="text" placeholder="검색어를 입력하세요.">
                <button type="reset" class="btn_remove"></button>
                <button type="submit" class="btn_submit"></button>
            </form>
            <div class="notifi">
                <h5>“abcd” 에 대한 검색 결과가 없습니다.</h5>
                <p>검색어를 확인하시고 다시 검색해 주세요</p>
            </div>
            <div class="search_recent flex-lc">
                <h5>최근 검색어</h5>
                <button type="button" class="btn_remove">전체 삭제</button>
                <ul class="list flex">
                    <li>
                        <a href="javascritp:;">반도체</a>
                        <button type="button" class="btn_close"></button>
                    </li>
                    <li>
                        <a href="javascritp:;">NC수료증</a>
                        <button type="button" class="btn_close"></button>
                    </li>
                    <li>
                        <a href="javascritp:;">2차 전지</a>
                        <button type="button" class="btn_close"></button>
                    </li>
                    <li>
                        <a href="javascritp:;">PAST형</a>
                        <button type="button" class="btn_close"></button>
                    </li>
                    <li>
                        <a href="javascritp:;">자소서첨삭</a>
                        <button type="button" class="btn_close"></button>
                    </li>
                </ul>
            </div>
            <div class="search_top">
                <h5>추천 검색어 TOP 5</h5>
                <p>1. 취업끝장 0원 환급프리패스</p>
                <p>2. 반린이의 기초 탈출 프로젝트</p>
                <p>3. 나상무X정지성X주영훈 취업완성반</p>
                <p>4. 코레일 면접 기출질문 공개</p>
                <p>5. NCS PSAT 패키지 무료</p>
            </div>
        </div>
    </div>
</div>
