<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header-4.html" %}
{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.box-select .selected').on('click',function (){
           $(this).parent().toggleClass('open');
        });
        $('.select_list li').on('click',function (){
            let times = $(this).data('time');
            let days = $(this).data('day');
            let selected = `<div class="flex-lc">${days} ${times}</div>`
            $(this).parents('.box-select').find('.selected').html(selected);
            $('.box-select').removeClass('open');
        });

        $(document).mouseup(function (e) {
            var form_group = $('.box-select');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.box-select').removeClass('open');
            }
        });

    });
</script>
</body>
</html>