<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header-3.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        //call slick js
        $('.banner').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: true,
            arrows: true
        });
        $('.textbook__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: false,
            centerPadding: 0,
            prevArrow: $('.textbook__prev'),
            nextArrow: $('.textbook__next'),
        });
        $('.teacher__list').slick({
            centerMode: false,
            slidesToShow: 2,
            slidesToScroll: 1,
            fade: false,
            centerPadding: 0,
            prevArrow: $('.teacher__prev'),
            nextArrow: $('.teacher__next'),
        });
        $('.event__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: false,
            centerPadding: 0,
            dots: true,
            appendDots: $('.event_dots'),
            prevArrow: $('.event_prev'),
            nextArrow: $('.event_next'),
        });

    });
</script>
</body>
</html>