<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header-1.html" %}
{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('#modal-filter').modal('show');
        $('#modal-filter-teacher').modal('show');
        $('.btn_td').on('click',function () {
            $(this).parents('.item').toggleClass('active');
        });

        $('.modal-filter .checkbox_lv1').on('change load', function () {
            if ($(this).is(':checked')) {
                $(this).parents('li').find('.filter__sub input').prop("checked", true);
            } else {
                $(this).parents('li').find('.filter__sub input').prop("checked", false);
            }
        });
        $('.filter__sub input[type="checkbox"]').on('change load', function () {
            if ($(this).is(':checked')) {
                $(this).parents('li').find('.checkbox_lv1').prop("checked", false);
            } else {
                $(this).parents('li').find('.checkbox_lv1').prop("checked", false);
            }
        });

        $('.modal-filter li').click(function () {
           $(this).addClass('active');
        });
    });
</script>
</body>
</html>