<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/jquery.simple-calendar.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>

$(document).ready(function () {
        //call slick js
        $('.banner').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: true,
            arrows: true
        });
        $('.intro__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: true,
            arrows: false
        });

        $('.event__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: false,
            centerPadding: 0,
            dots: true,
            appendDots: $('.event_dots'),
            prevArrow: $('.event_prev'),
            nextArrow: $('.event_next'),
        });

        $("#calendar-container").simpleCalendar({
            fixedStartDay: 0, // begin weeks by sunday
            disableEmptyDetails: true,
            events: [
                // generate new event after tomorrow for one hour
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() + 24)).toDateString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() + 25)).toISOString(),
                    summary: '<div class="label">모집중</div>'+
                        '<h4>(1개기업 완성반) 2021상반기 자소서사생결단</h4>'+
                        '<p><span>봉민수</span> 수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>',
                    class: 'event1'
                },
                // generate new event for yesterday at noon
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() + 24)).toDateString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() - 72)).toISOString(),
                    summary: '<div class="label">모집중</div>'+
                        '<h4>(2개기업 완성반) 2021상반기 자소서사생결단</h4>'+
                        '<p><span>봉민수</span> 수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>',
                    class: 'event2'
                },
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() + 48)).toISOString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() + 36)).getTime(),
                    summary: '<div class="label">모집중</div>'+
                        '<h4>(5개기업 완성반) 2021상반기 자소서사생결단</h4>'+
                        '<p><span>봉민수</span> 수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>',
                    class: 'event2'
                },
                {
                    startDate: new Date(new Date().setHours(new Date().getHours() + 96)).toISOString(),
                    endDate: new Date(new Date().setHours(new Date().getHours() + 96)).getTime(),
                    summary: '<div class="label">모집중</div>'+
                        '<h4>(5개기업 완성반) 2021상반기 자소서사생결단</h4>'+
                        '<p><span>봉민수</span> 수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>',
                    class: 'event3'
                }
            ],

        });

    });
</script>
</body>
</html>