<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header-1.html" %}
{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/selectscroll.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('#time1').click(function (){
            $(this).selectScroll({
                data: [
                    [
                        {
                            text: '1950년',
                            id: 1
                        },
                        {
                        text: '1951년',
                        id: 2
                    },
                        {
                        text: '1952년',
                        id: 3
                    },
                        {
                        text: '1953년',
                        id: 4
                    },
                        {
                        text: '1954년',
                        id: 5
                    },
                        {
                        text: '1955년',
                        id: 6
                    },
                        {
                        text: '1956년',
                        id: 7
                    },
                    {
                        text: '1957년',
                        id: 8
                    },{
                        text: '1958년',
                        id: 9
                    },{
                        text: '1959년',
                        id: 10
                    },{
                        text: '1960년',
                        id: 11
                    },{
                        text: '1961년',
                        id: 12
                    },{
                        text: '1962년',
                        id: 13
                    },{
                        text: '1963년',
                        id: 14
                    },
                        {
                            text: '1964년',
                            id: 15
                        },
                        {
                            text: '1965년',
                            id: 16
                        },
                        {
                            text: '1966년',
                            id: 17
                        },
                        {
                            text: '1967년',
                            id: 18
                        },
                        {
                            text: '1968년',
                            id: 19
                        },
                        {
                            text: '1969년',
                            id: 20
                        },
                        {
                            text: '1970년',
                            id: 21
                        },
                        {
                            text: '1971년',
                            id: 22
                        },{
                        text: '1972년',
                        id: 23
                    },{
                        text: '1973년',
                        id: 24
                    },{
                        text: '1974년',
                        id: 25
                    },{
                        text: '1975년',
                        id: 26
                    },{
                        text: '1976년',
                        id: 27
                    },{
                        text: '1977년',
                        id: 28
                    },
                        {
                            text: '1988년',
                            id: 29
                        },
                        {
                            text: '1979년',
                            id: 30
                        },
                        {
                            text: '1980년',
                            id: 31
                        },
                        {
                            text: '1981년',
                            id: 32
                        },
                        {
                            text: '1982년',
                            id: 33
                        },
                        {
                            text: '1983년',
                            id: 34
                        },
                        {
                            text: '1984년',
                            id: 35
                        },
                        {
                            text: '1985년',
                            id: 36
                        },{
                        text: '1986년',
                        id: 37
                    },{
                        text: '1987년',
                        id: 38
                    },{
                        text: '1988년',
                        id: 39
                    },{
                        text: '1989년',
                        id: 40
                    },{
                        text: '1990년',
                        id: 41
                    },{
                        text: '1991년',
                        id: 42
                    },
                        {
                            text: '1992년',
                            id: 43
                        },
                        {
                            text: '1993년',
                            id: 44
                        },
                        {
                            text: '1994년',
                            id: 45
                        },
                        {
                            text: '1995년',
                            id: 46
                        },
                        {
                            text: '1996년',
                            id: 47
                        },
                        {
                            text: '1997년',
                            id: 48
                        },
                        {
                            text: '1998년',
                            id: 49
                        },
                        {
                            text: '1999년',
                            id: 50
                        },{
                        text: '2001년',
                        id: 51
                    },{
                        text: '2002년',
                        id: 52
                    },{
                        text: '2003년',
                        id: 53
                    },{
                        text: '2004년',
                        id: 54
                    },{
                        text: '2005년',
                        id: 55
                    },{
                        text: '2006년',
                        id: 56
                    },
                        {
                            text: '2007년',
                            id: 57
                        },
                        {
                            text: '2008년',
                            id: 58
                        },
                        {
                            text: '2009년',
                            id: 59
                        },
                        {
                            text: '2010년',
                            id: 60
                        },
                        {
                            text: '2011년',
                            id: 61
                        },
                        {
                            text: '2012년',
                            id: 62
                        },
                        {
                            text: '2013년',
                            id: 63
                        },
                        {
                            text: '2014년',
                            id: 64
                        },{
                        text: '2015년',
                        id: 65
                    },{
                        text: '2016년',
                        id: 66
                    },{
                        text: '2017년',
                        id: 67
                    },{
                        text: '2018년',
                        id: 68
                    },{
                        text: '2019년',
                        id: 69
                    },{
                        text: '2020년',
                        id: 70
                    },
                        {
                            text: '2021년',
                            id: 71
                        }
                    ],


                    [{
                        text: '1월',
                        id: 1
                    },{
                        text: '2월',
                        id: 2
                    },
                    {
                        text: '3월',
                        id: 3
                    },
                    {
                        text: '4월',
                        id: 4
                    },{
                        text: '5월',
                        id: 5
                    },{
                        text: '6월',
                        id: 6
                    },{
                        text: '7월',
                        id: 7
                    },
                    {
                        text: '8월',
                        id: 8
                    },
                    {
                        text: '9월',
                        id: 9
                    },
                    {
                        text: '10월',
                        id: 10
                    },
                    {
                        text: '11월',
                        id: 11
                    },
                    {
                        text: '12월',
                        id: 12
                    }
                    ]
                ],
                title: '입학년월',
                selectedIndex: [40, 5, 0],
                class: "show",

            })
        });
        $('#time2').click(function (){
            $(this).selectScroll({});
            $('.picker').addClass('show');
        });
        $(window).on('load',function () {
            $('#time2').selectScroll({
                data: [
                    [
                        {
                            text: '1950년',
                            id: 1
                        },
                        {
                            text: '1951년',
                            id: 2
                        },
                        {
                            text: '1952년',
                            id: 3
                        },
                        {
                            text: '1953년',
                            id: 4
                        },
                        {
                            text: '1954년',
                            id: 5
                        },
                        {
                            text: '1955년',
                            id: 6
                        },
                        {
                            text: '1956년',
                            id: 7
                        },
                        {
                            text: '1957년',
                            id: 8
                        },{
                        text: '1958년',
                        id: 9
                    },{
                        text: '1959년',
                        id: 10
                    },{
                        text: '1960년',
                        id: 11
                    },{
                        text: '1961년',
                        id: 12
                    },{
                        text: '1962년',
                        id: 13
                    },{
                        text: '1963년',
                        id: 14
                    },
                        {
                            text: '1964년',
                            id: 15
                        },
                        {
                            text: '1965년',
                            id: 16
                        },
                        {
                            text: '1966년',
                            id: 17
                        },
                        {
                            text: '1967년',
                            id: 18
                        },
                        {
                            text: '1968년',
                            id: 19
                        },
                        {
                            text: '1969년',
                            id: 20
                        },
                        {
                            text: '1970년',
                            id: 21
                        },
                        {
                            text: '1971년',
                            id: 22
                        },{
                        text: '1972년',
                        id: 23
                    },{
                        text: '1973년',
                        id: 24
                    },{
                        text: '1974년',
                        id: 25
                    },{
                        text: '1975년',
                        id: 26
                    },{
                        text: '1976년',
                        id: 27
                    },{
                        text: '1977년',
                        id: 28
                    },
                        {
                            text: '1988년',
                            id: 29
                        },
                        {
                            text: '1979년',
                            id: 30
                        },
                        {
                            text: '1980년',
                            id: 31
                        },
                        {
                            text: '1981년',
                            id: 32
                        },
                        {
                            text: '1982년',
                            id: 33
                        },
                        {
                            text: '1983년',
                            id: 34
                        },
                        {
                            text: '1984년',
                            id: 35
                        },
                        {
                            text: '1985년',
                            id: 36
                        },{
                        text: '1986년',
                        id: 37
                    },{
                        text: '1987년',
                        id: 38
                    },{
                        text: '1988년',
                        id: 39
                    },{
                        text: '1989년',
                        id: 40
                    },{
                        text: '1990년',
                        id: 41
                    },{
                        text: '1991년',
                        id: 42
                    },
                        {
                            text: '1992년',
                            id: 43
                        },
                        {
                            text: '1993년',
                            id: 44
                        },
                        {
                            text: '1994년',
                            id: 45
                        },
                        {
                            text: '1995년',
                            id: 46
                        },
                        {
                            text: '1996년',
                            id: 47
                        },
                        {
                            text: '1997년',
                            id: 48
                        },
                        {
                            text: '1998년',
                            id: 49
                        },
                        {
                            text: '1999년',
                            id: 50
                        },{
                        text: '2001년',
                        id: 51
                    },{
                        text: '2002년',
                        id: 52
                    },{
                        text: '2003년',
                        id: 53
                    },{
                        text: '2004년',
                        id: 54
                    },{
                        text: '2005년',
                        id: 55
                    },{
                        text: '2006년',
                        id: 56
                    },
                        {
                            text: '2007년',
                            id: 57
                        },
                        {
                            text: '2008년',
                            id: 58
                        },
                        {
                            text: '2009년',
                            id: 59
                        },
                        {
                            text: '2010년',
                            id: 60
                        },
                        {
                            text: '2011년',
                            id: 61
                        },
                        {
                            text: '2012년',
                            id: 62
                        },
                        {
                            text: '2013년',
                            id: 63
                        },
                        {
                            text: '2014년',
                            id: 64
                        },{
                        text: '2015년',
                        id: 65
                    },{
                        text: '2016년',
                        id: 66
                    },{
                        text: '2017년',
                        id: 67
                    },{
                        text: '2018년',
                        id: 68
                    },{
                        text: '2019년',
                        id: 69
                    },{
                        text: '2020년',
                        id: 70
                    },
                        {
                            text: '2021년',
                            id: 71
                        }
                    ],


                    [{
                        text: '1월',
                        id: 1
                    },{
                        text: '2월',
                        id: 2
                    },
                        {
                            text: '3월',
                            id: 3
                        },
                        {
                            text: '4월',
                            id: 4
                        },{
                        text: '5월',
                        id: 5
                    },{
                        text: '6월',
                        id: 6
                    },{
                        text: '7월',
                        id: 7
                    },
                        {
                            text: '8월',
                            id: 8
                        },
                        {
                            text: '9월',
                            id: 9
                        },
                        {
                            text: '10월',
                            id: 10
                        },
                        {
                            text: '11월',
                            id: 11
                        },
                        {
                            text: '12월',
                            id: 12
                        }
                    ]
                ],
                title: '촐업년월',
                selectedIndex: [40, 5, 0],
            });
        });
    });
</script>
</body>
</html>