<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% block content %}{% endblock %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('#modal-contact').modal('show');
        $('#modal-commitment').modal('show');
        $('#modal-logout').modal('show');
        $('#modal-login').modal('show');
        $('#modal-payment').modal('show');
        $('#modal-policy').modal('show');
        $('#modal-contactus').modal('show');
        $('#modal-video').modal('show');
        $('#modal-coupon').modal('show');
        $('#modal-password').modal('show');
        $('#modal-letmoney').modal('show');
        /*$('#modal-point').modal('show');*/
        /*$('#modal-notice').modal('show');*/
        $('#modal-rejectpop').modal('show');
        $('#modal-fileupload').modal('show');
        $('#modal-application').modal('show');
        $('#modal-bookdeliverystatus').modal('show');
        $('#modal-status').modal('show');
        $('#modal-category').modal('show');
        $('#modal-review').modal('show');
        $('#modal-cart').modal('show');
        $('#modal-confirm').modal('show');
        $('#modal-choicepop').modal('show');
        $('#modal-compop').modal('show');
        $('#modal-certificates').modal('show');
        $('#modal-guidebook').modal('show');
        $('#modal-ncsinfo').modal('show');
        $('#modal-refundstatus').modal('show');
        $('#modal-rfa').modal('show');
        $('#modal-goalset').modal('show');
        $('#modal-studytutorial').modal('show');
        $('#modal-testreport').modal('show');
        $('#modal-freepassinfo').modal('show');
        $('#modal-reviewdetail').modal('show');

    });
</script>
</body>
</html>