<main>

</main>

<div class="modal modal-md fade modal-fileupload" id="modal-rejectpop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">반려 사유 확인</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="textarea">
                            <p><span>(선생님명)</span> 선생님의 반려 이유</p>
                            <p><span>(응원의 한마디 내용)</span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="attachment pr">
                            <div class="attachment__file flex pr">
                                <input id="file" type="file" multiple>
                                <span class="attachment__name">반려된_자소서파일.docx</span>
                            </div>
                            <div class="attachment__note">
                                <p><span>반려 3일 내 재첨삭 파일을 제출</span>하세요.</p>
                                <p>3일 초과 시, 첨삭 요청이 마감됩니다. 꼭 기간 내 재신청바랍니다.</p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn_submit flex-center">재첨삭 신청</button>
                </form>
            </div>
        </div>
    </div>
</div>