<main>
    <div class="head_title pr">
        <h1>스터디</h1>
    </div>
    <div class="banner-study pr">
        <h4>합격하는 1%의 공부습관 만들기</h4>
        <h2>독한스터디</h2>
        <div class="text">
            <p>지금도 매일 500명이 넘는 스터디원들이</p>
            <p>공기업 최종합격을 위해 렛유인과 함께</p>
            <p><span>‘합격하는 1%의 공부습관’</span>을 만들어가고 있습니다.</p>
        </div>
        <a href="" title="" class="btn_view flex-center">자세히 보기 <i class="icon icon-arr"></i></a>
    </div>
    <div class="study mb-ft">
        <div class="study__list bt">
            <div class="header flex-lc">
                <h4>내가 수강한 스터디 (2)</h4>
                <div class="checkbox__list ml-auto flex">
                    <label class="flex-lc">
                        <input type="checkbox" name="">
                        <span class="checked flex-center"></span>
                        종료된 스터디
                    </label>
                </div>
            </div>
            <div class="bg_gray">
                <div class="note">최근 12개월간 참여한 스터디 정보가 노출됩니다.</div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="flex-lc">
                                    <time>2020.12.04 ~ <span>2021.03.10</span></time>
                                    <p class="ml-auto">남은 일수 : <span>34일</span></p>
                                </div>
                                <h3>NCS PSAT 독한스터디 1기</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn btn_research"></a>
                            </div>
                        </div>
                        <a href="" title="" class="btn_file"></a>
                    </div>
                    <div class="item__bt flex">
                        <p>누적 학습량: <span>00</span></p>
                        <p>누적 학습시간: <span>00</span></p>
                        <p>누적학습일수: <span>00</span></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="flex-lc">
                                    <time>2020.12.04 ~ <span>2021.03.10</span></time>
                                    <p class="ml-auto">남은 일수 : <span>34일</span></p>
                                </div>
                                <h3>모듈형 1기</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn btn_research"></a>
                            </div>
                        </div>
                        <a href="" title="" class="btn_file"></a>
                    </div>
                    <div class="item__bt flex">
                        <p>누적 학습량: <span>00</span></p>
                        <p>누적 학습시간: <span>00</span></p>
                        <p>누적학습일수: <span>00</span></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="flex-lc">
                                    <time>2020.12.04 ~ <span>2021.03.10</span></time>
                                    <p class="ml-auto">남은 일수 : <span>34일</span></p>
                                </div>
                                <h3>NCS PSAT 독한스터디 1기</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn btn_research"></a>
                            </div>
                        </div>
                        <a href="" title="" class="btn_file"></a>
                    </div>
                    <div class="item__bt flex">
                        <p>누적 학습량: <span>00</span></p>
                        <p>누적 학습시간: <span>00</span></p>
                        <p>누적학습일수: <span>00</span></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="flex-lc">
                                    <time>2020.12.04 ~ <span>2021.03.10</span></time>
                                    <p class="ml-auto">남은 일수 : <span>34일</span></p>
                                    <span class="tag end">종료</span>
                                </div>
                                <h3>모듈형 2기</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn btn_research"></a>
                            </div>
                        </div>
                        <a href="" title="" class="btn_file"></a>
                    </div>
                    <div class="item__bt flex">
                        <p>누적 학습량: <span>00</span></p>
                        <p>누적 학습시간: <span>00</span></p>
                        <p>누적학습일수: <span>00</span></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="flex-lc">
                                    <time>2020.12.04 ~ <span>2021.03.10</span></time>
                                    <p class="ml-auto">남은 일수 : <span>34일</span></p>
                                </div>
                                <h3>모듈형 1기</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn btn_research"></a>
                            </div>
                        </div>
                        <a href="" title="" class="btn_file"></a>
                    </div>
                    <div class="item__bt flex">
                        <p>누적 학습량: <span>00</span></p>
                        <p>누적 학습시간: <span>00</span></p>
                        <p>누적학습일수: <span>00</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">내게 맞는 NCS독한스터디 찾기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>