<main>

</main>
<div class="modal fade modal-lecture" id="modal-lecture">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="flex-center" data-toggle="modal" data-target="#modal-setting">맞춤검색설정</button>
                <h4 class="title">강의추가</h4>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="" method="" class="search flex-center pr">
                    <input type="text" placeholder="검색 강의명 입력">
                    <button type="reset" class="btn_remove"></button>
                    <button type="submit" class="btn_submit"></button>
                </form>
                <div class="lecture">
                    <div class="header flex">
                        <h5>강의 목록 (00)</h5>
                        <ul class="tab nav flex ml-auto">
                            <li><a href="#추천순" data-toggle="tab" class="active" title="">추천순</a></li>
                            <li><a href="#최신순" data-toggle="tab" title="">최신순</a></li>
                        </ul>
                        <div class="checkbox flex-center pr">
                            <input type="checkbox" checked>
                            <span class="checked"></span>
                        </div>
                    </div>
                    <div class="lecture__list">
                        <div class="item">
                            <div class="item__scroll">
                                <div class="scroll pr">
                                    <div class="content pr">
                                        <div class="tag flex">
                                            <span class="new">New</span>
                                            <span class="best">Best</span>
                                            <span class="nr">샘플강의</span>
                                        </div>
                                        <h3>(Lv.1 첫걸음) KLA-Tencor
                                            기업분석 & 직무분석
                                        </h3>
                                        <div class="info flex">
                                            <div class="info__item">샘플강의</div>
                                            <div class="info__item">30일</div>
                                            <div class="info__item">2차시</div>
                                            <div class="info__item flex-lc">
                                                <div class="rating pr"><div class="value" style="width: 60%;"></div></div>
                                                REVIEW<span>(1건)</span>
                                            </div>
                                        </div>
                                        <i class="icon icon-arr"></i>
                                    </div>
                                    <a href="" class="btn_play"></a>
                                </div>
                            </div>
                            <div class="checked"></div>
                        </div>
                        <div class="item">
                            <div class="item__scroll">
                                <div class="scroll pr">
                                    <div class="content pr">
                                        <h3>(Lv.1 첫걸음) KLA-Tencor
                                            기업분석 & 직무분석
                                        </h3>
                                        <div class="info flex">
                                            <div class="info__item">샘플강의</div>
                                            <div class="info__item">30일</div>
                                            <div class="info__item">2차시</div>
                                            <div class="info__item flex-lc">
                                                <div class="rating pr"><div class="value" style="width: 60%;"></div></div>
                                                REVIEW<span>(56건)</span>
                                            </div>
                                        </div>
                                        <i class="icon icon-arr"></i>
                                    </div>
                                    <a href="" class="btn_play"></a>
                                </div>
                            </div>
                            <div class="checked"></div>
                        </div>
                        <div class="item">
                            <div class="item__scroll">
                                <div class="scroll pr">
                                    <div class="content pr">
                                        <h3>(Lv.1 첫걸음) KLA-Tencor
                                            기업분석 & 직무분석
                                        </h3>
                                        <div class="info flex">
                                            <div class="info__item">샘플강의</div>
                                            <div class="info__item">30일</div>
                                            <div class="info__item">2차시</div>
                                            <div class="info__item flex-lc">
                                                <div class="rating pr"><div class="value" style="width: 60%;"></div></div>
                                                REVIEW<span>(56건)</span>
                                            </div>
                                        </div>
                                        <i class="icon icon-arr"></i>
                                    </div>
                                    <a href="" class="btn_play"></a>
                                </div>
                            </div>
                            <div class="checked"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" title="">선택 강의 추가 등록 <span>(12)</span></a>
            </div>
        </div>
    </div>
</div>