<main>

</main>
<div class="modal modal-md fade modal-refundstatus" id="modal-refundstatus">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h4 class="title">MY 환급신청 현황</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <ul class="refundstatus2">
                    <li>
                        <h5>1단계</h5>
                        <div class="text">
                            <p>학습일지 누적 <span>7</span>개</p>
                            <p>( <span>5,000</span> 원권 환급 )</p>
                        </div>
                        <span>환급 완료</span>
                    </li>
                    <li>
                        <h5>2단계</h5>
                        <div class="text">
                            <p>학습일지 누적 <span>14</span>개</p>
                            <p>( <span>5,000</span> 원권 환급 )</p>
                        </div>
                        <span>환급신청 완료</span>
                    </li>
                    <li>
                        <h5>3단계</h5>
                        <div class="text">
                            <p>학습일지 누적 <span>30</span>개</p>
                            <p>( <span>15,000</span> 원권 환급 )</p>
                        </div>
                        <span>-</span>
                    </li>
                    <li>
                        <h5>4단계</h5>
                        <div class="text">
                            <p>학습일지 누적 <span>50</span>개</p>
                            <p>( <span>25,000</span> 원권 환급 )</p>
                        </div>
                        <span>-</span>
                    </li>
                    <li>
                        <h5>5단계</h5>
                        <div class="text">
                            <p>학습일지 누적 <span>70</span>개</p>
                            <p>( <span>45,000</span> 원권 환급 )</p>
                        </div>
                        <span>-</span>
                    </li>
                </ul>
                <div class="box-text box-text-cs">
                    <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
                    <article>
                        <p>신청일 기준 최대 30일 이내 환급이 진행됩니다.</p>
                        <p class="mt-0">환급관련 문의는 <a href="" title="">고객센터</a> > <span>1:1문의</span>를 이용 부탁 <br> 드립니다.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>