<main>

</main>
<div class="modal modal-md fade modal-fileupload" id="modal-fileupload">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">자소서 제출</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="note">
                    첨부 가능 파일 : <span>*.hwp , *.doc</span> │ 파일용량 : <span>최대 5MB미만</span>
                    파일명에 꼭 “지원자이름_지원회사_사업부_직무”를 표기해주세요
                    <span>ex) 유이니_삼성전자_파운드리_공정기술.확장자</span>
                </div>
                <div class="guide">
                    <h4 class="flex-lc"><i class="icon icon-qs">?</i> 파일 첨부 안내</h4>
                    <article>
                        <p>
                            <span>이용 안내 및 주의 사항은 모두 확인하셨나요?</span>
                            - 첨삭은 영업일 기준으로 진행됩니다.
                            ex) 일반 첨삭 : 금요일 21시 요청 시, 차주 수요일 21시 이내
                            첨삭 완료
                        </p>
                        <p>
                            - 자소서첨삭은 한 개 기업의 한 가지 직무에 대한 문항만을 첨삭
                            가능합니다.
                            ※ 여러 개 기업, 여러 개 직무를 작성할 경우, 첨삭이 반려될 수
                            있습니다. <span>제출완료 시 파일 수정이 불가합니다.</span>
                        </p>
                    </article>
                </div>
                <button type="button" class="btn_confirm flex-center">확 인</button>
            </div>
        </div>
    </div>
</div>
