<main>

</main>
<div class="modal modal-m fade modal-contactus" id="modal-contactus">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 1:1문의</h4>
                <button type="button" class="btn_lb ml-auto">문의하기</button>
            </div>
            <div class="modal-body">
                <div class="time-register flex-lc">
                    <h5>회원가입</h5>
                    <time>2021-02-08 17:11(금)</time>
                </div>
                <div class="accordion">
                    <div class="accordion__item show">
                        <div class="accordion__header flex-lc">
                            <i class="icon icon-acc">Q</i>
                            <h4>고객이 입력한 제목이 자동으로 최대 2줄까지 노출됩니다.</h4>
                        </div>
                        <div class="accordion__content">
                            <article>
                                <p>
                                    고객이 입력한 문의상세 내용이 노출됩니다.
                                    상세 내용은 고객이 입력한 띄어쓰기,
                                    줄바꿈, 등이 그대로 반영되지만, html
                                    소스나 그림사입 등의 에디터는 모바일에서
                                    제공하지 않습니다. PC에서 1:1 문의를
                                    에디터로 입력한 경우, 모바일에서는 어떻게
                                    노출할지 결정이 필요합니다.
                                </p>

                                <p>
                                    # 고객사 확인사항
                                    1.제목과 내용 영역에 입력 가능한 글자 수
                                    범위 확인 필요(DB 필드)고려
                                </p>

                                <p>
                                    2. 첨부파일은 하나만 등록가능하고, 등록
                                    파일의 제한 용량 확인이 필요.
                                    (설계 3MB 제한함).
                                </p>

                                <p>
                                    3. 첨부 가능 파일 확장자는 이미지와 문서
                                    기준으로 지정함. 추가로 필요한 확장자가
                                    있는지 확인 필요
                                </p>
                            </article>
                            <div class="attachment">
                                <a href="" class="flex-lc"><i class="icon icon-attachment"></i> 첨부파일_이름과 확장자</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item show">
                        <div class="accordion__header flex-lc">
                            <i class="icon icon-acc" style="background: #525252; color: #fff;">A</i>
                            <h4>고객이 입력한 제목이 자동으로 최대 2줄까지 노출됩니다.</h4>
                        </div>
                        <div class="accordion__content">
                            <article>
                                <p>
                                    고객이 입력한 문의상세 내용이 노출됩니다.
                                    상세 내용은 고객이 입력한 띄어쓰기,
                                    줄바꿈, 등이 그대로 반영되지만, html
                                    소스나 그림사입 등의 에디터는 모바일에서
                                    제공하지 않습니다. PC에서 1:1 문의를
                                    에디터로 입력한 경우, 모바일에서는 어떻게
                                    노출할지 결정이 필요합니다.
                                </p>

                                <p>
                                    # 고객사 확인사항
                                    1.제목과 내용 영역에 입력 가능한 글자 수
                                    범위 확인 필요(DB 필드)고려
                                </p>

                                <p>
                                    2. 첨부파일은 하나만 등록가능하고, 등록
                                    파일의 제한 용량 확인이 필요.
                                    (설계 3MB 제한함).
                                </p>

                                <p>
                                    3. 첨부 가능 파일 확장자는 이미지와 문서
                                    기준으로 지정함. 추가로 필요한 확장자가
                                    있는지 확인 필요
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>