<div class="page-search">
    <div class="header pr">
        <a href="javascript: history.go(-1)" title="" class="back"></a>
        <h1>검색결과</h1>
    </div>
    <form action="" method="" class="search flex-center pr">
        <input type="text" placeholder="검색어를 입력하세요.">
        <button type="reset" class="btn_remove"></button>
        <button type="submit" class="btn_submit"></button>
    </form>
    <div class="result">
        <h4>“반도체” 관련 검색 결과가 00 개 있습니다.</h4>
        <ul class="result__list flex">
            <li class="active">
                <span>05</span>
                <h5>전체</h5>
            </li>
            <li>
                <span>02</span>
                <h5>이공계</h5>
            </li>
            <li>
                <span>01</span>
                <h5>공기업</h5>
            </li>
            <li>
                <span>00</span>
                <h5>SW/IT</h5>
            </li>
            <li>
                <span>02</span>
                <h5>학원강의</h5>
            </li>
        </ul>
    </div>
    <div class="banner_register">
        <div class="box-time flex">
            <div class="icon icon-time"><img src="./assets/img/clock.png" alt=""></div>
            <div class="count_down">
                <div class="flex">
                    <div class="down days">
                        <span class="time"></span>
                        <span class="txt">일</span>
                    </div>
                    <div class="down hours">
                        <span class="time"></span>
                        <span class="space">:</span>
                    </div>
                    <div class="down minutes">
                        <span class="time"></span>
                        <span class="space">:</span>
                    </div>
                    <div class="down seconds">
                        <span class="time"></span>
                    </div>
                </div>
            </div>
            <a href="" class="btn_apply flex-center ml-auto" title="수강신청">수강신청</a>
        </div>
        <div class="content">
            <a href="" class="banner_link">이공계 취업으로 가는 빠른 지름길</a>
            <h2>0원 취업끝장 프리패스</h2>
            <p>공채부터 수시채용까지!</p>
            <p>가장 효율적인 취업 준비 전략을 제시합니다!</p>
        </div>
    </div>
    <div class="search__acordion">
        <div class="item show">
            <div class="item__header flex-lc">
                <h2>이공계 온라인 강의 (2)</h2>
                <button type="button" class="btn_collapse dr ml-auto"></button>
            </div>
            <div class="item__content">
                <div class="post">
                    <div class="post__header">
                        <p>검증된 강의로 자소서+안적성+면접 한 번에 준비한다!</p>
                        <h3>REAL 삼성 프리패스 3+1개월 종합반</h3>
                    </div>
                    <div class="post__detail flex">
                        <a href="" class="img-thumbnail"></a>
                        <div class="detail">
                            <div class="tag flex">
                                <span class="new">New</span>
                                <span class="best">Best</span>
                                <span class="nr">샘플강의</span>
                            </div>
                            <div class="discount flex-lc">
                                <div class="flex-lc"><h5 class="red">마감임박</h5> <span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                                <p>299,000원</p>
                            </div>
                            <div class="price">189,000원</div>
                            <div class="info flex">
                                <p>120일</p>
                                <p>총 1169강</p>
                            </div>
                            <div class="follow pr navbar">
                                <h5 class="flex-lc">정지성 외 7 명</h5>
                                <button type="button" class="btn_collapse dr" data-toggle="dropdown"></button>
                                <ul class="follow__list flex">
                                    <li>나상무</li>
                                    <li>정지성</li>
                                    <li>주영훈</li>
                                    <li>우종석</li>
                                    <li>안재형</li>
                                    <li>한승아</li>
                                    <li>박창민</li>
                                    <li>석동훈</li>
                                </ul>
                            </div>
                            <div class="review flex-lc">
                                <div class="rating pr"><div class="value" style="width: 60%"></div></div>
                                <p>REVIEW <span>(56건)</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post__header">
                        <p>검증된 강의로 자소서+안적성+면접 한 번에 준비한다!</p>
                        <h3>REAL 삼성 프리패스 3+1개월 종합반</h3>
                    </div>
                    <div class="post__detail flex">
                        <a href="" class="img-thumbnail"></a>
                        <div class="detail">
                            <div class="tag flex">
                                <span class="best">Best</span>
                            </div>
                            <div class="discount flex-lc">
                                <div class="flex-lc"><h5 class="blue">모집중</h5> <span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                                <p>100,000원</p>
                            </div>
                            <div class="price">80,000원</div>
                            <div class="info flex">
                                <p>120일</p>
                                <p>총 1169강</p>
                            </div>
                            <div class="follow pr navbar">
                                <h5 class="flex-lc">정지성 외 7 명</h5>
                                <button type="button" class="btn_collapse dr" data-toggle="dropdown"></button>
                                <ul class="follow__list flex">
                                    <li>나상무</li>
                                    <li>정지성</li>
                                    <li>주영훈</li>
                                    <li>우종석</li>
                                    <li>안재형</li>
                                    <li>한승아</li>
                                    <li>박창민</li>
                                    <li>석동훈</li>
                                </ul>
                            </div>
                            <div class="review flex-lc">
                                <div class="rating pr"><div class="value" style="width: 60%"></div></div>
                                <p>REVIEW <span>(56건)</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item__header flex-lc">
                <h2>SW/IT 온라인 강의 (0)</h2>
                <button type="button" class="btn_collapse dr ml-auto"></button>
            </div>

        </div>
        <div class="item show">
            <div class="item__header flex-lc">
                <h2>학원강의 (2)</h2>
                <button type="button" class="btn_collapse dr ml-auto"></button>
            </div>
            <div class="item__content">
                <div class="post">
                    <div class="post__header">
                        <p>검증된 강의로 자소서+안적성+면접 한 번에 준비한다!</p>
                        <h3>REAL 삼성 프리패스 3+1개월 종합반</h3>
                    </div>
                    <div class="post__detail flex">
                        <a href="" class="img-thumbnail"></a>
                        <div class="detail">
                            <div class="tag flex">
                                <span class="new">New</span>
                                <span class="best">Best</span>
                                <span class="nr">샘플강의</span>
                            </div>
                            <div class="discount flex-lc">
                                <div class="flex-lc"><h5 class="red">마감임박</h5> <span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                                <p>299,000원</p>
                            </div>
                            <div class="price">189,000원</div>
                            <div class="info flex">
                                <p>2021.02.19(금) 14:00 ~ 17:00</p>
                            </div>
                            <div class="follow pr navbar">
                                <h5 class="flex-lc">정지성 외 22 명</h5>
                                <button type="button" class="btn_collapse dr" data-toggle="dropdown"></button>
                                <ul class="follow__list flex">
                                    <li>나상무</li>
                                    <li>정지성</li>
                                    <li>주영훈</li>
                                    <li>우종석</li>
                                    <li>안재형</li>
                                    <li>한승아</li>
                                    <li>박창민</li>
                                    <li>석동훈</li>
                                </ul>
                            </div>
                            <div class="author">
                                <span>강남캠퍼스</span> 현장강의
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post__header">
                        <p>검증된 강의로 자소서+안적성+면접 한 번에 준비한다!</p>
                        <h3>REAL 삼성 프리패스 3+1개월 종합반</h3>
                    </div>
                    <div class="post__detail flex">
                        <a href="" class="img-thumbnail"></a>
                        <div class="detail">
                            <div class="tag flex">
                                <span class="new">New</span>
                                <span class="best">Best</span>
                                <span class="nr">샘플강의</span>
                            </div>
                            <div class="discount flex-lc">
                                <div class="flex-lc"><h5 class="red">마감임박</h5> <span class="flex-lc">36% <i class="icon icon-discount"></i></span></div>
                                <p>299,000원</p>
                            </div>
                            <div class="price">189,000원</div>
                            <div class="info flex">
                                <p>2021.02.19(금) 14:00 ~ 17:00</p>
                            </div>
                            <div class="follow pr navbar">
                                <h5 class="flex-lc">정지성 외 22 명</h5>
                                <button type="button" class="btn_collapse dr" data-toggle="dropdown"></button>
                                <ul class="follow__list flex">
                                    <li>나상무</li>
                                    <li>정지성</li>
                                    <li>주영훈</li>
                                    <li>우종석</li>
                                    <li>안재형</li>
                                    <li>한승아</li>
                                    <li>박창민</li>
                                    <li>석동훈</li>
                                </ul>
                            </div>
                            <div class="author">
                                <span>강남캠퍼스</span> 현장강의
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
</div>