<main class="pt-0">
    <div class="login">
        <div class="login__img">
            <img src="./assets/img/logo5.png" alt="">
        </div>
        <form action="" method="" class="login__form">
            <div class="form-group">
                <input type="text" name="" placeholder="아이디">
                <i class="icon icon-user"></i>
            </div>
            <div class="form-group">
                <input type="password" name="" placeholder="비밀번호">
                <i class="icon icon-pass"></i>
            </div>
            <div class="checkbox pr">
                <label class="flex-lc">
                    <input type="checkbox" name="">
                    <span class="checked flex-center"></span>
                    아이디 저장
                </label>
            </div>
            <button type="button" class="btn_login flex-center">로그인</button>
        </form>
        <div class="login__link flex">
            <a href="" title="">아이디 찾기</a>
            <a href="" title="">비밀번호 찾기</a>
            <a href="" title="" class="active">회원가입</a>
        </div>
        <div class="login__other">
            <a href="" class="login_talk flex-lc"><i class="icon icon-talk"></i> 카카오톡 계정으로 로그인</a>
            <a href="" class="login_n flex-lc"><i class="icon icon-n"></i> 네이버 계정으로 로그인</a>
            <a href="" class="login_gg flex-lc"><i class="icon icon-gg"></i> 구글 계정으로 로그인</a>
        </div>
    </div>
</main>