<main>
    <div class="head_title pr">
        <h1>아이디 찾기</h1>
        <button type="button" class="btn_close"></button>
    </div>
    <div class="findid bg_gray mb-ft">
        <div class="findid__fail">
            <div class="img"><img src="./assets/img/icon-per.png" alt=""></div>
            <h4>입력하신 정보로 등록된 회원이 없습니다.</h4>
            <p class="preline">
                정보를 다시 확인하시고
                시도해주세요.
            </p>
            <button type="button" class="btn_register flex-center">회원가입</button>
        </div>
    </div>
</main>