<main>
    <div class="head_title pr">
        <h1>내가 담은 온라인 단과 강의</h1>
    </div>
    <div class="page-lecture">
        <div class="select pr">
            <select name="" id="">
                <option>박준범의 원샷 NCS! 모듈형+PSAT형...</option>
            </select>
        </div>
        <div class="info flex">
            <div class="time col-5">2020.12.04 ~ <span>2021.02.28</span></div>
            <div class="day col-3"><p><span>21</span>일</p>남은일수</div>
            <div class="process active col-4"><span>0.00％</span> 진도율 </div>
        </div>
        <div class="lecture pb-0">
            <h4>커리큘럼 (5)</h4>
            <div class="lecture__list bg-gray">
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>1차시</h5>
                            <span>31분 2초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 기업 및 채용 직무
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>2차시</h5>
                            <span>31분 2초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            환경차 트렌드: 전기차, 수소전기차
                            의 현재와 미래
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>3차시</h5>
                            <span>31분 2초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 채용 직무
                        </h3>
                        <p>(1) 본사: PM, 상품전략, 마케팅</p>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>4차시</h5>
                            <span>31분 2초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 채용 직무
                        </h3>
                        <p>(2) 본사: 영업/서비스, 경영기획, 재경, 홍보, 경영
                            지원, 신사업전략 & 연구개발: 선행기획, 차량설계/
                            평가, 파워트레인
                        </p>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>5차시</h5>
                            <span>31분 2초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 채용 직무
                        </h3>
                        <p>
                            직무 (3) 연구개발: SW, 파이롯트, 재료, 기술경영,
                            해석/도면검증, 디자인 & 제조: 부품개발/구매,
                            생산운영, 생산기술, 품질, 보전기술, 시설운영 &
                            주재원
                        </p>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt flex">
        <div class="col-6">
            <a href="" class="link_wr flex-center"><i class="icon icon-wr"></i> 후기작성</a>
        </div>
        <div class="col-6">
            <a href="" class="link_qa flex-center"><i class="icon icon-qa"></i> 강의질문</a>
        </div>
    </div>
    <a href="" title="" class="talk">talk</a>
</main>