<main>
    <div class="head_title pr">
        <h1>회원탈퇴</h1>
    </div>
    <div class="widthdrawal">
        <div class="widthdrawal__note">
            <p>
                그 동안 렛유인에 깊은 애정과 관심을 주셔서
                진심으로 감사 드립니다.
            </p>
            <p>
                회원탈퇴 후 다음과 같이 <span>홍길동</span> 님의 개인정보가
                삭제 되오니 신중하게 선택하시기 바랍니다.
            </p>
        </div>
        <div class="widthdrawal__check">
            <h4>회원탈퇴 전 확인하세요!!</h4>
            <div class="box-text">
                <p>탈퇴 요청하신 “ <span>letuin</span>“ 아이디로 재가입은 불가능합니다.</p>

                <p>회원가입 시 입력한 개인정보는 모두 삭제 됩니다.</p>

                <p>
                    현재 보유하신 포인트 <span>100,000P</span>와 렛머니 <span>10,000원</span>
                    그리고 할인쿠폰은 <span>모두 삭제</span>됩니다.
                </p>

                <p>
                    부득이한 사정으로 수강이 불가한 경우, 최대 1회, 15일 수강을
                    일시 중지하실 수 있습니다. (패키지 및 특정 강좌 휴강 제외)
                </p>
            </div>
        </div>
        <div class="widthdrawal__confirm">
            <h4>비밀번호 확인</h4>
            <p>고객님의 회원정보를 안전하게 보호하기 위해 비밀번호를
                다시 한 번 확인 합니다.
            </p>
            <form action="" class="widthdrawal__form">
                <input type="password" name="" placeholder="비밀번호 입력">
                <button type="submit" class="btn_submit">회원탈퇴</button>
            </form>
        </div>
    </div>
</main>