<main>
    <div class="category pr">
        <ul class="category__list category__list--1 flex">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <ul class="category__list category__list--2 flex" style="display: none">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <button type="button" class="btn_collapse"></button>
    </div>
    <div class="textbooklist bg-gray mb-ft">
        <ul class="textbooklist__category flex">
            <li><a href="" type="" class="active">전체</a></li>
            <li><a href="" type="">취업/면접</a></li>
            <li><a href="" type="">직무적성검사</a></li>
            <li><a href="" type="">자격증</a></li>
            <li><a href="" type="">SW/IT취업</a></li>
            <li><a href="" type="">공기업 NCS</a></li>
        </ul>
        <div class="textbooklist__post">
            <div class="post flex">
                <a href="" title="" class="post__img"></a>
                <div class="post__content">
                    <h3><a href="">이자면 관통하기 – 이력서/ 자소서편 면접 반도체</a></h3>
                    <p>검증된 강의로 자소서 + 안적성 + 면접 한 번에 준비한다!</p>
                    <a href="" title="" class="btn_order flex-center">주문하기</a>
                </div>
                <div class="post__bottom flex">
                    <a href="" class="flex-center"><i class="icon icon-dl"></i> 구매 혜택받기</a>
                    <a href="" class="flex-center"><i class="icon icon-check"></i> 정오표 확인</a>
                </div>
            </div>
            <div class="post flex">
                <a href="" title="" class="post__img"></a>
                <div class="post__content">
                    <h3><a href="">이자면 관통하기 – 이력서/ 자소서편 면접 반도체</a></h3>
                    <p>검증된 강의로 자소서 + 안적성 + 면접 한 번에 준비한다!</p>
                    <a href="" title="" class="btn_order flex-center">주문하기</a>
                </div>
                <div class="post__bottom flex">
                    <a href="" class="flex-center"><i class="icon icon-dl"></i> 구매 혜택받기</a>
                    <a href="" class="flex-center"><i class="icon icon-check"></i> 정오표 확인</a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>

