<main>

</main>
<div class="modal fade modal-notice" id="modal-notice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 알림</h4>
                <button type="reset" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="header flex">
                    <h5>미확인(00)</h5>
                    <div class="remove flex ml-auto">
                        <a href="" title="">읽은 알림 삭제</a>
                        <a href="" title="">모두 삭제</a>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                    <div class="notice__content">
                        <p>
                            100%무료! 100%라이브로 보는 이공계
                            취업 무료 특강!설문지를 작성하시면,
                            라이브 무료 특강 방송 시작 전, 방송 시청
                            안내 문자를 보내드립니다. ^^
                        </p>
                        <a href="" class="flex-center">라이브 사전 알리미 신청서 작성하기 <i class="icon icon-arr"></i></a>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>