<main>
    <div class="head_title pr">
        <h1>회원가입</h1>
    </div>
    <div class="box-form mb-ft">
        <form action="" class="form-edit">
            <fieldset>
                <div class="fil_title flex">
                    <h5>기본정보</h5>
                    <p class="ml-auto mr-3"><span class="sup"> * </span> 필수항목</p>
                    <ul class="step flex-lc">
                        <li><a href="" class="active">1</a></li>
                        <li><span class="space"></span></li>
                        <li><a href="">2</a></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>이름 </label>
                    <input type="text" value="홍길동" readonly>
                </div>
                <div class="form-group">
                    <label>성별 <span class="sup">*</span></label>
                    <div class="select flex">
                        <label class="item flex-lc pr">
                            <input type="radio" name="sex" checked>
                            <span class="checked"></span>
                            남자
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="sex">
                            <span class="checked"></span>
                            여자
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>생년월일 <span class="sup">*</span></label>
                    <div class="group_list birth flex">
                        <div class="box-select">
                            <select name="" id="year">
                                <option>생년</option>
                                <option>1950년</option>
                                <option>1951년</option>
                                <option>1952년</option>
                                <option>1953년</option>
                                <option>1954년</option>
                                <option>1955년</option>
                                <option>1956년</option>
                                <option>1957년</option>
                                <option>1958년</option>
                                <option>1959년</option>
                                <option>1960년</option>
                                <option>1961년</option>
                                <option>1962년</option>
                                <option>1963년</option>
                                <option>1964년</option>
                                <option>1965년</option>
                                <option>1966년</option>
                                <option>1967년</option>
                                <option>1968년</option>
                                <option>1969년</option>
                                <option>1970년</option>
                                <option>1971년</option>
                                <option>1972년</option>
                                <option>1973년</option>
                                <option>1974년</option>
                                <option>1975년</option>
                                <option>1976년</option>
                                <option>1977년</option>
                                <option>1978년</option>
                                <option>1979년</option>
                                <option>1980년</option>
                                <option>1981년</option>
                                <option>1982년</option>
                                <option>1983년</option>
                                <option>1984년</option>
                                <option>1985년</option>
                                <option>1986년</option>
                                <option>1987년</option>
                                <option>1988년</option>
                                <option>1989년</option>
                                <option>1990년</option>
                                <option>1991년</option>
                                <option>1992년</option>
                                <option>1993년</option>
                                <option>1994년</option>
                                <option>1995년</option>
                                <option>1996년</option>
                                <option>1997년</option>
                                <option>1998년</option>
                                <option>1999년</option>
                                <option>2000년</option>
                                <option>2001년</option>
                                <option>2002년</option>
                                <option>2003년</option>
                                <option>2004년</option>
                                <option>2005년</option>
                                <option>2006년</option>
                                <option>2007년</option>
                                <option>2008년</option>
                                <option>2009년</option>
                                <option>2010년</option>
                                <option>2011년</option>
                                <option>2012년</option>
                                <option>2013년</option>
                                <option>2014년</option>
                                <option>2015년</option>
                                <option>2016년</option>
                                <option>2017년</option>
                                <option>2018년</option>
                                <option>2019년</option>
                                <option>2020년</option>
                                <option>2021년</option>

                            </select>
                        </div>
                        <div class="box-select">
                            <select name="" id="month">
                                <option>월</option>
                                <option>1월</option>
                                <option>2월</option>
                                <option>3월</option>
                                <option>4월</option>
                                <option>5월</option>
                                <option>6월</option>
                                <option>7월</option>
                                <option>8월</option>
                                <option>9월</option>
                                <option>10월</option>
                                <option>1q월</option>
                                <option>12월</option>
                            </select>
                        </div>
                        <div class="box-select">
                            <select name="" id="day">
                                <option>일</option>
                                <option>1일</option>
                                <option>2일</option>
                                <option>3일</option>
                                <option>4일</option>
                                <option>5일</option>
                                <option>6일</option>
                                <option>7일</option>
                                <option>8일</option>
                                <option>9일</option>
                                <option>10일</option>
                                <option>11일</option>
                                <option>12일</option>
                                <option>13일</option>
                                <option>14일</option>
                                <option>15일</option>
                                <option>16일</option>
                                <option>17일</option>
                                <option>18일</option>
                                <option>19일</option>
                                <option>21일</option>
                                <option>22일</option>
                                <option>23일</option>
                                <option>24일</option>
                                <option>25일</option>
                                <option>26일</option>
                                <option>27일</option>
                                <option>28일</option>
                                <option>29일</option>
                                <option>30일</option>
                                <option>31일</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>휴대전화</label>
                    <input type="text" name="" value="010-1234-5678" readonly>
                </div>
                <div class="form-group">
                    <label>아이디 <span class="sup">*</span></label>
                    <input class="nick" type="text" name="" placeholder="6~12자 영문 (숫자 혼용 가능)">
                    <button type="button" class="btn_check btn-sm">중복확인</button>
                </div>
                <div class="form-group">
                    <label>비밀번호 <span class="sup">*</span></label>
                    <input class="w-100" type="password" placeholder="6~12자 영문 (숫자 혼용 가능)">
                </div>
                <div class="form-group">
                    <label>비밀번호 확인 <span class="sup">*</span></label>
                    <input class="w-100" type="password" placeholder="비밀번호 재입력">
                </div>
                <div class="form-group">
                    <label>이메일 <span class="sup">*</span></label>
                    <div class="group_list email mt">
                        <div class="group flex-lc flex-nw">
                            <input type="text" name="" placeholder="이메일">
                            <span>@</span>
                            <input class="gray" type="text" name="" placeholder="직접입력">
                        </div>
                        <div class="group flex">
                            <div class="box-select">
                                <select name="">
                                    <option>직접입력</option>
                                </select>
                            </div>
                            <button type="button" class="btn_check">중복확인</button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="fil_title">
                    <h5>맞춤정보</h5>
                </div>
                <div class="form-group">
                    <label>희망기업 <span class="sup">*</span></label>
                    <div class="select flex">
                        <label class="item flex-lc pr">
                            <input type="radio" name="company" checked>
                            <span class="checked"></span>
                            모두
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="company">
                            <span class="checked"></span>
                            공기업
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="company">
                            <span class="checked"></span>
                            이공계 대기업
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>최종학력 <span class="sup">*</span></label>
                    <div class="select flex">
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu" checked>
                            <span class="checked"></span>
                            대학교
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            석사
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            박사
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            고졸
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>학교 <span class="sup">*</span></label>
                    <input class="w-100" type="text" name="" placeholder="학교명을 입력하세요.">
                </div>
                <div class="form-group">
                    <label>재학기간 <span class="sup">*</span></label>
                    <div class="time_register flex-lc">
                        <div class="time flex-lc pr"><span id="time1">입학년월</span> <i class="icon icon-calendar"></i></div>
                        <div class="space">-</div>
                        <div class="time flex-lc pr"><span id="time2">졸업년월</span> <i class="icon icon-calendar"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <label>학과/전공분류 <span class="sup">*</span></label>
                    <div class="box-select w-100 ml-0">
                        <select name="">
                            <option>학과를 선택해 주세요.</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="bottom flex">
                <button type="submit" class="btn_submit flex-center w-100">회원가입</button>
            </div>
        </form>
    </div>
</main>