<main>

</main>
<div class="modal fade modal-addinfo" id="modal-compop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">1:1맞춤강의추천 상담</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="discount bg_gray">
                   <div class="discount__header">
                       <span>렛유인 반값 할인 쿠폰</span>으로 <br>
                       추천 강의를 수강해보세요!
                   </div>
                    <div class="discount__item">
                        <h5>온라인 단과 강의</h5>
                        <span class="precent flex">50 <small>%</small></span>
                        <p>할인쿠폰 지급</p>
                    </div>
                    <div class="discount__note">
                        ※ 반값 할인 쿠폰은 <span>마이페이지 – 할인쿠폰</span>에서 확인 가능합니다.
                        ※ 렛유인 온라인 공기업 · 이공계 단과 콘텐츠만 사용 가능합니다.
                        ※ 렛유인 자체 콘텐츠 외 제휴 강의 구매 시 사용 불가합니다.
                    </div>
                    <button type="button" class="btn_apply btn_se flex-center">혜택받고 시작하기</button>
                </div>
            </div>
        </div>
    </div>
</div>