<main>
    <div class="head_title pr">
        <h1>수강 중 온라인 강좌</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="academy">
        <h4>수강중인 강의(2)</h4>
        <div class="academy__list">
            <div class="item">
                <div class="item__header flex-lc">
                    <p>수정기간 : <span>2021.03.01</span></p>
                    <p>강의 시간 : <span>20</span> 시간</p>
                </div>
                <div class="item__content">
                    <h3>SK하이닉스 자소서 사생결단 단과반 1기(봉민수)</h3>
                </div>
                <div class="item__bt">
                    수정기간 : 2021.01.01~<span>2021.02.15</span>
                </div>
            </div>
            <div class="item">
                <div class="item__header flex-lc">
                    <p>수정기간 : <span>2021.03.01</span></p>
                    <p>강의 시간 : <span>20</span> 시간</p>
                </div>
                <div class="item__content">
                    <h3>SK하이닉스 자소서 사생결단 단과반 1기(봉민수)</h3>
                </div>
                <div class="item__bt">
                    수정기간 : 2021.01.01~<span>2021.02.15</span>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="/letuin/build/LUIM_MR_ADD_LCPop.html" class="flex-center">강의추가 수강신청하기 <i class="icon icon-play"></i></a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>