<main>
    <div class="head_title pr">
        <h1>종료된 콘텐츠</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="ended">
        <div class="statisticals">
            <ul class="flex">
                <li class="col-3 active">
                    <span>0</span>
                    <h5>전체</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>프리패스</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>온라인</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>학원</h5>
                </li>
            </ul>
            <ul class="flex">
                <li class="col-3">
                    <span>0</span>
                    <h5>공장실습</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>모의고사</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>취업기업분석</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>자소서첨삭</h5>
                </li>
            </ul>
        </div>
        <div class="ended__info box-collapse">
            <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
                <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#emplyee__info"></button>
            </div>
            <div class="collapse" id="emplyee__info">
                <div class="box-text">
                    <p>아래 강의를 좌측으로 밀면, “후기작성 / 열람하기”가 가능합니다.</p>

                    <p>기간 내 무제한 열람이 가능합니다.
                        (패키지의 경우 인쇄는 10회 제한이 있습니다.)</p>

                    <p>
                        신청일로부터 열람 기간이 차감되오니, 기간 내 열람할 수 있도록
                        주의해주시기 바랍니다.
                    </p>

                    <p>
                        인쇄는 PC버전 사이트를 통해 기간 내 횟수 제한 없이 출력이
                        가능합니다.
                    </p>

                    <p>
                        열람 기간이 만료된 기업분석자료는 ‘종료된 콘텐츠‘ 메뉴에서
                        확인 가능합니다.
                    </p>

                </div>
            </div>
        </div>
        <div class="ended__list bt">
            <div class="header flex-lc">
                <h4>콘텐츠(2)</h4>
            </div>
            <div class="bg_gray">
                <div class="note">아래 강의를 <span>좌측으로 밀면</span>, ‘자소서 등록 / 다운로드 / 후기작성’을 할 수 있어요.</div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="content__header flex-lc">
                                    <h5>온라인</h5>
                                    <div class="status">패키지</div>
                                </div>
                                <h3>NCS 온라인 모의고사 (PSAT형)</h3>
                                <time>수강기간 : 2020.12.04 ~ <span>2021.02.28</span></time>
                                <div class="pre">진도율 : <span>0.00 %</span> / 70.00 %</div>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_register"></a>
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn_dl"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="content__header flex-lc">
                                    <h5>공장실습</h5>
                                    <div class="status finish">공장실습</div>
                                </div>
                                <h3>NCS 온라인 모의고사 (PSAT형)</h3>
                                <time>수강기간 : 2020.12.04 ~ <span>2021.02.28</span></time>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_register"></a>
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn_dl"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>