<main>
    <div class="head_title pr">
        <h1>프리패스</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>

    </div>
    <div class="course">
        <div class="course__list">
            <h4>수강 중인 강좌 (2)</h4>
            <div class="item pr">
                <time>2020.12.04 ~ <span>2021.02.28</span></time>
                <div class="progress">진도율: <span>0.00 %</span>(70.00 %)</div>
                <h3>(렛유인) 취업끝장 프리패스 6개월 종합반ver 2.0 </h3>
                <div class="info flex">
                    <p>남은 일수 : 21일</p>
                    <p>강의수 : 6</p>
                </div>
                <button type="button" class="btn_view"><i class="icon icon-file"></i></button>
            </div>
            <div class="item pr">
                <time>2020.12.04 ~ <span>2021.02.28</span></time>
                <div class="progress">진도율: <span>0.00 %</span>(70.00 %)</div>
                <h3>(렛유인) 취업끝장 프리패스 6개월 종합반ver 2.0 </h3>
                <div class="info flex">
                    <p>남은 일수 : 21일</p>
                    <p>강의수 : 6</p>
                </div>
                <button type="button" class="btn_view"><i class="icon icon-w"></i></button>
            </div>
        </div>
    </div>

    <div class="notes bgt">
        <div class="notes__header flex-lc">
            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
            <button type="button" class="btn_collapse dr" data-toggle="collapse" data-target="#notes"></button>
        </div>
        <div class="notes__content collapse_content collapse show" id="notes">
            <div class="box-text">
                <p>· 환급 조건은 6+1개월 “0”원 프리패스는 120일 연속, 3개월 “0”원
                    프리패스는 90일 연속 출석해야 합니다.</p>
                <p>· 환급 신청은 프리패스 종료 후 30일 이내 가능합니다. (기간 초과 시
                    신청이 불가합니다.)</p>
                <p>· (환급 신청) 선택 후 정보 입력하시면, 환급
                    접수되고 조건 확인 후 입력한 환급계좌로 입금됩니다.
                    (제세공과금 22% 제외 후 환급)</p>
                <p>· 단, 출석미션 프리패스는 종료 후
                    “종료된 콘텐츠” 메뉴에서 환급 신청 가능합니다.</p>
                <p>· 환급 처리 기간은 환급 조건 확인 과정으로 인해 최대 30일이
                    소요됩니다.</p>
                <p>· 환급 조건보다 부족한 출석 일수로 인한 일부 환급은 불가합니다.</p>
            </div>
        </div>
    </div>
    <div class="notes_other">
        ※ 기타 프리패스 문의사항은 ‘0원 취업끝장 프리패스 자세히보기’를
        참고 바랍니다.
    </div>
    <div class="nav-link flex">
        <a href="javascript:;" title="" class="col-4" data-toggle="modal" data-target="#modal-guidebook">취업핵심가이드북</a>
        <a href="https://ncs.letuin.com/download/freepass_guide.pdf" target="_blank" title="" class="col-4">프리패스이용안내</a>
        <a href="javascript:;" title="" class="col-4" data-toggle="modal" data-target="#modal-ncsinfo">NCS강의 이용안내</a>
    </div>
    <div class="nav-bt flex-center w100">
        <a href="javascript:;" class="flex-center" data-toggle="modal" data-target="#modal-freepassinfo"><i class="icon icon-qs">?</i> 신규강의 확인 및 프리패스 이용안내 보기</a>
    </div>
    <a href="" title="" class="talk">talk</a>
</main>
<div class="modal modal-md fade modal-freepassinfo" id="modal-freepassinfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">NCS 강의를 이용 중이신가요?</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="text preline">
                    <span>공지사항 및 업데이트 강의</span>
                    안녕하세요! 렛유인입니다.
                    프리패스 구매해주시고 이용해주셔서 감사합니다.
                    아래의 이용 안내를 확인 후 프리패스를 이용 바랍니다.
                </div>
                <div class="box-text">
                    <h4 class="flex-lc"><i class="icon icon-qs">?</i> 프리패스 이용안내</h4>
                    <article>
                        <p>1. 강의 및 기간</p>
                        <p>· 구매 수강 기간 내에 렛유인 모든 온라인 강의 이용 가능</p>
                        <p>· 프리패스 수강 기간 내 등록 기기에서 무한 수강 가능</p>
                        <br>
                        <p>2. 기기 등록</p>
                        <p>· 총 3대 기기 등록 가능 ( 1회에 한하여 기기 변경 가능)</p>
                        <p>· PC(윈도우/MAC), 모바일, 태블릿 등 모든 기기 등록 가능</p>
                        <br>
                        <p>3. 출석 안내</p>
                        <p>· 출석 인정 수강 시간은 25분이며, 출석체크를 하셔야</p>
                        <p>“출석”: 처리</p>
                        <br>
                        <p>4. 신규강의 및 업데이트 강의</p>
                        <a href="" title="" class="btn_check">업데이트 강의 확인</a>
                    </article>
                </div>
                <div class="text preline">
                    렛유인이 여러분의 취업 합격의 동반자가 되겠습니다.
                    이공계 취업 1위 렛유인 드림.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-guidebook" id="modal-guidebook">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>취업가이드북</h4>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="" method="" class="search flex-lc pr">
                    <input type="text" placeholder="검색어를 입력하세요.">
                    <button type="reset" class="btn_remove"></button>
                    <button type="submit" class="btn_submit"></button>
                </form>
                <div class="title">
                    강좌 : [렛유인] 취업끝장 프리패스 6개월 종합반ver 2.0
                </div>
                <div class="pdf">
                    <h5>총 <span>00개</span></h5>
                    <div class="pdf__list flex">
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 한화첨단소재</h6>
                            <a href="" title="" class="btn_pdf active flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 현대위니아</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 한화큐셀</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 삼성엔지니어링</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 기아자동차</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 포스코</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 르노삼성</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 두산퓨어셀</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 두산</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-md fade modal-ncsinfo" id="modal-ncsinfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">NCS 강의를 이용 중이신가요?</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <ul class="modal_tab nav flex">
                    <li><a href="#tab1" title="" data-toggle="tab" class="active">수강 유의사항</a></li>
                    <li><a href="#tab2" title="" data-toggle="tab">수료증 발급 기준</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade show active">
                        <div class="box-text">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i>프리패스로 NCS 강의 수강 시 <span>유의사항</span></h4>
                            <article>
                                <h5>출석체크 안내</h5>
                                <p>NCS 강의는 별도의 수강 환경에서 수강이
                                    진행되므로 출석체크를 위한 수강 카운트에 포함되지
                                    않습니다. 따라서 “NCS수료증” 외 출석 시간 체크가
                                    가능한 다른 강의를 추가 수강바랍니다.</p>
                            </article>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <h4 class="h4-title flex-lc"><i class="icon icon-qs">?</i>NCS 수료증 발급 기준</h4>
                        <div class="banner-title text-center">진도율, 평가점수, 수강기간 <span>세 가지만 체크하세요!</span></div>
                        <div class="note text-center">
                            <h5 class="preline">수강기간 내 진도율과 평가점수가 충족될 경우,
                                수료증 출력이 가능합니다.</h5>
                            <p>※ 재시험 신청은 1:1개시판을 이용해주세요.</p>
                        </div>
                        <div class="box-text box-text-cs">
                            <h4>1. 진도율</h4>
                            <p>각 차시 진도율 80% 이상 시 해당 차시 완료로
                                인정되고, <span>전체 진도율이 80% 이상일 때 수료
                                기준이 충족됩니다.</span>
                            </p>
                            <p class="sm">※ 하루에 최대 8차시까지 수강할 수 있습니다.</p>
                            <hr>
                            <h4>2. 평가점수</h4>
                            <p>모든 평가에 참여하시고, <span>평가점수의 총합이
                                수료기준(60점)을 넘기면 수료증이 발급됩니다.</span>
                            </p>
                            <p class="sm">※ 토론의 경우, 주어진 주관식 문항에 답안을 작성하시면 참여로 인정됩니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>