<main>
    <div class="head_title pr">
        <h1>수강 중 프리패스 강좌</h1>
    </div>
    <div class="page-lecture">
        <div class="select-2-container">
            <select class="select-2" name="" id="">
                <option>수강 중인 프리패스 강좌를 선택하세요.</option>
                <option>(렛유인) 취업끝장 프리패스 6개월 종합반ver 2.0</option>
                <option>(렛유인) 취업끝장 프리패스 3개월 종합반ver 3.0</option>
            </select>
        </div>
        <div class="info flex">
            <div class="time col-5">2020.12.04 ~ <span>2021.02.28</span></div>
            <div class="day col-3"><p><span>21</span>일</p>남은일수</div>
            <div class="process col-4"><span>0.00％</span> 진도율 </div>
        </div>
        <div class="box-text">
            <h5>이용 안내</h5>
            <p>아래 강의를 좌측으로 밀면, <span>‘삭제/후기작성/즐겨찾기’</span> 을 할 수 있어요.
                한 프리패스당 즐겨찾기는 최대 5개의 강의만 가능합니다.
            </p>
        </div>
        <div class="lecture freepasslc pb-0">
            <h4>내가 담은 강의리스트(6)</h4>
            <div class="lecture__list bg-gray">
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="progress">진도율 : <span>0.00 %</span>(70.00 %)</div>
                                <h3>(Lv.1 첫걸음) KLA-Tencor 기업분석 & 직무분석</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_remove"></a>
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn_rating"></a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn_download"></button>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="progress">진도율 : <span>0.00 %</span>(70.00 %)</div>
                                <h3>(Lv.1 첫걸음) KLA-Tencor 기업분석 & 직무분석</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_dl"></a>
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn_rating"></a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn_download"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="notes">
        <div class="notes__header flex-lc">
            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
            <button type="button" class="btn_collapse collapsed dr" data-toggle="collapse" data-target="#notes"></button>
        </div>
        <div class="notes__content collapse_content collapse" id="notes">
            <div class="box-text" style="background: #fff;">
                <p>※ 기타 프리패스 문의사항은 ‘0원 취업끝장 프리패스 자세히보기’를
                    참고 바랍니다.</p>
            </div>
        </div>
    </div>


    <div class="nav-link mt-4 flex">
        <a href="" title="" class="col-4">취업핵심가이드북</a>
        <a href="" title="" class="col-4">프리패스이용안내</a>
        <a href="" title="" class="col-4">NCS강의 이용안내</a>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">강의 추가</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>