<main>

</main>
<div class="modal fade modal-guidebook" id="modal-guidebook">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>취업가이드북</h4>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="" method="" class="search flex-lc pr">
                    <input type="text" placeholder="검색어를 입력하세요.">
                    <button type="reset" class="btn_remove"></button>
                    <button type="submit" class="btn_submit"></button>
                </form>
                <div class="title">
                    강좌 : [렛유인] 취업끝장 프리패스 6개월 종합반ver 2.0
                </div>
                <div class="pdf bg_gray">
                    <h5>총 <span>0개</span></h5>
                    <div class="notifi">
                        <div class="img"><img src="./assets/img/icon-pdf.png" alt=""></div>
                        <p>제공하는 PDF가 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>