<main class="main-h">
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <div class="carts">
        <div class="carts__detail flex-lc pr">
            <button type="button" class="btn_collapse"></button>
            <div class="info">
                <h4>강의</h4>
                <p>(Lv.3 집중완성) 반도체 공정설비 핵심이론</p>
            </div>
            <div class="price">
                <div class="price__old">299,000원</div>
                <div class="price__discount flex-lc">36% <i class="icon icon-discount"></i></div>
                <div class="price__current">189,000원</div>
            </div>
        </div>
        <div class="carts__amount">
            <h4>주문금액</h4>
            <ul>
                <li>
                    <h5>강의</h5>
                    <span>80,000 원</span>
                </li>
                <li>
                    <h5>도서</h5>
                    <span>0 원</span>
                </li>
                <li>
                    <h5>자료</h5>
                    <span>0 원</span>
                </li>
            </ul>
        </div>
        <div class="carts__total flex-lc">
            <h4>총 결제금액</h4>
            <span>189,000원</span>
        </div>
    </div>
    <div class="s-action w-5 flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
    </div>
</main>