<main>

</main>
<div class="modal fade modal-category" id="modal-category">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn_link flex">
                    <a href="" title="로그아웃">로그아웃</a>
                </div>
                <button type="button" class="btn_notifi ml-auto pr" data-toggle="modal" data-target="#modal-notice"><span class="flex-center">N</span></button>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <ul class="menu_link flex">
                    <li><a href=""><i class="icon icon-class"></i> 내강의실</a></li>
                    <li><a href=""><i class="icon icon-history"></i> 결제내역</a></li>
                    <li><a href=""><i class="icon icon-transport"></i> 도서배송현황</a></li>
                </ul>
                <div class="menu-accordion">
                    <div class="toggle-accordion">
                        <button type="button" class="expand_all flex-lc">전체메뉴열기 <span>+</span></button>
                        <button type="button" class="colpand_all flex-lc">전체메뉴닫기 <span>-</span></button>
                    </div>
                    <div class="item show">
                        <div class="header flex-lc">
                            <h4>이공계 취업</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                            <li><a href="">패키지 수강신청</a></li>
                            <li><a href="">NCS수료증 발급강의</a></li>
                            <li><a href="">0원 프리패스</a></li>
                            <li><a href="">삼성 프리패스</a> </li>
                            <li><a href="">삼성 프리패스</a></li>
                            <li><a href="">NCS수료증 발급 강의</a></li>
                            <li><a href="">0원 프리패스</a></li>
                            <li><a href="">삼성 프리패스</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="header flex-lc">
                            <h4>공기업 취업</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="header flex-lc">
                            <h4>SW/IT 취업</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="header flex-lc">
                            <h4>학원 강의</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                        </ul>
                    </div>
                </div>
                <div class="banner-modal flex-center">
                    이벤트 배너 노출
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i> FAQ</a>
                <a href=""><i class="icon icon-wr"></i> 1:1맞춤상담</a>
                <a href=""><i class="icon icon-phone"></i> 1:1문의</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-notice" id="modal-notice">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 알림</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="header flex">
                    <h5>미확인(00)</h5>
                    <div class="remove flex ml-auto">
                        <a href="" title="">읽은 알림 삭제</a>
                        <a href="" title="">모두 삭제</a>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                    <div class="notice__content">
                        <p>
                            100%무료! 100%라이브로 보는 이공계
                            취업 무료 특강!설문지를 작성하시면,
                            라이브 무료 특강 방송 시작 전, 방송 시청
                            안내 문자를 보내드립니다. ^^
                        </p>
                        <a href="" class="flex-center">라이브 사전 알리미 신청서 작성하기 <i class="icon icon-arr"></i></a>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <div class="notice__header pr">
                        <div class="notice__scroll flex">
                            <div class="scr pr">
                                <i class="icon icon-tick"></i>
                                <h5>2월 9일 “자소서첨삭” 등록 마감 하루...</h5>
                                <time>2021-02-09 09:00:00</time>
                                <button type="button" class="btn_collapse"></button>
                            </div>
                            <button type="button" class="btn_remove flex-center"><i class="icon icon-remove"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>