<main>

</main>
<div class="modal fade modal-application" id="modal-application">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">합격미션 프리패스 환급신청</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="txt">
                    ※ 합격 후기를 먼저 작성한 후 신청 바랍니다.
                </div>
                <div class="box-form">
                    <form action="" method="">
                        <fieldset>
                            <div class="fil_title flex">
                                <h5>회원정보</h5>
                                <p><span class="sup"> * </span> 필수항목</p>
                            </div>
                            <div class="form-group">
                                <label>아이디 </label>
                                <input class="w-100" type="text" name="" value="">
                            </div>
                            <div class="form-group">
                                <label>이름</label>
                                <input class="w-100" type="text" name="" value="">
                            </div>
                            <div class="form-group">
                                <label>휴대전화 </label>
                                <div class="group_list">
                                    <div class="group">
                                        <input type="number" name="" placeholder="숫자만 입력하세요">
                                        <button type="button" class="btn_request blue">인증요청</button>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset>
                            <div class="fil_title flex">
                                <h5>환급 정보</h5>
                                <p><span class="sup"> * </span> 필수항목</p>
                            </div>
                            <div class="form-group">
                                <label>환급은행 <span class="sup">*</span></label>
                                <div class="box-select">
                                    <select name="">
                                        <option>선택하세요</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>환급계좌 <span class="sup">*</span></label>
                                <div class="group_content">
                                    <input class="w-100" type="number" name="" placeholder="계좌 번호를 입력하세요">
                                    <p class="des">“-” 포함한 계좌번호를 입력하세요</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>예금주 <span class="sup">*</span></label>
                                <div class="group_content">
                                    <input type="number" name="" placeholder="예금주명을 입력하세요">
                                    <p class="des">보인 명의 계좌로 환급 받을 것을 권장 드립니다.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>주민등록번호 <span class="sup">*</span></label>
                                <div class="group_content number_register flex">
                                    <input type="number" name="" placeholder="주민번호 앞 6자리">
                                    <span class="space">-</span>
                                    <input type="number" name="" placeholder="주민번호 뒤 7자리">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>합격후기링크 <span class="sup">*</span></label>
                                <input class="w-100" type="text" name="" placeholder="https:// 포함한  URL 주소 복사 바랍니다.">
                            </div>
                            <div class="form-group">
                                <label>합격후기링크 <span class="sup">*</span></label>
                                <div class="attachment pr">
                                    <button type="button" class="btn_remove">파일 삭제</button>
                                    <input id="file" type="file">
                                    <span class="attachment__name">Ctus2012021020811110001.jpg</span>
                                    <div class="attachment__guide">
                                        <h4>파일 첨부 안내</h4>
                                        <p>고용보험가입내역서 첨부
                                            (확장자 : pdf, jpg, gif, png, gif, zip )
                                            파일 용량 5MB 이내, 1개 파일만 첨부 가능
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="note">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
                            <article>
                                <p>환급 신청은 수강 기간 내에만 신청 가능합니다.</p>

                                <p>정보 입력 후 [환급신청]하시면, 환급 조건 확인 후 입력한 환급계좌로 입금됩니다.</p>

                                <p>제세공과금 (소비자의 22% = 기타소득세+주민세) 제외 후 환급됩니다.</p>

                                <p>환급 처리 기간은 환급 조건 확인 과정으로 인해 최대 30일이 소요될 수 있습니다.</p>

                                <p>환급 조건이 충족되지 않은 경우, 환급되지 않을 수 있으며, 부분 환급은 불가합니다.</p>

                                <p>
                                    <strong>주민등록번호 수집 및 이용 안내</strong>
                                    소득세법에 따라 원천세 신고처리를 위해 당첨자
                                    의 주민등록번호가 필수 정보로 사용됩니다. 수집된 주민등록번호는 원천세 신고가 완료된 이후, 안전하게 삭제됨을 안내 드립니다.
                                </p>

                            </article>
                        </div>
                        <button type="submit" class="btn_submit flex-center">환급신청</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>