<main>

</main>
<div class="modal modal-md fade modal-ncsinfo" id="modal-ncsinfo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">NCS 강의를 이용 중이신가요?</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <ul class="modal_tab nav flex">
                    <li><a href="#tab1" title="" data-toggle="tab" class="active">수강 유의사항</a></li>
                    <li><a href="#tab2" title="" data-toggle="tab">수료증 발급 기준</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade show active">
                        <div class="box-text">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i>프리패스로 NCS 강의 수강 시 <span> 유의사항</span></h4>
                            <article>
                                <h5>출석체크 안내</h5>
                                <p>NCS 강의는 별도의 수강 환경에서 수강이
                                    진행되므로 출석체크를 위한 수강 카운트에 포함되지
                                    않습니다. 따라서 “NCS수료증” 외 출석 시간 체크가
                                    가능한 다른 강의를 추가 수강바랍니다.</p>
                            </article>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <h4 class="h4-title flex-lc"><i class="icon icon-qs">?</i>NCS 수료증 발급 기준</h4>
                        <div class="banner-title text-center">진도율, 평가점수, 수강기간 <span>세 가지만 체크하세요!</span></div>
                        <div class="note text-center">
                            <h5 class="preline">수강기간 내 진도율과 평가점수가 충족될 경우,
                                수료증 출력이 가능합니다.</h5>
                            <p>※ 재시험 신청은 1:1개시판을 이용해주세요.</p>
                        </div>
                        <div class="box-text box-text-cs">
                            <h4>1. 진도율</h4>
                            <p>각 차시 진도율 80% 이상 시 해당 차시 완료로
                                인정되고, <span>전체 진도율이 80% 이상일 때 수료
                                기준이 충족됩니다.</span>
                            </p>
                            <p class="sm">※ 하루에 최대 8차시까지 수강할 수 있습니다.</p>
                            <hr>
                            <h4>2. 평가점수</h4>
                            <p>모든 평가에 참여하시고, <span>평가점수의 총합이
                                수료기준(60점)을 넘기면 수료증이 발급됩니다.</span>
                            </p>
                            <p class="sm">※ 토론의 경우, 주어진 주관식 문항에 답안을 작성하시면 참여로 인정됩니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>