<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <ul class="nav-link nav-link-lc flex">
        <li><a href="" title="" class="active">소개</a></li>
        <li><a href="" title="">목차(00)</a></li>
        <li><a href="" title="">후기(00)</a></li>
        <li><a href="" title="">도서</a></li>
        <li><a href="" title="">추천</a></li>
    </ul>
    <div class="introduce bg_gray">

    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>