<main>

</main>
<div class="modal modal-md fade modal-goalset" id="modal-goalset">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title"><span>축!</span> 독한 스터디 <span>4주 목표 달성</span></h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="text">
                    <p>다음 공기업 최종 합격의 주인공은</p>
                    <p>바로 당신입니다.</p>
                </div>
                <div class="reminder">
                    우리가 함께 공부한 시간 총 5,000여분,
                    합격하는 1%의 공부습관을 완성한
                   <span>홍길동</span>님에게 이제 남은 건 오직 최종합격입니다.
                </div>
                <ul class="statistical_study">
                    <li>
                        <p>4주차 당신의 누적 학습량은 스터디원 중</p>
                        <span>최상위 5%</span>입니다.
                    </li>
                    <li>
                        <p>4주차 당신의 누적학습시간은</p>
                        <span>22시간 6분</span>입니다.
                    </li>
                </ul>
                <div class="banner-decision">
                    <h5>당신의 결심을 주변에 알려보세요!</h5>
                    <p>목표는 널리 알릴수록 달성할 가능성이 높아진다고 합니다.</p>
                    <div class="box-btn flex">
                        <button type="button" class="btn_dl flex-center"><i class="icon icon-dl"></i> 이미지다운</button>
                        <button type="button" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카카오톡</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>