<main>
    <div class="head_title pr">
        <h1>장바구니</h1>
    </div>
    <div class="cart">
        <ul class="cart__process flex">
            <li>
                <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
                <h5>장바구니</h5>
            </li>
            <li class="active">
                <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
                <h5>주문서 작성</h5>
            </li>
            <li>
                <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
                <h5>주문완료</h5>
            </li>
        </ul>
        <div class="cart__order">
            <h2>주문 상품 <span>(5)</span></h2>
            <div class="type">온라인</div>
            <div class="product flex">
                <a href="" class="product__img"></a>
                <div class="product__content">
                    <h3><a href="">[Lv.3 집중완성] 반도체 공정설비 핵심 이론 제목 최대 2줄까지 노출</a></h3>
                    <div class="price">80,000 원 / <span>1</span> 개</div>
                </div>
            </div>
            <a href="" title="" class="btn_viewall flex-center">전체상품 보기 5 개 <i class="icon icon-arr"></i></a>
        </div>
        <div class="discount plr">
            <h2 class="title">할인정보</h2>
            <div class="item flex">
                <h4 class="flex-lc">할인쿠폰 <i class="icon icon-qs">?</i></h4>
                <button type="button" class="btn_register flex-center">쿠폰등록</button>
                <div class="txt flex-lc">
                    사용 가능 쿠폰 1장
                    <i class="icon icon-arr"></i>
                </div>
            </div>
            <div class="item flex">
                <h4 class="flex-lc">렛머니 <i class="icon icon-qs">?</i></h4>
                <button type="button" class="btn_register">쿠폰등록</button>
                <input type="number" name="" placeholder="포인트를 입력하세요.">
                <div class="point">※ 보유 포인트 : <span>10,000 P</span>   │ <a href="" title="">렛머니 전환 하기</a></div>
            </div>
        </div>
        <div class="orderinfo plr">
            <h2 class="title">주문자 정보</h2>
            <div class="item flex">
                <h5>이름</h5>
                <span>홍길동</span>
            </div>
            <div class="item flex">
                <h5>휴대전화</h5>
                <span>010 – 1234 – 5678</span>
            </div>
            <div class="item flex">
                <h5>이메일</h5>
                <span>letuin@letuin.com</span>
            </div>
        </div>
        <div class="box-form">
            <form action="" method="">
                <fieldset>
                    <div class="fil_title flex">
                        <h5>배송지 정보</h5>
                        <p><span class="sup"> * </span> 필수항목</p>
                    </div>
                    <div class="form-group">
                        <label>이름 <span class="sup">*</span></label>
                        <input class="name" type="text" name="" placeholder="이름 입력">
                        <div class="checkbox">
                            <label class="flex-lc">
                                <input type="checkbox" name="" checked>
                                <span class="checked flex-center"></span>
                                주문자 동일
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>전화번호</label>
                        <div class="group_list phone flex">
                            <div class="box-select">
                                <select name="">
                                    <option>선택</option>
                                </select>
                            </div>
                            <div class="space">-</div>
                            <input type="number" name="">
                            <div class="space">-</div>
                            <input type="number" name="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>휴대전화 <span class="sup">*</span></label>
                        <div class="group_list phone flex">
                            <input type="text" name="" value="010">
                            <div class="space">-</div>
                            <input type="number" name="" value="1234">
                            <div class="space">-</div>
                            <input type="number" name="" value="5678">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>주소 <span class="sup">*</span></label>
                        <div class="group_list mt">
                            <div class="findcode flex">
                                <input type="number" name="">
                                <button type="button" class="btn_find">우편번호찾기</button>
                            </div>
                            <input class="w-100" type="text" name="">
                            <input class="w-100" type="text" name="" placeholder="상세 주소를 입력하세요.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>배송메모</label>
                        <div class="group_list mt">
                            <div class="box-select w-100">
                                <select name="">
                                    <option>배송시 요청사항을 선택해 주세요.</option>
                                </select>
                            </div>
                            <input class="w-100" type="text" name="" placeholder="기타 내용을 직접 입력해주세요. (한글 50자 이내)">
                        </div>
                    </div>
                </fieldset>
                <div class="text">
                    <p>도서 배송 현황은 결제 완료 후 (마이페이지 – 도서 / 배송현황)</p>
                    <p>메뉴에서 확인 가능합니다.</p>
                </div>
            </form>
        </div>
        <div class="pay plr">
            <div class="pay__header flex-lc">
                <h2 class="title">최종 결제금액</h2>
                <span>483,500 원</span>
            </div>
            <ul class="pay__info">
                <li>
                    <h5>상품금액</h5>
                    <span>716,800 원</span>
                </li>
                <li>
                    <h5>할인금액</h5>
                    <span>- 233,300 원</span>
                    <ul class="sub">
                        <li>
                            <h5>ㄴ 상품할인</h5>
                            <span>- 166,700 원</span>
                        </li>
                        <li>
                            <h5>ㄴ 쿠폰할인</h5>
                            <span>- 61,600 원</span>
                        </li>
                        <li>
                            <h5>ㄴ 렛머니</h5>
                            <span>- 5,000 원</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <h5>배송비</h5>
                    <span>+ 0 원</span>
                </li>
            </ul>
        </div>
        <div class="methodpay plr">
            <h2 class="title">결제수단 선택</h2>
            <ul class="methodpay__list flex">
                <li><a href="" class="flex-center">신용/체크카드</a></li>
                <li><a href="" class="flex-center">가상계좌 (무통장입금)</a></li>
                <li><a href="" class="flex-center">실시간 계좌이체</a></li>
                <li><a href="" class="active flex-center">간편결제</a></li>
            </ul>
            <div class="kaokao_pay flex">
                <h5>간편결제</h5>
                <a href="" class="flex-lc ml-auto">
                    <i class="icon icon-kaokao"></i>
                    카카오페이
                    <i class="icon icon-arr"></i>
                </a>
            </div>
        </div>
        <div class="policy">
            <div class="policy__header flex">
                <h4>주문동의</h4>
                <div class="checkbox">
                    <label class="flex-lc">
                        <input type="checkbox" name="">
                        <span class="checked flex-center"></span>
                        동의합니다.
                    </label>
                </div>
            </div>
            <div class="policy__content">
                주문할 상품의 상품명, 상품가격, 배송정보를 확인하였으며, 구매에
                동의하시겠습니까? (전자상거래법 제8조 제2항)
            </div>
        </div>
        <button type="button" class="btn_payment flex-center">결제하기</button>
    </div>
    <a href="" title="" class="talk">talk</a>
</main>