<main>
    <div class="head_title pr">
        <h1>내가 담은 강의</h1>
    </div>
    <div class="page-lecture">
        <div class="select-2-container">
            <select class="select-2" name="" id="">
                <option>[독한 스터디] NCS PSAT 2주차 강의</option>
            </select>
        </div>
        <div class="info flex">
            <div class="time col-5">2020.12.04 ~ <span>2021.02.28</span></div>
            <div class="day col-3"><p><span>5</span>일</p>남은일수</div>
            <div class="process active col-4"><span>5.00％</span> 진도율 </div>
        </div>
        <div class="file flex-lc">
            <i class="icon icon-file"></i>
            <span>강의_자료_예상문제첨부파일.xlsx</span>
        </div>
        <div class="course_detail">
            <div class="top flex-lc">
                <h5>목표 수강일</h5>
                <div class="time">
                    2020.12.04 ~
                    <span>2021.02.28</span>
                </div>
                <div class="code">D-3</div>
            </div>
            <div class="bottom flex-lc">
                <p>진도율 <span>5.00 %</span></p>
                <p>오늘 권장 진도율 <span>34 %</span></p>
            </div>
        </div>
        <div class="lecture pb-0 mb-ft">
            <h4>커리큘럼 (5)</h4>
            <div class="lecture__list bg-gray">
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>1차시</h5>
                            <span>12분 5초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            6일 [수리능력] NCS실제 : 기초 <br>
                            연산능력 – 배열 (개념설명)
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>2차시</h5>
                            <span>33분 52초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            6일 [수리능력] NCS실제 : 기초 <br>
                            연산능력 – 배열 (문제풀이: 기본, <br>
                            심화 응용)
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>3차시</h5>
                            <span>29분 55초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            6일 [수리능력] NCS실제 : 기초 <br>
                            연산능력 – 방정식과 부등식 <br>
                            (개념설명)
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>4차시</h5>
                            <span>33분 52초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            6일 [수리능력] NCS실제 : 기초 <br>
                            연산능력 – 방정식과 부등식 <br>
                            (문제풀이 : 기본)
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>5차시</h5>
                            <span>33분 52초</span>
                            <span class="ml-auto">진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            6일 [의사소통능력] 실전편 : <br>
                            01. 관통의 법칙(1)
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt flex">
        <div class="col-6">
            <a href="" class="link_wr flex-center"><i class="icon icon-wr"></i> 후기작성</a>
        </div>
        <div class="col-6">
            <a href="" class="link_qa flex-center"><i class="icon icon-qa"></i> 강의질문</a>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>