<main>

</main>
<div class="modal fade modal-addinfo" id="modal-choicepop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">1:1맞춤강의추천 상담</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="header bg-gray">
                    <span class="number flex-center">03</span>
                    <h2>어떤 산업에 관심이 <br>있으신가요?</h2>
                    <button type="button" class="btn_ellipse"></button>
                    <p>입사를 희망하는 기업을 선택해주세요.</p>
                    <p>(중복 선택 가능)</p>
                    <div class="process pr"><div class="process__value" style="width: 50%;"></div></div>
                </div>
                <div class="company">
                    <h4>이공계 대기업</h4>
                    <ul class="company__list flex">
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                반도체
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                디스플레이
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                자동차
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                케미칼
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                전자/가전
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                4차산업
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                SW
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                기타
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                    </ul>
                </div>
                <div class="company">
                    <h4>공기업</h4>
                    <ul class="company__list flex">
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                에너지발전
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                금융권
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                보건/복지
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                SOC
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                기타
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="nav-popup flex">
                    <button type="button" class="btn_prev flex-center"><i class="icon icon-prev"></i> 이 전</button>
                    <button type="button" class="btn_next flex-center">다 음 <i class="icon icon-next"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>