<main>
    <div class="head_title pr">
        <h1>주문 완료</h1>
    </div>
    <div class="cart">
        <ul class="cart__process flex">
            <li>
                <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
                <h5>장바구니</h5>
            </li>
            <li>
                <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
                <h5>주문서 작성</h5>
            </li>
            <li class="active">
                <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
                <h5>주문완료</h5>
            </li>
        </ul>
        <div class="cart__notifi">
            <h4>감사합니다! <br> 고객님의 주문이 정상적으로 완료되었습니다.</h4>
            <div class="code">21021500000001</div>
            <div class="txt">
                주문/배송 관련 문의사항은 <br>
                <span>마이페이지 > 1:1</span>문의를 이용해 주시기 바랍니다.
            </div>
        </div>
        <div class="cart__payment">
            <h4>결제 수단</h4>
            <div class="item flex-lc">
                <h5>가상계좌</h5>
                <p>입금 마감일 : 2021-02-11</p>
            </div>
            <div class="item flex-lc">
                <h5>계좌정보</h5>
                <p>국민 / 67279011257231</p>
            </div>
        </div>
        <div class="cart__summary">
            <div class="header flex-lc">
                <h5>전체 주문금액</h5>
                <div class="price ml-auto">483,500 원</div>
            </div>
            <div class="item flex-lc">
                <h5>상품금액</h5>
                <span>716,800 원</span>
            </div>
            <div class="item">
                <div class="flex-lc">
                    <h5>할인금액</h5>
                    <span>- 233,300 원</span>
                </div>
                <div class="item__sub flex-lc">
                    <ul>
                        <li>
                            <h5>ㄴ 상품할인</h5>
                            <span>- 166,700 원</span>
                        </li>
                        <li>
                            <h5>ㄴ 쿠폰할인</h5>
                            <span>- 61,600 원</span>
                        </li>
                        <li>
                            <h5>ㄴ 렛머니</h5>
                            <span>- 5,000 원</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item flex-lc">
                <h5>배송비</h5>
                <span>+ 0 원</span>
            </div>
        </div>
        <button type="button" class="btn_pr flex-center">메인 바로 가기</button>
    </div>
</main>