<main>
    <div class="head_title pr">
        <h1>쿠폰</h1>
    </div>
    <div class="coupon coupon-page">
        <div class="coupon__register">
            <div class="coupon__box flex">
                <input type="text" value="1234">
                <input type="text" value="Abc2">
                <input type="text" value="3dG4">
                <input type="text" value="3K53">
            </div>
            <button type="button" class="btn_register flex-center">등록</button>
        </div>
        <div class="coupon__list">
            <h5>쿠폰 선택</h5>
            <div class="item">
                <div class="item__header flex-lc">
                    <time>사용기한 :<span>~ 2021.02.25</span></time>
                    <span class="flex-lc">50% ↓</span>
                </div>
                <div class="item__content">
                    <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                </div>
                <div class="radio_checkbox">
                    <input type="radio" name="coupon">
                    <span class="checked"></span>
                </div>
            </div>
            <div class="item">
                <div class="item__header flex-lc">
                    <time>사용기한 :<span>~ 2021.02.25</span></time>
                    <span class="flex-lc">50% ↓</span>
                </div>
                <div class="item__content">
                    <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                </div>
                <div class="radio_checkbox">
                    <input type="radio" name="coupon">
                    <span class="checked"></span>
                </div>
            </div>
            <div class="item">
                <div class="item__header flex-lc">
                    <time>사용기한 :<span>~ 2021.02.25</span></time>
                    <span class="flex-lc">50% ↓</span>
                </div>
                <div class="item__content">
                    <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                </div>
                <div class="radio_checkbox">
                    <input type="radio" name="coupon">
                    <span class="checked"></span>
                </div>
            </div>
        </div>
        <div class="coupon__note">
            · 교재 주문 금액은 쿠폰할인 대상에서 제외됩니다. <br>
            · 할인쿠폰 사용은 가장 금액이 높은 강좌 1개에만 적용됩니다.
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">적용하기</a>
    </div>
</main>