<main>
    <div class="category pr">
        <ul class="category__list category__list--1 flex">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <ul class="category__list category__list--2 flex" style="display: none">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <button type="button" class="btn_collapse"></button>
    </div>
    <div class="textbooklist bg-gray mb-ft">
        <ul class="textbooklist__category flex">
            <li><a href="" type="">전체</a></li>
            <li><a href="" type="">취업/면접</a></li>
            <li><a href="" type="">직무적성검사</a></li>
            <li><a href="" type="">자격증</a></li>
            <li><a href="" type="" class="active">SW/IT취업</a></li>
            <li><a href="" type="">공기업 NCS</a></li>
        </ul>
        <div class="notifi">
            <div class="img"><img src="./assets/img/icon-book.png" alt=""></div>
            <h5>“SW/IT 취업” 에 대한 교재가 없습니다.</h5>
            <p>다른 교재 카테고리를 선택해 주세요.</p>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>

