<main>
    <div class="head_title pr">
        <h1>종료된 콘텐츠</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="emplyee">
        <div class="statisticals">
            <ul class="flex">
                <li class="col-3 active">
                    <span>0</span>
                    <h5>전체</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>프리패스</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>온라인</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>학원</h5>
                </li>
            </ul>
            <ul class="flex">
                <li class="col-3">
                    <span>0</span>
                    <h5>공장실습</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>모의고사</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>취업기업분석</h5>
                </li>
                <li class="col-3">
                    <span>0</span>
                    <h5>자소서첨삭</h5>
                </li>
            </ul>
        </div>
        <div class="emplyee__info box-collapse">
            <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
                <button class="btn_collapse dr ml-auto" type="button" data-toggle="collapse" data-target="#emplyee__info"></button>
            </div>
            <div class="collapse show" id="emplyee__info">
                <div class="box-text">
                    <p>
                        수료증은 수강하신 강좌의 수료기준 충족 시,
                        PC버전에서만 발급 가능합니다.
                    </p>
                    <p>
                        각 구매한 강의와 상품의 마감일 또는 종료일 +1일 후
                        ‘종료된 콘텐츠’에서 확인할 수 있습니다.
                    </p>
                    <p>
                        (출석미션 프리패스), (합격미션 프리패스)는 수강종료 후 30일
                        동안 환급신청이 가능합니다. 최근 12개월 동안 수강한 정보만
                        노출되고, 이전 정보는 PC버전에서 확인 가능합니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="emplyee__list">
            <div class="header flex-lc">
                <h4>수강 중인 강좌 (0)</h4>
            </div>
            <div class="notifi">
                <h5>종료된 콘텐츠가 없습니다.</h5>
                <div class="img"><img src="./assets/img/icon-media.png" alt=""></div>
                <p>무슨 강의를 들을지 모르시겠다구요?
                    유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
                </p>
                <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank" title="" class="btn_apply">1:1맞춤강의 상담신청</a>
            </div>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>