<main class="main-h">
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <div class="lectured">
        <div class="lectured__view pr">

        </div>
        <div class="lectured__tag flex">
            <span class="new">NEW</span>
            <span class="best">BEST</span>
        </div>
        <div class="lectured__detail">
            <h3>2020년 상반기 LG화학</h3>
            <div class="price flex">
                <div class="price__current">9,900원</div>
            </div>
        </div>
        <br>
        <div class="lectured__review flex-lc">
            <div class="rating pr"><div class="value" style="width: 80%;"></div></div>
            <p>REVIEW <span>(56건)</span></p>
        </div>
        <ul class="lectured__info">
            <li>
                <h5>제작일</h5>
                <p>2020-03-07</p>
            </li>
            <li>
                <h5>열람기간</h5>
                <p>14일</p>
            </li>
        </ul>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
</main>