<main>

</main>
<div class="modal fade modal-text" id="modal-commitment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">개인정보취급방침</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <article>
                    <h4>(주)렛유인 개인정보 취급방침</h4>
                    <p>렛유인 개인정보 취급방침</p>
                    <p>시행일자 2018.08.16</p>
                    <p>당사는 회원의 개인정보보호를 매우 중요시하며, 『정보통신망이용촉진등에 관한 법률』상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보보호지침』을 준수하고 있습니다.</p>
                    <p>당사는 아래와 같이 개인정보취급방침을 명시하여 회원이 온라인상에서 회사에 제공한 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치를 취하는지 알려드립니다. </p>
                    --
                    <p>당사 개인정보취급방침은 정부의 법률 및 지침의 변경과 당사의 약관 및 내부 정책에 따라 변경될 수 있으며 이를 개정하는 경우 회사는 변경사항에 대하여 즉시 홈페이지에 게시합니다. 회원님께서는 사이트 방문시 수시로 확인하시기 바랍니다.</p> 
                    <p>㈜ 렛유인의 개인정보 취급방침은 다음과 같은 내용을 담고 있습니다.</p>
                    <p>1.개인정보의 수집 및 이용 목적</p>
                </article>
            </div>
        </div>
    </div>
</div>