<main>
    <div class="head_title pr">
        <h1>수강 중 온라인 강좌</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="academy">
        <h4>수강중인 강의(0)</h4>
        <div class="notifi">
            <h5>수강 중인 강좌가 없습니다.</h5>
            <div class="img"><img src="./assets/img/icon-media.png" alt=""></div>
            <p>무슨 강의를 들을지 모르시겠다구요?
                유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
            </p>
            <a href="" title="" class="btn_apply">1:1맞춤강의 상담신청</a>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="/letuin/build/LUIM_MR_ADD_LCPop.html" class="flex-center">강의추가 수강신청하기 <i class="icon icon-play"></i></a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>