<main>

</main>

<div class="modal modal-md fade modal-fileupload" id="modal-rejectpop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">첨삭 결과 확인</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <div class="textarea">
                            <p><span>(선생님명)</span> 선생님의 반려 이유</p>
                            <p><span>(응원의 한마디 내용)</span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="attachment pr">
                            <a href="" class="attachment__file flex-lc pr">
                                <span class="attachment__name">첨삭완료된 자소서파일.docx</span>
                            </a>
                            <div class="attachment__note">
                                첨삭 완료된 파일은 완료 후 7일간 다운로드 가능합니다
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn_submit flex-center">재첨삭 신청</button>
                </form>
            </div>
        </div>
    </div>
</div>