<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <ul class="nav-link nav-link-lc flex">
        <li><a href="" title="" class="active">소개</a></li>
        <li><a href="" title="">목차(00)</a></li>
        <li><a href="" title="">후기(00)</a></li>
        <li><a href="" title="">도서</a></li>
        <li><a href="" title="">추천</a></li>
    </ul>
    <div class="introduce">
        <article class="post">
            <a href="" class="post__img"></a>
            <h3><a href="">장치산업인 반도체 산업 이해에 필요한 "설비 및 공정 기초 개념"</a></h3>
            <p>친절한 이미지 예시로 공정 설비의 예시와 개념을 쉽게 이해
                챔버, 클러스터, 웨이퍼의 이동, 펌드 등 기타 Utility 완벽 정리
                공정/설비 엔지니어의 중요 role, 공정 파라미터의 종류와 Recipe
            </p>
        </article>
        <div class="instructor pr">
            <h2>강사소개</h2>
            <div class="instructor__nav nav flex">
                <button type="button" class="instructor__prev prev"></button>
                <button type="button" class="instructor__next next"></button>
            </div>
            <div class="instructor__list">
                <div class="item flex">
                    <div class="item__left">
                        <h4>정건화</h4>
                        <div class="text">
                            <p>삼성전자DS와 SK하이닉스를</p>
                            <p>모두 경험한 반도체 엔지니어</p>
                        </div>
                        <hr>
                        <div class="text">
                            <p>외국계반도체회사 소자개발 엔지니어</p>
                            <p>SK하이닉스 DRAM 소자개발 엔지니어</p>
                            <p>외국계반도체회사 소자개발 엔지니어</p>
                        </div>
                    </div>
                    <div class="item__right">
                        <img src="./assets/img/instructor.jpg" alt="">
                    </div>
                </div>
                <div class="item flex">
                    <div class="item__left">
                        <h4>정건화</h4>
                        <div class="text">
                            <p>삼성전자DS와 SK하이닉스를</p>
                            <p>모두 경험한 반도체 엔지니어</p>
                        </div>
                        <hr>
                        <div class="text">
                            <p>외국계반도체회사 소자개발 엔지니어</p>
                            <p>SK하이닉스 DRAM 소자개발 엔지니어</p>
                            <p>외국계반도체회사 소자개발 엔지니어</p>
                        </div>
                    </div>
                    <div class="item__right">
                        <img src="./assets/img/instructor.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="suggest_lecture">
        <h2>강의추천</h2>
        <ul>
            <li>
                <a href="">삼성전자, SK하이닉스, ASML, 램리서치 등
                    반도체 기업을 준비하는 분
                </a>
            </li>
            <li>
                <a href="">삼성전자 설비엔지니어
                    SK하이닉스 공정통합 직무 지원
                </a>
            </li>
            <li>
                <a href="">반도체 공정 기본지식과 핵심을 정리하고 싶은 분</a>
            </li>
            <li>
                <a href="">반도체 8대 공정의 흐름에 대한 이해가 필요하신 분</a>
            </li>
        </ul>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>