<main class="main-h">
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <div class="carts">
        <div class="carts__package pr">
            <button type="button" class="btn_collapse"></button>
            <div class="item">
                <div class="info">
                    <h4>강의</h4>
                    <p>(2/9개강) 반도체 전공/직무 한달완성반</p>
                </div>
                <div class="box-select">
                    <div class="selected pr">개강일을 선택해주세요.</div>
                    <ul class="select_list">
                        <li data-day="14기" data-time="2021-02-16 (화) 12:30 ~13:00">
                            <time>2021-02-16 (화) 12:30 ~13:00</time>
                            <p>14기  I  정건화 강사  I  정원 <span>10</span>명  I  <span>D-day</span></p>
                        </li>
                        <li data-day="14기" data-time="2021-02-16 (화) 12:30 ~13:00">
                            <time>2021-02-16 (화) 12:30 ~13:00</time>
                            <p>14기  I  정건화 강사  I  정원 <span>10</span>명  I  <span>D-11</span></p>
                        </li>
                        <li data-day="14기" data-time="2021-02-16 (화) 12:30 ~14:00">
                            <time>2021-02-16 (화) 12:30 ~14:00</time>
                            <p>14기  I  정건화 강사  I  정원 <span>10</span>명  I  <span>마감</span></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="info">
                    <h4>강의</h4>
                    <p>반도체 직무컨설팅</p>
                </div>
                <div class="box-select">
                    <div class="selected flex pr">개강일을 선택해주세요.</div>
                    <ul class="select_list">
                        <li data-day="14기" data-time="2021-02-16 (화) 12:30 ~13:00">
                            <time>2021-02-16 (화) 12:30 ~13:00</time>
                            <p>14기  I  정건화 강사  I  정원 <span>10</span>명  I  <span>D-day</span></p>
                        </li>
                        <li data-day="14기" data-time="2021-02-16 (화) 12:30 ~13:00">
                            <time>2021-02-16 (화) 12:30 ~13:00</time>
                            <p>14기  I  정건화 강사  I  정원 <span>10</span>명  I  <span>D-11</span></p>
                        </li>
                        <li data-day="14기" data-time="2021-02-16 (화) 12:30 ~14:00">
                            <time>2021-02-16 (화) 12:30 ~14:00</time>
                            <p>14기  I  정건화 강사  I  정원 <span>10</span>명  I  <span>마감</span></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="carts__total flex-end">
            <h4>총 결제금액</h4>
            <div class="price">
                <div class="price__old">299,000원</div>
                <div class="flex-lc">
                    <div class="price__discount flex-lc">36% <i class="icon icon-discount"></i></div>
                    <div class="price__current">189,000원</div>
                </div>
            </div>
        </div>
        <div class="s-action w-5 flex">
            <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
            <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        </div>
    </div>
</main>