<main>
    <div class="category pr">
        <ul class="category__list category__list--1 flex">
            <li><a href="" title="">독한스터디</a></li>
            <li><a href="" title=""> 수강신청 </a></li>
            <li><a href="" title="">300%환급 <br>  프리패스 </a></li>
        </ul>
        <ul class="category__list category__list--2 flex" style="display: none">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <button type="button" class="btn_collapse"></button>
    </div>
    <div class="box-time flex">
        <div class="icon icon-time"><img src="./assets/img/clock.png" alt=""></div>
        <div class="count_down">
            <div class="flex">
                <div class="down days">
                    <span class="time"></span>
                    <span class="txt">일</span>
                </div>
                <div class="down hours">
                    <span class="time"></span>
                    <span class="space">:</span>
                </div>
                <div class="down minutes">
                    <span class="time"></span>
                    <span class="space">:</span>
                </div>
                <div class="down seconds">
                    <span class="time"></span>
                </div>
            </div>
            <div class="text">300%환급반 마감</div>
        </div>
        <a href="" class="btn_apply flex-center ml-auto" title="수강신청">수강신청</a>
    </div>
    <div class="banner">
        <div class="item">
            <a href=""><img src="./assets/img/slider.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href=""><img src="./assets/img/slider.jpg" alt=""></a>
        </div>
    </div>
    <div class="review">
        <div class="header flex">
            <div class="header__dt">
                <h2>공유인 <span>명예의 전당</span></h2>
            </div>
        </div>
        <div class="scrollbar">
            <div class="review__list flex">
                <div class="item p-0">
                    <a href=""><img src="./assets/img/banner-lg.png" alt=""></a>
                </div>
                <div class="item p-0">
                    <a href=""><img src="./assets/img/banner-lg.png" alt=""></a>
                </div>
            </div>
        </div>
        <a href="" title="More" class="btn_link_more flex-center">+ More</a>
    </div>
    <div class="banner-middle flex-center">
        OL_Middle Banne 1
    </div>
    <div class="recommended">
        <h2 class="title flex-lc">주간 BEST <span> 공기업 취업 인강</span></h2>
        <div class="recommended__item">
            <p>기계공학과라면 반드시 수강! 직무 역량 어필 가능!</p>
            <h4>NCS 반도체 8대 공정/설비 종합..</h4>
            <div class="middle flex">
                <div class="md_1 follow flex-lc pr">
                    봉민수 외 5명
                    <button type="button" class="btn_collapse dr"></button>
                    <div class="follow__list flex">
                        <span>나상무</span>
                        <span>정지성</span>
                        <span>주영훈</span>
                        <span>우종석</span>
                        <span>안재형</span>
                        <span>한승아</span>
                        <span>박창민</span>
                        <span>석동훈</span>
                    </div>
                </div>
                <div class="md_2 ml-auto">60일 (총 122 차시)</div>
                <div class="md_3 flex-lc"><i class="icon icon-pen"></i>34</div>
            </div>
            <div class="bottom flex">
                <div class="price flex-lc">200,000 <small>원</small> <span class="flex-center">69%↓</span></div>
                <a href="" class="btn_apply flex-center">신청하기</a>
            </div>
        </div>
        <div class="recommended__item">
            <p>기계공학과라면 반드시 수강! 직무 역량 어필 가능!</p>
            <h4>REAL 삼성 프리패스 3+1개월 종..</h4>
            <div class="middle flex">
                <div class="md_1 follow flex-lc pr">
                    봉민수 외 5명
                    <button type="button" class="btn_collapse dr"></button>
                    <div class="follow__list flex">
                        <span>나상무</span>
                        <span>정지성</span>
                        <span>주영훈</span>
                        <span>우종석</span>
                        <span>안재형</span>
                        <span>한승아</span>
                        <span>박창민</span>
                        <span>석동훈</span>
                    </div>
                </div>
                <div class="md_2 ml-auto">60일 (총 122 차시)</div>
                <div class="md_3 flex-lc"><i class="icon icon-pen"></i>34</div>
            </div>
            <div class="bottom flex">
                <div class="price flex-lc">200,000 <small>원</small> <span class="flex-center">69%↓</span></div>
                <a href="" class="btn_apply flex-center">신청하기</a>
            </div>
        </div>
        <div class="recommended__item">
            <p>기계공학과라면 반드시 수강! 직무 역량 어필 가능!</p>
            <h4>케미칼산업(석유화학/2차전지)패..</h4>
            <div class="middle flex">
                <div class="md_1 follow flex-lc pr">
                    봉민수 외 5명
                    <button type="button" class="btn_collapse dr"></button>
                    <div class="follow__list flex">
                        <span>나상무</span>
                        <span>정지성</span>
                        <span>주영훈</span>
                        <span>우종석</span>
                        <span>안재형</span>
                        <span>한승아</span>
                        <span>박창민</span>
                        <span>석동훈</span>
                    </div>
                </div>
                <div class="md_2 ml-auto">60일 (총 122 차시)</div>
                <div class="md_3 flex-lc"><i class="icon icon-pen"></i>34</div>
            </div>
            <div class="bottom flex">
                <div class="price flex-lc">200,000 <small>원</small> <span class="flex-center">69%↓</span></div>
                <a href="" class="btn_apply flex-center">신청하기</a>
            </div>
        </div>
    </div>
    <div class="lessonfree">
        <div class="header flex-lc">
            <h2 class="title flex-lc">무료강의 <span>맛보기</span></h2>
            <a href="" title="" class="btn_more ml-auto">MORE +</a>
        </div>
        <ul class="lessonfree__tab nav flex">
            <li><a href="#NCS필기" data-toggle="tab" class="active" title="">NCS필기</a></li>
            <li><a href="#전공필기" data-toggle="tab" title="">전공필기</a></li>
            <li><a href="#자소서/면접" data-toggle="tab" title="">자소서/면접</a></li>
            <li><a href="#디스플레이" data-toggle="tab" title="">디스플레이</a></li>
            <li><a href="#전자/가전" data-toggle="tab" title="">전자/가전</a></li>
        </ul>
        <div class="tab-content">
            <div id="NCS필기" class="tab-pane fade show active">
                <div class="scrollbar">
                    <div class="lessonfree__list flex">
                        <div class="item">
                            <a href="" class="thumb"></a>
                            <h3><a href="">(공기업 의사소통능력)선택지 2개 중 고민 하는 당신을 위한 정답 도출 꿀팁</a></h3>
                            <div class="bottom flex">
                                <div class="author">이현나</div>
                                <div class="view">조회수 : 1,187</div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="" class="thumb"></a>
                            <h3><a href="">(공기업 의사소통능력)선택지 2개 중 고민 하는 당신을 위한 정답 도출 꿀팁</a></h3>
                            <div class="bottom flex">
                                <div class="author">이현나</div>
                                <div class="view">조회수 : 1,187</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="전공필기" class="tab-pane fade">
                2
            </div>
        </div>
    </div>
    <div class="banner-middle flex-center">
        OL_Middle Banne 2
    </div>
    <div class="textbook">
        <div class="header flex-lc">
            <h2 class="title flex-lc">공유인 베스트 <span>교재</span></h2>
            <div class="nav flex-lc">
                <button type="button" class="textbook__prev prev">prev</button>
                <div class="space"></div>
                <button type="button" class="textbook__next next">next</button>
            </div>
            <a href="" title="" class="btn_more ml-auto">MORE +</a>
        </div>
        <div class="textbook__list">
            <div class="item flex">
                <div class="img"><a href=""><img src="./assets/img/book.jpg" alt=""></a></div>
                <div class="info">
                    <h3><a href="">2021 NCS 필기합격자들이 직접 감수한 코레일 NCS... </a></h3>
                    <p class="txt-1">330여 개의 모든 공기업/공사공단 NCS를 ONE SHOT에 준비 끝!</p>
                    <div class="author flex">
                        <h4>저   자</h4>
                        <p>석치수,박준범,이현나, 한지현,공유인 NCS 연구소</p>
                    </div>
                    <time>발행일 &nbsp; 2020. 1. 2.</time>
                </div>
            </div>
            <div class="item flex">
                <div class="img"><a href=""><img src="./assets/img/book.jpg" alt=""></a></div>
                <div class="info">
                    <h3><a href="">2020 출제유형/기관 상관없 이 ONE SHOT! NCS 모듈..</a></h3>
                    <p class="txt-1">330여 개의 모든 공기업/공사공단 NCS를 ONE SHOT에 준비 끝!</p>
                    <div class="author flex">
                        <h4>저   자</h4>
                        <p>석치수,박준범,이현나, 한지현,공유인 NCS 연구소</p>
                    </div>
                    <time>발행일 &nbsp; 2020. 1. 2.</time>
                </div>
            </div>
        </div>
    </div>
    <div class="lesson lesson-cs1 pt-4">
        <h2 class="title flex-lc"><span>채용공고</span>맞춤 추천 <span>강의</span></h2>
        <div class="scrollbar">
            <div class="lesson__list flex">
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <div class="status new">New</div>
                        <p>공기업 면접 패키지</p>
                        <h3><a href="">인천교통공사 합격 패키지(사무직)</a></h3>
                        <div class="bottom flex">
                            <div class="author">문병기</div>
                            <div class="view flex-lc"><i class="icon icon-pen"></i> 34</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <div class="status best">Best</div>
                        <p>서류/NCS/전공/면접 완벽대비</p>
                        <h3><a href="">한국전력공사 합격 패키지 (사무)</a></h3>
                        <div class="bottom flex">
                            <div class="author">문병기</div>
                            <div class="view flex-lc"><i class="icon icon-pen"></i> 34</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <div class="status best">Best</div>
                        <p>서류/NCS/전공/면접 완벽대비</p>
                        <h3><a href="">한국전력공사 합격 패키지 (사무)</a></h3>
                        <div class="bottom flex">
                            <div class="author">문병기</div>
                            <div class="view flex-lc"><i class="icon icon-pen"></i> 34</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-rated">
        <button type="button flex-center">정식오픈</button>
        <h4>이공계 취업 최종 합격을 위한 풀/서/비/스</h4>
        <h2>렛유인 반도체 <span>직무역량평가</span></h2>
        <p>19,039여 명의 빅데이터 시험 분석을 통한 츨제
            문제 알고리즘 완성!! 반도체 취업 최종 합격을 위한
            나의 직무역량 위치 확인하세요!! </p>
        <a href="" title="" class="btn_rated flex-center">직무역량 평가하기 <i class="icon icon-arr"></i></a>
    </div>
    <div class="recruitment">
        <div class="header flex-lc">
            <h2 class="title flex-lc">채용 공고</h2>
            <time>2021-02-20 업데이트</time>
            <a href="" title="" class="btn_more ml-auto">MORE +</a>
        </div>
        <div class="recruitment__list">
            <div class="item flex-lc">
                <div class="item__logo"><img src="./assets/img/koral.png" alt=""></div>
                <div class="item__content">
                    <time>2021-02-22</time>
                    <h3>(한국수자원공사) 총 270명</h3>
                    <p>상반기 인턴 일반공채</p>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="item__logo"><img src="./assets/img/koral.png" alt=""></div>
                <div class="item__content">
                    <time>2021-02-22</time>
                    <h3>(한국수자원공사) 총 270명</h3>
                    <p>상반기 인턴 일반공채</p>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="item__logo"><img src="./assets/img/koral.png" alt=""></div>
                <div class="item__content">
                    <time>2021-02-22</time>
                    <h3>(한국수자원공사) 총 270명</h3>
                    <p>상반기 인턴 일반공채</p>
                </div>
            </div>
        </div>
        <div class="recruitment__info flex-lc">
            <div class="text">
                매일 오후 12:30 오픈 카톡방에서 주요 공기업
                채용공고와 무료 이벤트 소식을 전해드립니다.
            </div>
            <button type="button" class="btn_check flex-center">채용공고 확인</button>
        </div>
    </div>
    <div class="teacher">
        <div class="header flex">
            <h2 class="title">당신의 합격을 위한<span>이공계 특화 강사진</span></h2>
            <div class="nav flex-lc ml-auto">
                <button type="button" class="teacher__prev prev">prev</button>
                <div class="space"></div>
                <button type="button" class="teacher__next next">next</button>
            </div>
        </div>
        <div class="teacher__list">
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/author1.png" alt=""></a>
                <div class="keyword flex-center"><a href="">NCS 필기</a></div>
                <h3><a href="">우종석</a></h3>
                <p class="txt-1">합격으로 통하는 반도체
                    직무 바이블 렛유인
                    반도체 취업준비 대표 강사</p>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/author.png" alt=""></a>
                <div class="keyword flex-center"><a href="">NCS 필기</a></div>
                <h3><a href="">봉민수</a></h3>
                <p class="txt-1">합격으로 통하는 반도체
                    직무 바이블 렛유인
                    반도체 취업준비 대표 강사</p>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/author1.png" alt=""></a>
                <div class="keyword flex-center"><a href="">NCS 필기</a></div>
                <h3><a href="">우종석</a></h3>
                <p class="txt-1">합격으로 통하는 반도체
                    직무 바이블 렛유인
                    반도체 취업준비 대표 강사</p>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="event__list">
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-book.jpg" alt=""></a>
                <div class="content">
                    <h3><a href="">공기업 채용 TV로<span>채용공고 놓치지 말자</span></a></h3>
                    <p class="txt-2">중요한 채용공고부터 히든 공기업 추천까지</p>
                </div>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-book.jpg" alt=""></a>
                <div class="content">
                    <h3><a href="">공기업 채용 TV로<span>채용공고 놓치지 말자</span></a></h3>
                    <p class="txt-2">중요한 채용공고부터 히든 공기업 추천까지</p>
                </div>
            </div>
        </div>
        <div class="event__nav flex">
            <button type="button" class="event_prev">prev</button>
            <div class="event_dots"></div>
            <button type="button" class="event_next">prev</button>
        </div>
    </div>
</main>
<div class="modal fade modal-login" id="modal-login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">로그아웃</h4>
                <button type="button" class="btn_notifi pr"><span class="flex-center">N</span></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="name">안녕하세요! <span>홍길동</span>님</div>
                <div class="classroom">
                    <div class="header flex-lc">
                        <h5>내강의실</h5>
                        <button type="button" class="btn_collapse ml-auto"></button>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>스터디</h5>
                            <div class="txt ml-auto">합격할 때까지 유이니와 함께~</div>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                        <div class="info flex">
                            <div class="col-3">
                                <h5>00 강</h5>
                                <span>누적 학습량</span>
                            </div>
                            <div class="col-6">
                                <h5>00 시간 00 분</h5>
                                <span>누적 학습 시간</span>
                            </div>
                            <div class="col-3">
                                <h5>00 일</h5>
                                <span>누적 학습일 수</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>프리패스</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>온라인강의</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>학원강의</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>공정실습</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>모의고사</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>취업기업분석</h5>
                            <div class="ml-auto flex">
                                <p>열람중 <span>0 건</span></p>
                                <p>열람중 패키지 <span>0 건</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>자소서 첨삭</h5>
                        </div>
                        <div class="info flex">
                            <div class="col">
                                <h5>0 건</h5>
                                <span>대기</span>
                            </div>
                            <div class="col">
                                <h5>1 건</h5>
                                <span>반려</span>
                            </div>
                            <div class="col">
                                <h5>1 건</h5>
                                <span>신청완료</span>
                            </div>
                            <div class="col">
                                <h5>2 건</h5>
                                <span>첨삭중</span>
                            </div>
                            <div class="col">
                                <h5>3 건</h5>
                                <span>첨삭완료</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>종료된 콘텐츠</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i>FAQ</a>
                <a href=""><i class="icon icon-wr"></i>1:1맞춤상담</a>
                <a href=""><i class="icon icon-notifi"></i>공지사항</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-logout" id="modal-logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">로그아웃</h4>
                <button type="button" class="btn_notifi pr"><span class="flex-center">N</span></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="name">안녕하세요! <span>홍길동</span>님</div>
                <div class="classroom">
                    <div class="header flex-lc">
                        <h5>내강의실</h5>
                        <button type="button" class="btn_collapse ml-auto"></button>
                    </div>
                    <div class="page-title">마이페이지</div>
                    <div class="item">
                        <div class="flex">
                            <p>보유한 포인트 <span>100,000P</span></p>
                            <p>보유 렛머니 <span>10,000원</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex">
                            <p>장바구니 <span>3 건</span></p>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <h5>결제내역</h5>
                        <div class="flex">
                            <p>대기<span>00</span>건</p>
                            <p>결제완료<span>00</span>건</p>
                            <p>결제취소<span>00</span>건</p>
                        </div>
                    </div>
                    <div class="item">
                        <h5>도서배송현황</h5>
                        <div class="flex">
                            <p>배송준비<span>00</span>건</p>
                            <p>배송중<span>00</span>건</p>
                            <p>배송완료<span>00</span>건</p>
                        </div>
                    </div>
                    <div class="item">
                        <h5>1:1 문의내역</h5>
                        <div class="flex">
                            <p>접수<span>00</span>건</p>
                            <p>답변<span>00</span>건</p>
                            <button type="button" class="ml-auto">1:1문의하기</button>
                        </div>
                    </div>
                    <div class="item">
                        <p>사용 가능 보유 쿠폰 <span>3 장</span></p>
                        <div class="box-button flex">
                            <button type="button"></button>
                            <button type="button"></button>
                            <button type="button"></button>
                            <button type="button"></button>
                            <button type="button" class="btn_register">쿠폰등록</button>
                        </div>
                        <div class="guide">
                            <h5>쿠폰 등록 및 이용 안내</h5>
                            <p>
                                쿠폰번호 등록할 때는 숫자와 영문대소문자를 구별하여 입력하세요. 
                                ex) 0000-CCdd-AAbb-0000
                            </p>
                            <p>
                                모바일 사이트에서는 사용 가능한 쿠폰 정보만 확인 가능합니다. 
                                ※ 사용한 쿠폰 정보는 PC사이트에서 확인 가능합니다
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex">
                            <p>회원정보 수정</p>
                            <span>(비밀번호, SNS 연동계정 등 수정)</span>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex">
                            <p>회원탈퇴</p>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i>FAQ</a>
                <a href=""><i class="icon icon-wr"></i>1:1맞춤상담</a>
                <a href=""><i class="icon icon-notifi"></i>공지사항</a>
            </div>
        </div>
    </div>
</div>

