<main>
    <div class="head_title pr">
        <h1>아이디 찾기</h1>
    </div>
    <div class="findidp">
        <ul class="findidp__tab nav flex">
            <li><a href="#phone" title="" data-toggle="tab" class="active">휴대폰 번호로 찾기</a></li>
            <li><a href="#email" title="" data-toggle="tab">이메일 주소로 찾기</a></li>
        </ul>
        <div class="tab-content">
            <div id="phone" class="tab-pane fade show active">
                <div class="box-form">
                    <form action="" method="">
                        <div class="form-group">
                            <input class="w-100" type="text" name="" placeholder="이름">
                        </div>
                        <div class="form-group">
                            <input class="number" type="number" name="" placeholder="휴대폰 번호 (‘-’없이 입력)">
                            <button type="button" class="btn_request flex-center">인증요청</button>
                        </div>
                        <button type="button" class="btn_findid btn_se flex-center">아이디 찾기</button>
                    </form>
                </div>
            </div>
            <div id="email" class="tab-pane fade">

            </div>
        </div>
    </div>
</main>