<main>
    <div class="head_title pr">
        <h1>장바구니</h1>
    </div>
    <div class="addinfo">
        <div class="text">
            <span>당신에게 딱!</span>
            <p>어울리는 맞춤형 강의는?</p>
        </div>
        <button type="button" class="btn_start btn_se flex-center">시작하기</button>
        <div class="note preline">
            ※ 입력된 정보는 추천 강의 제공을 위해 활용되며,
            그 외 다른 목적으로 사용되지 않습니다.
        </div>
        <div class="banner banner-discount mb-ft">
            <h5>1:1맞춤강의 추천을 위한 온라인 상담 완료 시</h5>
            <p><span>50%</span> 할인쿠폰 증정 <span>(최초 1회)</span></p>
        </div>
    </div>
</main>