<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <ul class="nav-link nav-link-lc flex">
        <li><a href="" title="" class="active">소개</a></li>
        <li><a href="" title="">목차(00)</a></li>
        <li><a href="" title="">후기(00)</a></li>
        <li><a href="" title="">도서</a></li>
        <li><a href="" title="">추천</a></li>
    </ul>
    <div class="introduce">
        <article class="post">
            <a href="" class="post__img"></a>
            <h3><a href="">장치산업인 반도체 산업 이해에 필요한 "설비 및 공정 기초 개념"</a></h3>
            <p>친절한 이미지 예시로 공정 설비의 예시와 개념을 쉽게 이해
                챔버, 클러스터, 웨이퍼의 이동, 펌드 등 기타 Utility 완벽 정리
                공정/설비 엔지니어의 중요 role, 공정 파라미터의 종류와 Recipe
            </p>
        </article>
        <article class="post">
            <a href="" class="post__img"></a>
        </article>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>