<main>
    <div class="head_title border-0 pr">
        <h1>모의고사</h1>
    </div>
    <div class="practive">
        <div class="statisticals">
            <ul class="flex">
                <li class="active">
                    <span>5</span>
                    <h5>전체</h5>
                </li>
                <li>
                    <span>1</span>
                    <h5>인적성</h5>
                </li>
                <li>
                    <span>1</span>
                    <h5>인적성</h5>
                </li>
                <li>
                    <span>1</span>
                    <h5>자격증</h5>
                </li>
                <li>
                    <span>2</span>
                    <h5>NCS</h5>
                </li>
            </ul>
        </div>
        <div class="practive__info box-collapse">
            <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 모의고사 이용 안내</h4>
                <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#practive__info"></button>
            </div>
            <div class="collapse" id="practive__info">
                <div class="box-text">
                    <p>
                        응시기간 내 모든 모의고사 내역은 목록을 통해 확인할 수
                        있습니다.
                    </p>
                    <p>
                        종료된 모의고사는 종료된 강의에서 확인 가능합니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="ended__list bt">
            <div class="header flex-lc">
                <h4>수강 중 모의고사(0)</h4>
                <div class="checkbox__list ml-auto flex">
                    <label class="flex-lc">
                        <input type="checkbox" name="" checked>
                        <span class="checked flex-center"></span>
                        미응시 <span> 3 </span>
                    </label>
                    <label class="flex-lc">
                        <input type="checkbox" name="" checked>
                        <span class="checked flex-center"></span>
                        응시완료 <span> 2 </span>
                    </label>
                </div>
            </div>
            <div class="bg_gray">
                <div class="note">응시 완료 된 모의고사는 <span>좌측으로 밀면</span>, ‘후기작성 / 결과리포트’을 볼 수 있어요.</div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="content__header flex-lc">
                                    <h5>NCS</h5>
                                    <div class="status">미응시</div>
                                </div>
                                <h3>NCS 온라인 모의고사 (PSAT형)</h3>
                                <time>응시기간 : 2020.12.04 ~ <span>2021.02.28</span></time>
                                <i class="icon icon-arr"></i>
                            </div>
                            <a href="javascript:;" class="btn_wr"></a>
                        </div>
                    </div>
                    <button type="button" class="btn_report"></button>
                </div>
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <div class="content__header flex-lc">
                                    <h5>직무역량평가</h5>
                                    <div class="status finish">공장실습</div>
                                </div>
                                <h3>NCS 온라인 모의고사 (PSAT형)</h3>
                                <time>수강기간 : 2020.12.04 ~ <span>2021.02.28</span></time>
                                <i class="icon icon-arr"></i>
                            </div>
                            <a href="javascript:;" class="btn_wr"></a>
                        </div>
                    </div>
                    <button type="button" class="btn_report"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-lc">강의추가 수강신청하기<i class="icon icon-play"></i></a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>