<main>

</main>
<div class="modal fade modal-addinfo" id="modal-choicepop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">1:1맞춤강의추천 상담</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="header bg-gray">
                    <span class="number flex-center">04</span>
                    <h2>어떤 콘텐츠에 관심이 <br>있으신가요?</h2>
                    <button type="button" class="btn_ellipse"></button>
                    <p>관심있는 콘텐츠를 기반으로</p>
                    <p>강의를 추천해드릴게요 (중복 선택 가능)</p>
                    <div class="process pr"><div class="process__value" style="width: 50%;"></div></div>
                </div>
                <div class="company">
                    <h4>이공계 대기업</h4>
                    <ul class="company__list flex">
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                공정실습
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                취업전략
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                직무
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                자소서
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                인적성
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                면접
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                기업분석
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                전공강의
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                국비지원 <br>
                                과정
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                NCS 수료증 <br>
                                발급강의
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                    </ul>
                </div>
                <div class="company">
                    <h4>공기업</h4>
                    <ul class="company__list flex">
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                NCS
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <div class="name flex-center">
                                전공필기
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                자소서
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                면접
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                취업전략
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                        <li>
                            <input type="checkbox">
                            <div class="name flex-center">
                                스펙 <br>
                                (어학/기사 <br>
                                자격증) <br>
                            </div>
                            <i class="icon-check flex-center"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <div class="nav-popup flex">
                    <button type="button" class="btn_prev flex-center"><i class="icon icon-prev"></i> 이 전</button>
                    <button type="button" class="btn_next flex-center">다 음 <i class="icon icon-next"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>