<main>

</main>
<div class="modal fade modal-guidebook" id="modal-guidebook">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>취업가이드북</h4>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="" method="" class="search flex-lc pr">
                    <input type="text" placeholder="검색 강의명 입력">
                    <button type="reset" class="btn_remove"></button>
                    <button type="submit" class="btn_submit"></button>
                </form>
                <div class="title">
                    강좌 : [렛유인] 취업끝장 프리패스 6개월 종합반ver 2.0
                </div>
                <div class="pdf bg_gray">
                    <h5>총 <span>00개</span></h5>
                    <div class="pdf__list flex">
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 한화첨단소재</h6>
                            <a href="" title="" class="btn_pdf active flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 현대위니아</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 한화큐셀</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>19 삼성엔지니어링</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 기아자동차</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 포스코</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 르노삼성</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 두산퓨어셀</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                        <div class="item">
                            <div class="item__img"></div>
                            <h6>2019 두산</h6>
                            <a href="" title="" class="btn_pdf flex-center">PDF <i class="icon icon-dl"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>