<main>
    <div class="head_title pr">
        <h1>비밀번호 찾기</h1>
    </div>
    <div class="changepw">
        <div class="text text-center">
            <h4 class="title-m">비밀번호 찾기 인증이 성공하였습니다. <br>새 비밀번호를 설정해주세요.</h4>
        </div>
        <form action="" method="">
            <div class="form-group">
                <input type="password" name="" placeholder="비밀번호 6~12자 영문 (숫자 혼용 가능)">
            </div>
            <div class="form-group">
                <input type="password" name="" placeholder="비밀번호 확인 6~12자 영문 (숫자 혼용 가능)">
            </div>
            <button type="submit" class="btn_submit btn_se flex-center">비밀번호 찾기</button>
        </form>
    </div>
</main>