<main>

</main>
<div class="modal modal-md fade modal-studytutorial" id="modal-studytutorial">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">독한 스터디 <span>미션</span> 안내</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="text">
                    <p>지금부터 <strong>독한 NCS 스터디</strong>가</p>
                    <p>본격적으로 시작됩니다.</p>
                </div>
                <div class="reminder">
                    <strong>합격을 위한 주차별 미션과 커리큘럼을 꼭! 따라와주세요.</strong>
                    합격하겠다는 독한 의지만 있다면, <span>NCS PSAT 전 영역,</span>
                    <span>전부 무료(40만원 상당)</span>입니다.
                </div>
                <div class="mission">
                    <h4 class="h4-title">주차별 미션</h4>
                    <ul class="mission__list">
                        <li class="flex-lc">
                            <span>1</span>
                            <div class="space">|</div>
                            <h5>강의 진도율 미션</h5>
                            <p>70% 미만 퇴출</p>
                        </li>
                        <li class="flex-lc">
                            <span>2</span>
                            <div class="space">|</div>
                            <h5>주차별 학습일지 미션</h5>
                            <p>주 3회 미만 퇴출</p>
                        </li>
                        <li class="flex-lc">
                            <span>3</span>
                            <div class="space">|</div>
                            <h5>시험응시 미션</h5>
                            <p>70% 미만 퇴출</p>
                        </li>
                    </ul>
                    <div class="checkbox flex-center">
                        <label class="flex-lc">
                            <input type="checkbox">
                            <span class="checked flex-center"></span>
                            NCS 독한 스터디 미션을 모두 확인하였습니다.
                        </label>
                    </div>
                </div>
                <button type="button" class="btn_send btn_pr flex-center">독한 스터디 시작하기</button>
            </div>
        </div>
    </div>
</div>