<main>

</main>
<div class="modal modal-m fade modal-contactus" id="modal-contactus">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 1:1문의하기</h4>
                <button type="button" class="btn_lb ml-auto">문의내역</button>
            </div>
            <div class="modal-body">
                <div class="request">
                    <h5>문의유형선택</h5>
                    <ul class="request__list flex">
                        <li><a href="javascript:;" class="active">회원가입</a></li>
                        <li><a href="javascript:;">수강신청</a></li>
                        <li><a href="javascript:;">결제문의</a></li>
                        <li><a href="javascript:;">동영상</a></li>
                        <li><a href="javascript:;">도서구입배송</a></li>
                        <li><a href="javascript:;">취소/환불</a></li>
                        <li><a href="javascript:;">기타</a></li>
                    </ul>
                </div>
                <form action="" method="">
                    <div class="form-group">
                        <input type="text" name="" placeholder="제목을 입력하세요" required>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="문의 내용을 입력하세요"></textarea>
                        <div class="count-txt">*0 ／ 1000</div>
                    </div>
                    <div class="attachment flex-lc pr">
                        <button type="button" class="btn_select">파일 선택</button>
                        <button type="button" class="btn_remove">파일 삭제</button>
                        <input id="file" type="file" multiple>
                        <span class="attachment__name"></span>
                    </div>
                    <div class="guide_attachment">
                        <h5>파일 첨부 안내</h5>
                        <p>
                            파일은 상담 시 필요한 경우 첨부해 주세요.
                            개인정보가 포함된 첨부파일은 상담 완료 후 즉각
                            파기되며, 상담 외의 목적으로 사용되지 않습니다.
                            첨부파일 용량은 5MB미만이며, 1개 파밀만 입력
                            가능합니다.
                        </p>
                        <p>
                            첨부파일 확장자: jpg, gif, png, bmp, hwp, doc,
                            ppt, xls, zip, pdf, txt
                        </p>
                    </div>
                    <div class="bottom flex">
                        <button type="button" class="btn_send col-4">문의등록</button>
                        <button type="button" class="btn_remove col-4">삭제하기</button>
                        <button type="button" class="btn_cancel col-4">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>