<main>
    <div class="category pr">
        <ul class="category__list category__list--1 flex">
            <li><a href="" title="">이공계 강의 <br>수강신청  </a></li>
            <li><a href="" title=""> SW 강의 <br>수강신청  </a></li>
            <li><a href="" title="">공정/회로실습 </a></li>
        </ul>
        <ul class="category__list category__list--2 flex" style="display: none">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <button type="button" class="btn_collapse"></button>
    </div>
    <div class="advisory flex-lc">
        <div class="text">
            <p>실무 면접관, 엔지니어 전문가 </p>
            <p>선생님들께 직접 상담 받으세요!</p>
        </div>
        <a href="" title="" class="btn_register flex-center">무료 컨설팅 신청</a>
    </div>
    <div class="banner">
        <div class="item">
            <a href=""><img src="./assets/img/slider.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href=""><img src="./assets/img/slider.jpg" alt=""></a>
        </div>
    </div>
    <div class="intro">
        <h2 class="title"><span>이 강의 어때요?</span>선생님이 말하는 강의소개</h2>
        <div class="intro__list">
            <div class="item">
                <a href="" class="thumb"></a>
                <h3><a href="">나상무 선생님의 자소서 사생결단 (1:1무한첨삭 자소서 완성)</a></h3>
                <p>수강기간 : 2021-02-19 - 2021-02-25</p>
                <p>개강일시 : 2021-02-25(목) 17:00 - 21:00 </p>
                <a href="" title="" class="btn_view pr">강의 자세히 보기</a>
            </div>
            <div class="item">
                <a href="" class="thumb"></a>
                <h3><a href="">나상무 선생님의 자소서 사생결단 (1:1무한첨삭 자소서 완성)</a></h3>
                <p>수강기간 : 2021-02-19 - 2021-02-25</p>
                <p>개강일시 : 2021-02-25(목) 17:00 - 21:00 </p>
                <a href="" title="" class="btn_view pr">강의 자세히 보기</a>
            </div>
        </div>
    </div>
    <div class="banner-middle flex-center">
        OL_Middle Banne 1
    </div>
    <div class="recommended recommended-cs">
        <h2 class="title flex-lc">지금 딱 이 강좌! <span> 추천 학원강의</span></h2>
        <div class="recommended__item">
            <span class="tag blue">모집중</span>
            <h4>(2개기업 완성반) 2021상반기 자소서 사생결단</h4>
            <div class="middle flex">
                <div class="md_1 follow flex-lc pr">
                    봉민수 외 5명
                    <button type="button" class="btn_collapse dr"></button>
                    <div class="follow__list flex">
                        나상무  정지성  주영훈  우종석  안재형  한승아  박창민  석동훈
                    </div>
                </div>
                <div class="md_2 ml-auto">20명</div>
                <div class="md_3">개강일 : 21- 02 -19(금)</div>
            </div>
            <div class="bottom flex">
                <div class="price flex-lc">200,000 <small>원</small> <span class="flex-center">69%↓</span></div>
                <a href="" class="btn_apply flex-center">신청하기</a>
            </div>
        </div>
        <div class="recommended__item">
            <span class="tag red">마감임박</span>
            <h4>(2개기업 완성반) 2021상반기 자소서 사생결단</h4>
            <div class="middle flex">
                <div class="md_1 follow flex-lc pr">
                    봉민수 외 5명
                    <button type="button" class="btn_collapse dr"></button>
                    <div class="follow__list flex">
                        나상무  정지성  주영훈  우종석  안재형  한승아  박창민  석동훈
                    </div>
                </div>
                <div class="md_2 ml-auto">20명</div>
                <div class="md_3">개강일 : 21- 02 -19(금)</div>
            </div>
            <div class="bottom flex">
                <div class="price flex-lc">200,000 <small>원</small> <span class="flex-center">69%↓</span></div>
                <a href="" class="btn_apply flex-center">신청하기</a>
            </div>
        </div>
        <div class="recommended__item">
            <span class="tag blue">모집중</span>
            <h4>(2개기업 완성반) 2021상반기 자소서 사생결단</h4>
            <div class="middle flex">
                <div class="md_1 follow flex-lc pr">
                    봉민수 외 5명
                    <button type="button" class="btn_collapse dr"></button>
                    <div class="follow__list flex">
                        나상무  정지성  주영훈  우종석  안재형  한승아  박창민  석동훈
                    </div>
                </div>
                <div class="md_2 ml-auto">20명</div>
                <div class="md_3">개강일 : 21- 02 -19(금)</div>
            </div>
            <div class="bottom flex">
                <div class="price flex-lc">200,000 <small>원</small> <span class="flex-center">69%↓</span></div>
                <a href="" class="btn_apply flex-center">신청하기</a>
            </div>
        </div>
    </div>
    <div class="box-calendar">
        <h2 class="title flex-lc"><span>학원강의</span> 월간 시간표</h2>
        <div class="calendar_nav flex-lc">
            <button type="button">오늘</button>
            <ul class="tab nav flex ml-auto">
                <li><a href="#tab1" title="" class="active" data-toggle="tab" >월별</a></li>
                <li><a href="#tab2" title="" data-toggle="tab">목록별</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade show active">
                <div id="calendar-container" class="calendar-container"></div>
                <ul class="calendar_note flex">
                    <li><span class="tag tag1"></span> 이공계 강의</li>
                    <li><span class="tag tag2"></span> 공기업 강의</li>
                    <li><span class="tag tag3"></span> 무료 특강</li>
                </ul>
            </div>
            <div id="tab2" class="tab-pane fade">
                <div class="header flex-lc">
                    <h5>전체 <span>12</span> 건</h5>
                    <div class="checkbox ml-auto">
                        <label class="flex-lc">
                            <input type="checkbox">
                            <span class="checked flex-center"></span>
                            마감 제외
                        </label>
                    </div>
                </div>
                <div class="list">
                    <div class="item flex">
                        <div class="item__left">
                            <span class="tag tag1"></span>
                            <time>02.21(월)</time>
                            <a href="" title="" class="btn_recruitment">모집중</a>
                        </div>
                        <div class="item__right">
                            <h3>(2개기업 완성반) 2021상반기 자소서 사생결단</h3>
                            <p><span>봉민수</span>  수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>
                        </div>
                    </div>
                    <div class="item flex">
                        <div class="item__left">
                            <span class="tag tag2"></span>
                            <time>02.21(월)</time>
                            <a href="" title="" class="btn_recruitment">모집중</a>
                        </div>
                        <div class="item__right">
                            <h3>(2개기업 완성반) 2021상반기 자소서 사생결단</h3>
                            <p><span>봉민수</span>  수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>
                        </div>
                    </div>
                    <div class="item flex">
                        <div class="item__left">
                            <span class="tag tag3"></span>
                            <time>02.21(월)</time>
                            <a href="" title="" class="btn_recruitment">모집중</a>
                        </div>
                        <div class="item__right">
                            <h3>(2개기업 완성반) 2021상반기 자소서 사생결단</h3>
                            <p><span>봉민수</span>  수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>
                        </div>
                    </div>
                    <div class="item flex">
                        <div class="item__left">
                            <span class="tag tag1"></span>
                            <time>02.21(월)</time>
                            <a href="" title="" class="btn_recruitment">모집중</a>
                        </div>
                        <div class="item__right">
                            <h3>(2개기업 완성반) 2021상반기 자소서 사생결단</h3>
                            <p><span>봉민수</span>  수강기간 : 21-02-21 ~ 21-02-28 (총 2회/일)</p>
                        </div>
                    </div>
                </div>
                <ul class="calendar_note flex">
                    <li><span class="tag tag1"></span> 이공계 강의</li>
                    <li><span class="tag tag2"></span> 공기업 강의</li>
                    <li><span class="tag tag3"></span> 무료 특강</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="practice">
        <div class="header flex">
            <h2 class="title"><span>이론으로 배웠던 내용,</span> 직접 실습하고 싶다면?</h2>
            <a href="" title="" class="btn_more ml-auto">MORE +</a>
        </div>
        <div class="scrollbar">
            <div class="practice__list flex">
                <div class="item pr">
                    <a href="" class="thumb"></a>
                    <span class="tag">사전예약</span>
                </div>
                <div class="item pr">
                    <a href="" class="thumb"></a>
                    <span class="tag">사전예약</span>
                </div>
            </div>
        </div>
    </div>
    <div class="event event-cs">
        <div class="event__list">
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-book.jpg" alt=""></a>
                <div class="content">
                    <h3><a href="">이공계 취업합격 <br> 현장 무료 특강</a></h3>
                    <p class="txt-2">
                        삼성채용임원 X 전/현직 엔지니어 <br>
                        출신들의 차별화된 이공계 취업 <br>
                        전략 무료 공개
                    </p>
                </div>
            </div>
            <div class="item">
                <a href="" class="thumb"><img src="./assets/img/img-book.jpg" alt=""></a>
                <div class="content">
                    <h3><a href="">공기업 채용 TV로<span>채용공고 놓치지 말자</span></a></h3>
                    <p class="txt-2">중요한 채용공고부터 히든 공기업 추천까지</p>
                </div>
            </div>
        </div>
        <div class="event__nav flex">
            <button type="button" class="event_prev">prev</button>
            <div class="event_dots"></div>
            <button type="button" class="event_next">prev</button>
        </div>
    </div>
    <div class="partner">
        <h2>
            26개의 대학과 사업처가 렛유인과 함께 <br>
            이공계 취업을 준비하고 있습니다.
        </h2>
        <div class="scrollbar">
            <ul class="partner__list flex">
                <li><a href=""><img src="./assets/img/logo-dt1.jpg" alt=""></a></li>
                <li><a href=""><img src="./assets/img/logo-dt2.jpg" alt=""></a></li>
                <li><a href=""><img src="./assets/img/logo-dt1.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
</main>
<div class="modal fade modal-login" id="modal-login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">로그아웃</h4>
                <button type="button" class="btn_notifi pr"><span class="flex-center">N</span></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="name">안녕하세요! <span>홍길동</span>님</div>
                <div class="classroom">
                    <div class="header flex-lc">
                        <h5>내강의실</h5>
                        <button type="button" class="btn_collapse ml-auto"></button>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>스터디</h5>
                            <div class="txt ml-auto">합격할 때까지 유이니와 함께~</div>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                        <div class="info flex">
                            <div class="col-3">
                                <h5>00 강</h5>
                                <span>누적 학습량</span>
                            </div>
                            <div class="col-6">
                                <h5>00 시간 00 분</h5>
                                <span>누적 학습 시간</span>
                            </div>
                            <div class="col-3">
                                <h5>00 일</h5>
                                <span>누적 학습일 수</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>프리패스</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>온라인강의</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>학원강의</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>공정실습</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>모의고사</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>취업기업분석</h5>
                            <div class="ml-auto flex">
                                <p>열람중 <span>0 건</span></p>
                                <p>열람중 패키지 <span>0 건</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>자소서 첨삭</h5>
                        </div>
                        <div class="info flex">
                            <div class="col">
                                <h5>0 건</h5>
                                <span>대기</span>
                            </div>
                            <div class="col">
                                <h5>1 건</h5>
                                <span>반려</span>
                            </div>
                            <div class="col">
                                <h5>1 건</h5>
                                <span>신청완료</span>
                            </div>
                            <div class="col">
                                <h5>2 건</h5>
                                <span>첨삭중</span>
                            </div>
                            <div class="col">
                                <h5>3 건</h5>
                                <span>첨삭완료</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title flex">
                            <h5>종료된 콘텐츠</h5>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i>FAQ</a>
                <a href=""><i class="icon icon-wr"></i>1:1맞춤상담</a>
                <a href=""><i class="icon icon-notifi"></i>공지사항</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-logout" id="modal-logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">로그아웃</h4>
                <button type="button" class="btn_notifi pr"><span class="flex-center">N</span></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="name">안녕하세요! <span>홍길동</span>님</div>
                <div class="classroom">
                    <div class="header flex-lc">
                        <h5>내강의실</h5>
                        <button type="button" class="btn_collapse ml-auto"></button>
                    </div>
                    <div class="page-title">마이페이지</div>
                    <div class="item">
                        <div class="flex">
                            <p>보유한 포인트 <span>100,000P</span></p>
                            <p>보유 렛머니 <span>10,000원</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex">
                            <p>장바구니 <span>3 건</span></p>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <h5>결제내역</h5>
                        <div class="flex">
                            <p>대기<span>00</span>건</p>
                            <p>결제완료<span>00</span>건</p>
                            <p>결제취소<span>00</span>건</p>
                        </div>
                    </div>
                    <div class="item">
                        <h5>도서배송현황</h5>
                        <div class="flex">
                            <p>배송준비<span>00</span>건</p>
                            <p>배송중<span>00</span>건</p>
                            <p>배송완료<span>00</span>건</p>
                        </div>
                    </div>
                    <div class="item">
                        <h5>1:1 문의내역</h5>
                        <div class="flex">
                            <p>접수<span>00</span>건</p>
                            <p>답변<span>00</span>건</p>
                            <button type="button" class="ml-auto">1:1문의하기</button>
                        </div>
                    </div>
                    <div class="item">
                        <p>사용 가능 보유 쿠폰 <span>3 장</span></p>
                        <div class="box-button flex">
                            <button type="button"></button>
                            <button type="button"></button>
                            <button type="button"></button>
                            <button type="button"></button>
                            <button type="button" class="btn_register">쿠폰등록</button>
                        </div>
                        <div class="guide">
                            <h5>쿠폰 등록 및 이용 안내</h5>
                            <p>
                                쿠폰번호 등록할 때는 숫자와 영문대소문자를 구별하여 입력하세요. 
                                ex) 0000-CCdd-AAbb-0000
                            </p>
                            <p>
                                모바일 사이트에서는 사용 가능한 쿠폰 정보만 확인 가능합니다. 
                                ※ 사용한 쿠폰 정보는 PC사이트에서 확인 가능합니다
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex">
                            <p>회원정보 수정</p>
                            <span>(비밀번호, SNS 연동계정 등 수정)</span>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex">
                            <p>회원탈퇴</p>
                            <button type="button" class="btn_collapse"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i>FAQ</a>
                <a href=""><i class="icon icon-wr"></i>1:1맞춤상담</a>
                <a href=""><i class="icon icon-notifi"></i>공지사항</a>
            </div>
        </div>
    </div>
</div>

