<main>
    <div class="page-lecture">
        <div class="header pr">수강 중 프리패스 강좌</div>
        <div class="select pr">
            <select name="" id="">
                <option>(Lv.2 개념다지기) 2021 자동차 산업...</option>
            </select>
        </div>
        <div class="info">
            <time>2020.12.04 ~ <span>2021.02.28</span></time>
            <div class="flex">
                <p>남은 일수 : <span>21</span>일</p>
                <p>진도율 :  <span>0.00</span> ％</p>
            </div>
        </div>
        <div class="lecture">
            <h4>커리큘럼 (5)</h4>
            <div class="lecture__list">
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>1차시</h5>
                            <span>31분 2초</span>
                            <span>진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 기업 및 채용 직무
                        </h3>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>2차시</h5>
                            <span>31분 2초</span>
                            <span>진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 기업 및 채용 직무
                        </h3>
                        <p>(2) 본사: 영업/서비스, 경영기획, 재경, 홍보, 경영지원,
                            신사업전략 & 연구개발: 선행기획, 차량설계/평가</p>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
                <div class="item flex">
                    <div class="content">
                        <div class="detail flex-lc">
                            <h5>3차시</h5>
                            <span>31분 2초</span>
                            <span>진도율: <small>0.00</small> %</span>
                        </div>
                        <h3>
                            자동차 기업 및 채용 직무
                        </h3>
                        <p>(2) 본사: 영업/서비스, 경영기획, 재경, 홍보, 경영지원,
                            신사업전략 & 연구개발: 선행기획, 차량설계/평가</p>
                    </div>
                    <a href="" class="btn_play"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt flex">
        <div class="col-6">
            <a href="" class="">후기작성</a>
        </div>
        <div class="col-6">
            <a href="" class="">강의질문</a>
        </div>
    </div>
    <a href="" title="" class="talk">talk</a>
    <div class="modal fade modal-lecture" id="modal-lecture">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="flex-center" data-toggle="modal" data-target="#modal-setting">맞춤검색설정</button>
                    <h4 class="title">강의추가</h4>
                    <a href="javascript:;"  class="close" data-dismiss="modal"></a>
                </div>
                <div class="modal-body">
                    <form action="" method="" class="search flex-center pr">
                        <input type="text" placeholder="검색 강의명 입력">
                        <button type="reset" class="btn_remove"></button>
                        <button type="submit" class="btn_submit"></button>
                    </form>
                    <div class="lecture">
                        <div class="header flex">
                            <h5>강의 목록 (00)</h5>
                            <ul class="tab nav flex ml-auto">
                                <li><a href="#추천순" data-toggle="tab" class="active" title="">추천순</a></li>
                                <li><a href="#최신순" data-toggle="tab" title="">최신순</a></li>
                            </ul>
                            <div class="checkbox flex-center pr">
                                <input type="checkbox" checked>
                                <span class="checked"></span>
                            </div>
                        </div>
                        <div class="lecture__list">
                            <div class="item">
                                <div class="item__scroll">
                                    <div class="scroll pr">
                                        <div class="content pr">
                                            <div class="tag flex">
                                                <span class="new">New</span>
                                                <span class="best">Best</span>
                                                <span class="nr">샘플강의</span>
                                            </div>
                                            <h3>(Lv.1 첫걸음) KLA-Tencor
                                                기업분석 & 직무분석
                                            </h3>
                                            <div class="info flex">
                                                <div class="info__item">샘플강의</div>
                                                <div class="info__item">30일</div>
                                                <div class="info__item">2차시</div>
                                                <div class="info__item flex-lc">
                                                    <div class="rating pr"><div class="value" style="width: 60%;"></div></div>
                                                    REVIEW<span>(1건)</span>
                                                </div>
                                            </div>
                                            <i class="icon icon-arr"></i>
                                        </div>
                                        <a href="" class="btn_play"></a>
                                    </div>
                                </div>
                                <div class="checked"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" title="">선택 강의 추가 등록 <span>(12)</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-filter" id="modal-filter">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title">강의 맞춤 검색 설정</h4>
                    <button type="button" class="btn_reset" onClick="history.go(0);"></button>
                    <a href="javascript:;"  class="close" data-dismiss="modal"></a>
                </div>
                <div class="modal-body">
                    <ul class="filter">
                        <li>
                            <div class="header flex">
                                <h5>기업별</h5>
                                <p>( <span>0</span> / 7 )</p>
                                <div class="checkbox ml-auto">
                                    <input class="checkbox_lv1" type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <ul class="filter__sub">
                                <li>
                                    <h5>- 전자과</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox" checked>
                                        <span class="checked flex-center"></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>- 전자과</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox" checked>
                                        <span class="checked flex-center"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="header flex">
                                <h5>기업별</h5>
                                <p>( <span>0</span> / 7 )</p>
                                <div class="checkbox ml-auto">
                                    <input class="checkbox_lv1" type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <ul class="filter__sub">
                                <li>
                                    <h5>- 전자과</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox" checked>
                                        <span class="checked flex-center"></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>- 전자과</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox" checked>
                                        <span class="checked flex-center"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <div class="header flex">
                                <h5>기업별</h5>
                                <p>( <span>0</span> / 7 )</p>
                                <div class="checkbox ml-auto">
                                    <input class="checkbox_lv1" type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <ul class="filter__sub">
                                <li>
                                    <h5>- 전자과</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox" checked>
                                        <span class="checked flex-center"></span>
                                    </div>
                                </li>
                                <li>
                                    <h5>- 전자과</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox" checked>
                                        <span class="checked flex-center"></span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_apply" data-dismiss="modal">맞춤 설정 적용</button>
                </div>
            </div>
        </div>
    </div>
</main>