<main>

</main>
<div class="modal fade modal-status" id="modal-status">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 도서배송현황</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <ul class="tab nav flex">
                    <li>기간 검색 <i class="icon-i flex-center">i</i></li>
                    <li><a href="#개월1" data-toggle="tab" title="">1개월</a></li>
                    <li><a href="#개월3" data-toggle="tab" title="">3개월</a></li>
                    <li><a href="#개월6" data-toggle="tab" title="">6개월</a></li>
                    <li><a href="#개월12" data-toggle="tab" class="active" title="">12개월</a></li>
                </ul>
                <div class="tab-content">
                    <div id="개월12" class="tab-pane fade show active">
                        <div class="status flex">
                            <div class="item active">
                                <span>01</span>
                                <h5>전체</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>준비</h5>
                            </div>
                            <div class="item">
                                <span>01</span>
                                <h5>배송중</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>완료</h5>
                            </div>
                        </div>
                        <div class="box-order">
                            <div class="order">
                                <div class="order__status">배송중</div>
                                <div class="order__code">21010817110001</div>
                                <div class="order__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                    <p>결제일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="order__item">
                                    <h3><a href="/letuin/build/LUIM_LC_Details.html">2020 하반기 렛유인 GSAT 삼성직무적성검사 독학단기완성</a></h3>
                                    <p>판매가 : 18,900원 │ 수량  :  1</p>
                                </div>
                                <div class="order__payment">
                                    <p>총 결제금액 : <span>18,900원</span> │ 총 배송 수량 : <span>1</span></p>
                                </div>
                                <div class="order__delivery">
                                    <h5><a href="/letuin/build/LUIM_LC_Details.html">송장번호 : 637008890486</a></h5>
                                    <p>배송시작일 : 2021-02-08, 11:45:11</p>
                                </div>
                            </div>
                            <div class="order">
                                <div class="order__status finish">배송완료</div>
                                <div class="order__code">21010817110001</div>
                                <div class="order__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                    <p>결제일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="order__item">
                                    <h3>2020 하반기 렛유인 GSAT 삼성직무적성검사 독학단기완성</h3>
                                    <p>판매가 : 18,900원 │ 수량  :  1</p>
                                </div>
                                <div class="order__item">
                                    <h3>2020 하반기 렛유인 GSAT 삼성직무적성검사 독학단기완성</h3>
                                    <p>판매가 : 18,900원 │ 수량  :  1</p>
                                </div>
                                <div class="order__item">
                                    <h3>2020 하반기 렛유인 GSAT 삼성직무적성검사 독학단기완성</h3>
                                    <p>판매가 : 18,900원 │ 수량  :  1</p>
                                </div>
                                <div class="order__payment">
                                    <p>총 결제금액 : <span>56,700원</span> │ 총 배송 수량 : <span>3</span></p>
                                </div>
                                <div class="order__delivery">
                                    <h5>송장번호 : 637008890486</h5>
                                    <p>배송시작일 : 2021-02-08, 11:45:11</p>
                                </div>
                            </div>
                            <div class="order">
                                <div class="order__status prepare">배송준비</div>
                                <div class="order__code">21010817110001</div>
                                <div class="order__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                    <p>결제일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="order__item">
                                    <h3>2020 하반기 렛유인 GSAT 삼성직무적성검사 독학단기완성</h3>
                                    <p>판매가 : 18,900원 │ 수량  :  1</p>
                                </div>
                                <div class="order__payment">
                                    <p>총 결제금액 : <span>18,900원</span> │ 총 배송 수량 : <span>1</span></p>
                                </div>
                                <div class="order__delivery">
                                    <h5>송장번호 : 637008890486</h5>
                                    <p>배송시작일 : 2021-02-08, 11:45:11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="개월3" class="tab-pane fade">
                        tab2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>