<main>

</main>
<div class="modal fade modal-cart" id="modal-cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">주문상품 전체보기 (5)</h4>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="orderlist">
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h2>패키지</h2>
                        </div>
                        <div class="item__content">
                            <div class="product flex">
                                <a href="" class="product__img"></a>
                                <div class="product__content">
                                    <h3><a href="">(3/2 개강) SW 취준백서 2일완성반 3기 (이론+일대일컨설팅)</a></h3>
                                    <div class="price">140,000 원  / <span>2</span> 개</div>
                                </div>
                            </div>
                            <div class="booklist">
                                <div class="booklist__item flex">
                                    <h5>ㄴ</h5>
                                    <p>(도서)한권으로 끝내는 전공면접 반도체
                                        기본편    I   <span>19,800</span>원</p>
                                </div>
                                <div class="booklist__item flex">
                                    <h5>ㄴ</h5>
                                    <p>(도서)한권으로 끝내는 전공면접 반도체
                                        기본편    I   <span>19,800</span>원</p>
                                </div>
                                <div class="booklist__item flex">
                                    <h5>ㄴ</h5>
                                    <p>(도서)한권으로 끝내는 전공면접 반도체
                                        기본편    I   <span>19,800</span>원</p>
                                </div>
                                <div class="booklist__item flex">
                                    <h5>ㄴ</h5>
                                    <p>(도서)한권으로 끝내는 전공면접 반도체
                                        기본편    I   <span>19,800</span>원</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__header flex-lc">
                            <h2>학원 강의</h2>
                        </div>
                        <div class="item__content">
                            <div class="product flex">
                                <a href="" class="product__img"></a>
                                <div class="product__content">
                                    <h3><a href="">2020년 상반기, 삼성전자 DS</a></h3>
                                    <div class="price">9,900 원  / <span>2</span> 개</div>
                                </div>
                            </div>
                            <div class="booklist">
                                <div class="booklist__item flex">
                                    <h5>ㄴ</h5>
                                    <p>(3/2개강)SW취중백서 1일 완성반 3기
                                        개강일 : 2021.02.27(화) 18:00~12:00</p>
                                </div>
                                <div class="booklist__item flex">
                                    <h5>ㄴ</h5>
                                    <p>(3/2개강)SW취중백서 1일 완성반 3기
                                        개강일 : 2021.02.27(화) 18:00~12:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
