<main>

</main>
<div class="modal fade modal-category" id="modal-category">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn_link flex">
                    <a href="" title="로그인">로그인</a>
                    <a href="" title="회원가입">회원가입</a>
                </div>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <ul class="menu_link flex">
                    <li><a href=""><i class="icon icon-class"></i> 내강의실</a></li>
                    <li><a href=""><i class="icon icon-history"></i> 결제내역</a></li>
                    <li><a href=""><i class="icon icon-transport"></i> 도서배송현황</a></li>
                </ul>
                <div class="menu-accordion">
                    <div class="toggle-accordion">
                        <button type="button" class="expand_all flex-lc">전체메뉴열기 <span>+</span></button>
                        <button type="button" class="colpand_all flex-lc">전체메뉴닫기 <span>-</span></button>
                    </div>
                    <div class="item show">
                        <div class="header flex-lc">
                            <h4>이공계 취업</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                            <li><a href="">패키지 수강신청</a></li>
                            <li><a href="">NCS수료증 발급강의</a></li>
                            <li><a href="">0원 프리패스</a></li>
                            <li><a href="">삼성 프리패스</a> </li>
                            <li><a href="">삼성 프리패스</a></li>
                            <li><a href="">NCS수료증 발급 강의</a></li>
                            <li><a href="">0원 프리패스</a></li>
                            <li><a href="">삼성 프리패스</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="header flex-lc">
                            <h4>공기업 취업</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="header flex-lc">
                            <h4>SW/IT 취업</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="header flex-lc">
                            <h4>학원 강의</h4>
                            <button type="button" class="btn_collapse ml-auto"></button>
                        </div>
                        <ul class="menu flex">
                            <li><a href="">수강 신청</a></li>
                        </ul>
                    </div>
                </div>
                <form action="" class="form-register">
                    <h5>나에게 맞는 커리큘럼을 찾고 있다면, 취업 전문가와 상담 신청하세요!</h5>
                    <div class="form-group flex-nowrap">
                        <input type="text" name="" placeholder="이름">
                        <input type="number" name="" placeholder="휴대폰 번호">
                        <button type="submit" class="btn_submit flex-center">전문가 상담 신청</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i> FAQ</a>
                <a href=""><i class="icon icon-wr"></i> 1:1맞춤상담</a>
                <a href=""><i class="icon icon-phone"></i> 1:1문의</a>
            </div>
        </div>
    </div>
</div>