<main>

</main>
<div class="modal modal-md fade modal-password" id="modal-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">비밀번호 입력</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label>개인정보 보호를 위해 비밀번호를 입력해주세요</label>
                        <input type="password" name="" placeholder="비밀번호를 입력하세요">
                    </div>
                    <button type="submit" class="btn_submit flex-center">확 인</button>
                </form>
            </div>
        </div>
    </div>
</div>