<main>
    <div class="head_title pr">
        <h1>비밀번호 찾기</h1>
    </div>
    <div class="changepw">
        <div class="text text-center">
            <h4 class="title-m">비밀번호 변경이 완료되었습니다.</h4>
            <p>변경된 비밀번호로 로그인 해주세요!</p>
        </div>
        <button type="button" class="btn_login btn_se flex-center">로그인</button>
    </div>
</main>