<main>

</main>
<div class="modal fade modal-payment" id="modal-payment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr"></i> 결제내역</h4>
                <button type="button" class="btn_reset"></button>
            </div>
            <div class="modal-body">
                <ul class="tab nav flex">
                    <li>기간 검색 <i class="icon-i flex-center">i</i></li>
                    <li><a href="#개월1" data-toggle="tab"  title="">1개월</a></li>
                    <li><a href="#개월3" data-toggle="tab" title="">3개월</a></li>
                    <li><a href="#개월6" data-toggle="tab" title="">6개월</a></li>
                    <li><a href="#개월12" data-toggle="tab" class="active" title="">12개월</a></li>
                </ul>
                <div class="tab-content">
                    <div id="개월12" class="tab-pane fade show active">
                        <div class="status flex">
                            <div class="item active">
                                <span>00</span>
                                <h5>전체</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>대기</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>대기</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>취소</h5>
                            </div>
                        </div>
                        <div class="txt">
                            취소/교환/반품은 1:1문의나 고객센터
                            (Tel 02-539-1779)로 연락 주시면, 처리 가능합니다.
                        </div>
                        <div class="payment-history">
                            <div class="payment">
                                <div class="payment__status">대기</div>
                                <div class="payment__code">21010817110001</div>
                                <div class="payment__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="payment__dt">
                                    <h5>오프라인</h5>
                                    <a href="/letuin/build/LUIM_LC_Details.html">(5기) 반도체 박살 트레이닝 : 반린이의 반란</a>
                                </div>
                                <div class="payment__info">
                                    결제금액 : <span>19,900원</span> (+ 배송비 0원 포함)
                                </div>
                                <div class="payment__type">(무통장 입금 19,900원)</div>
                                <div class="payment__note">
                                    <p>가상계좌 : 농협 79015844581026</p>
                                    <p>입금 마감일 : 2021-02-11</p>
                                </div>
                            </div>
                            <div class="payment">
                                <div class="payment__status finish">완료</div>
                                <div class="payment__code">21010817110001</div>
                                <div class="payment__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                    <p>결제일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="payment__dt">
                                    <h5>프리패스</h5>
                                    <p>(렛유인) 취업끝장 프리패스 3개월 환급반 ver 2.0</p>
                                </div>
                                <div class="payment__info">
                                    결제금액 : <span>19,900원</span> (+ 배송비 0원 포함)
                                </div>
                                <div class="payment__type">(신용카드 175,200원 + 쿠폰 40,800원 + 렛머니 3,000원)</div>
                            </div>
                            <div class="payment">
                                <div class="payment__status cancel">취소</div>
                                <div class="payment__code">21010817110001</div>
                                <div class="payment__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                    <p>결제일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="payment__dt">
                                    <h5>프리패스</h5>
                                    <p>(1/19 개강) 추리영역 108번뇌로 GSAT 완전정복 (종합과정)</p>
                                </div>
                                <div class="payment__info">
                                    취소금액 : <span>- 85,000원</span> (+ 배송비 0원 포함)
                                </div>
                                <div class="payment__type">(신용카드 85,000원)</div>
                            </div>
                            <div class="payment">
                                <div class="payment__status finish">완료</div>
                                <div class="payment__code">21010817110001</div>
                                <div class="payment__time">
                                    <p>주문일 2021-02-08 17:11(금)</p>
                                    <p>결제일 2021-02-08 17:11(금)</p>
                                </div>
                                <div class="payment__dt">
                                    <h5>상품</h5>
                                    <p>- 서울교통공사 합격 패키지
                                        (승무/차량/전기/신호/기계/승강장안전문)
                                    </p>
                                    <p>- 2020 하반기 서울교통공사</p>
                                    &nbsp;
                                    <h5>도서</h5>
                                    <p>- 공기업 면접위원 출신 나상무 선생님의
                                        전지적 면접관 시점
                                    </p>
                                    <p>- 2020 출제유형/기관 상관없이 ONE SHOT!
                                        NCS 모듈형+PSAT형 통합 기본서
                                    </p>
                                    <p>- 한권으로 끝내는 NCS 공기업 전공필기 기계직</p>
                                    <p>- NCS 필기합격자들이 직접 감수한 서울교통 공사 NCS 봉투모의고사 5회</p>
                                </div>
                                <div class="payment__info">
                                    결제금액 : <span>229,200원</span> (+ 배송비 0원 포함)
                                </div>
                                <div class="payment__type">(가상계좌 229,200 원)</div>
                            </div>
                        </div>
                    </div>
                    <div id="개월3" class="tab-pane fade">
                        tab2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>