<main>
    <div class="head_title pr">
        <h1>스터디</h1>
    </div>
    <div class="banner-study pr">
        <h4>합격하는 1%의 공부습관 만들기</h4>
        <h2>독한스터디</h2>
        <div class="text">
            <p>지금도 매일 500명이 넘는 스터디원들이</p>
            <p>공기업 최종합격을 위해 렛유인과 함께</p>
            <p><span>‘합격하는 1%의 공부습관’</span>을 만들어가고 있습니다.</p>
        </div>
        <a href="" title="" class="btn_view flex-center">자세히 보기 <i class="icon icon-arr"></i></a>
    </div>
    <div class="study mb-ft">
        <div class="study__list bt">
            <div class="header flex-lc">
                <h4>내가 수강한 스터디 (0)</h4>
            </div>
            <div class="bg_gray">
                <div class="notifi">
                    <h5>수강 중인 스터디가 없습니다.</h5>
                    <div class="img"><img src="./assets/img/img-study.png" alt=""></div>
                    <div class="text">
                        <p>최근 12개월간 참여한 스터디 정보가 노출됩니다.</p>
                        <p>이전 정보는 <a href="" title="">PC버전</a> > <a href="" title="">내강의실</a> > <a href="" title="">스터디</a> 에서</p>
                        <p>확인 가능합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">내게 맞는 NCS독한스터디 찾기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>