<main>

</main>
<div class="modal modal-m fade modal-coupon" id="modal-coupon">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 할인 쿠폰</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="coupon">
                    <div class="coupon__header">
                        <h5>나의 보유 할인쿠폰  :  <span>3 장</span></h5>
                    </div>
                    <div class="coupon__register">
                        <h4 class="flex-lc">할인쿠폰 등록 <i class="icon icon-i">i</i></h4>
                        <div class="box-note pr box-text">
                            <article>
                                <p>쿠폰 번호는 숫자와 영문대소문자 구별하여
                                    16자리를 입력하세요.
                                    ex) 0000-CCdd-AAbb-0000
                                </p>
                                <p>발행 쿠폰은 한 번만 등록 가능 합니다. <br> (동일 번호 중복 등록 불가)</p>
                                <p>쿠폰은 ‘장바구니 > 주문서 작성’ 단계에서도 등록 할 수 있습니다.</p>
                            </article>
                            <button type="button" class="close"></button>
                        </div>
                        <div class="coupon__box flex">
                            <input type="text" value="1234">
                            <input type="text" value="Abc2">
                            <input type="text" value="3dG4">
                            <input type="text" value="3K53">
                        </div>
                        <a href="" class="btn_register flex-center">쿠폰등록</a>
                    </div>
                    <div class="coupon__guide box-collapse">
                        <div class="header flex-lc">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 쿠폰 이용 안내</h4>
                            <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#coupon__guide"></button>
                        </div>
                        <div class="scroll_vertical">
                            <div class="collapse_content show collapse" id="coupon__guide">
                                <div class="item">
                                    <div class="item__header flex-lc">
                                        <time>사용기한 : <span>~ 2021.02.25</span></time>
                                        <span class="flex-lc">50% ↓</span>
                                    </div>
                                    <div class="item__content">
                                        <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item__header flex-lc">
                                        <time>사용기한 : <span>~ 2021.02.25</span></time>
                                        <span class="flex-lc">50% ↓</span>
                                    </div>
                                    <div class="item__content">
                                        <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item__header flex-lc">
                                        <time>사용기한 : <span>~ 2021.02.25</span></time>
                                        <span class="flex-lc">50% ↓</span>
                                    </div>
                                    <div class="item__content">
                                        <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item__header flex-lc">
                                        <time>사용기한 : <span>~ 2021.02.25</span></time>
                                        <span class="flex-lc">50% ↓</span>
                                    </div>
                                    <div class="item__content">
                                        <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item__header flex-lc">
                                        <time>사용기한 : <span>~ 2021.02.25</span></time>
                                        <span class="flex-lc">50% ↓</span>
                                    </div>
                                    <div class="item__content">
                                        <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item__header flex-lc">
                                        <time>사용기한 : <span>~ 2021.02.25</span></time>
                                        <span class="flex-lc">50% ↓</span>
                                    </div>
                                    <div class="item__content">
                                        <h3>(2021 공공기관 채용박람회 초청기념) 공기업 전상품 50% 할인쿠폰</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>