<main>

</main>
<div class="modal fade modal-addinfo" id="modal-compop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">1:1맞춤강의추천 상담</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="header bg-gray">
                    <span class="number flex-center">06</span>
                    <h2>렛유인을 어떻게 알게 <br>되었나요?</h2>
                    <button type="button" class="btn_ellipse"></button>
                    <p> 렛유인을 찾게 된 가입 경로를</p>
                    <p>알려주세요! (1개 선택 가능)</p>
                    <div class="process pr"><div class="process__value" style="width: 100%;"></div></div>
                </div>
                <ul class="select_list flex">
                    <li>
                        <input type="checkbox" name="" checked>
                        <div class="name flex-center">지인추천</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">인터넷 검색</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">온라인 <br>배너광고</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">페이스북</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">유튜브</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">렛유인 <br>네이버 카페</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">타 카페</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">카카오</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">기타</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="nav-popup flex">
                    <button type="button" class="btn_prev flex-center"><i class="icon icon-prev"></i> 이 전</button>
                    <button type="button" class="btn_next flex-center">다 음 <i class="icon icon-next"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>