<main>

</main>
<div class="modal fade modal-addinfo" id="modal-compop">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">1:1맞춤강의추천 상담</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="header bg-gray">
                    <span class="number flex-center">05</span>
                    <h2>당신의 취업 준비 기간을 <br> 알려주세요.</h2>
                    <button type="button" class="btn_ellipse"></button>
                    <p>실제 채용 공고에 지원한 기간을</p>
                    <p>선택해주세요. (1개 선택 가능)</p>
                    <div class="process pr"><div class="process__value" style="width: 80%;"></div></div>
                </div>
                <ul class="select_list flex">
                    <li>
                        <input type="checkbox" name="" checked>
                        <div class="name flex-center">첫 도전</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">1년 미만</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">1년 이상</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">2년 이상</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                    <li>
                        <input type="checkbox" name="">
                        <div class="name flex-center">3년 이상</div>
                        <i class="icon-check flex-center"></i>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="nav-popup flex">
                    <button type="button" class="btn_prev flex-center"><i class="icon icon-prev"></i> 이 전</button>
                    <button type="button" class="btn_next flex-center">다 음 <i class="icon icon-next"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>