<main>
    <div class="category pr">
        <ul class="category__list category__list--1 flex">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <ul class="category__list category__list--2 flex" style="display: none">
            <li><a href="" title="">수강신청</a></li>
            <li><a href="" title=""> 패키지 <br> 수강신청 </a></li>
            <li><a href="" title="">NCS수료증 <br>  발급강의 </a></li>
        </ul>
        <button type="button" class="btn_collapse"></button>
    </div>
    <div class="box-time flex">
        <div class="icon icon-time"><img src="./assets/img/clock.png" alt=""></div>
        <div class="count_down">
            <div class="flex">
                <div class="down days">
                    <span class="time"></span>
                    <span class="txt">일</span>
                </div>
                <div class="down hours">
                    <span class="time"></span>
                    <span class="space">:</span>
                </div>
                <div class="down minutes">
                    <span class="time"></span>
                    <span class="space">:</span>
                </div>
                <div class="down seconds">
                    <span class="time"></span>
                </div>
            </div>
            <div class="text">0원 프리패스 마감</div>
        </div>
        <a href="" class="btn_apply flex-center ml-auto" title="수강신청">수강신청</a>
    </div>
    <div class="setting flex-lc">
        <h5>맞춤강의 상세 조건을 설정하세요.</h5>
        <a href="" title="" class="btn_setting">+ 설정하기</a>
    </div>
    <div class="listtype">
        <div class="header flex-lc">
            <h4>총 0 건</h4>
            <div class="checkbox__list ml-auto flex">
                <label class="flex-lc">
                    추천순
                    <input type="checkbox" name="" checked>
                    <span class="checked flex-center"></span>
                </label>
            </div>
        </div>
        <div class="notifi bg-gray">
            <div class="img"><img src="./assets/img/icon-s.png" alt=""></div>
            <h5>카테고리 내 검색 결과가 없습니다.</h5>
            <div class="txt">
                필터 선택 조건이 너무 많은 경우,
                검색결과가 없을 수 있습니다.

                항목별 1~2개 내외로 선택 후 검색해 보세요.
            </div>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>

