<main>

</main>
<div class="modal modal-m fade modal-contactus" id="modal-contactus">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 1:1문의내역</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="note">
                    <p>답변 완료된 문의는 수정/삭제가 불가능합니다.</p>
                    <p>접수된 문의는 빠른 시간 내에 답변 드리도록 하겠습니다.</p>
                </div>
                <button type="button" class="btn_question flex-center" data-toggle="modal" data-target="#modal-contactuswt">문의하기</button>
                <ul class="statistical flex">
                    <li class="active">
                        <span>03</span>
                        <h5>전체</h5>
                    </li>
                    <li>
                        <span>02</span>
                        <h5>접수</h5>
                    </li>
                    <li>
                        <span>01</span>
                        <h5>답변</h5>
                    </li>
                </ul>
                <div class="txt-notifi pr">
                    <div class="txt">12개월 이전 1:1문의내역은 ‘PC버전 >
                        마이페이지 > 1:1문의내역’에서 확인 가능합니다.
                    </div>
                    <button type="button" class="close"></button>
                </div>
                <div class="contact">
                    <div class="item">
                        <h5>회원가입</h5>
                        <time>접수일 2021-02-08 17:11(금)</time>
                        <h3 data-toggle="modal" data-target="#modal-contactusview">PC/Mobile 사이트 회원가입 및 로그인 등 회원 관련 문의사항</h3>
                        <div class="top-right flex-lc">
                            <button type="button" class="lb">접수</button>
                        </div>
                    </div>
                    <div class="item">
                        <h5>회원가입</h5>
                        <time>접수일 2021-02-08 17:11(금)</time>
                        <h3>PC/Mobile 사이트 회원가입 및 로그인 등 회원 관련 문의사항</h3>
                        <div class="answer">
                            <div class="answer__header flex">
                                <h6>관리자 답글</h6>
                                <time>2021-02-08 17:11(금)</time>
                            </div>
                            <div class="answer__content">
                                답변 제목 최대 2줄 노출되며, 제목 선택 시 상세
                                내용 노출, 답변 제목 최대 2줄 노출되며, 제목 선택 시 상세
                            </div>
                        </div>
                        <div class="top-right flex-lc">
                            <div class="icon icon-attachment"></div>
                            <button type="button" class="lb lb-answer">답변</button>
                        </div>
                    </div>
                    <div class="item">
                        <h5>회원가입</h5>
                        <time>접수일 2021-02-08 17:11(금)</time>
                        <h3>PC/Mobile 사이트 회원가입 및 로그인 등 회원 관련 문의사항</h3>
                        <div class="top-right flex-lc">
                            <button type="button" class="lb">접수</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-m fade modal-contactus" id="modal-contactuswt">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 1:1문의하기</h4>
                <button type="button" class="btn_lb ml-auto">문의내역</button>
            </div>
            <div class="modal-body">
                <div class="request">
                    <h5>문의유형선택</h5>
                    <ul class="request__list flex">
                        <li><a href="javascript:;" class="active">회원가입</a></li>
                        <li><a href="javascript:;">수강신청</a></li>
                        <li><a href="javascript:;">결제문의</a></li>
                        <li><a href="javascript:;">동영상</a></li>
                        <li><a href="javascript:;">도서구입배송</a></li>
                        <li><a href="javascript:;">취소/환불</a></li>
                        <li><a href="javascript:;">기타</a></li>
                    </ul>
                </div>
                <form action="" method="">
                    <div class="form-group">
                        <input type="text" name="" placeholder="제목을 입력하세요" required>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="문의 내용을 입력하세요"></textarea>
                        <div class="count-txt">*0 ／ 1000</div>
                    </div>
                    <div class="attachment flex-lc pr">
                        <button type="button" class="btn_select">파일 선택</button>
                        <button type="button" class="btn_remove">파일 삭제</button>
                        <input id="file" type="file" multiple>
                        <span class="attachment__name"></span>
                    </div>
                    <div class="guide_attachment">
                        <h5>파일 첨부 안내</h5>
                        <p>
                            파일은 상담 시 필요한 경우 첨부해 주세요.
                            개인정보가 포함된 첨부파일은 상담 완료 후 즉각
                            파기되며, 상담 외의 목적으로 사용되지 않습니다.
                            첨부파일 용량은 5MB미만이며, 1개 파밀만 입력
                            가능합니다.
                        </p>
                        <p>
                            첨부파일 확장자: jpg, gif, png, bmp, hwp, doc,
                            ppt, xls, zip, pdf, txt
                        </p>
                    </div>
                    <div class="bottom flex">
                        <button type="button" class="btn_send col-4">문의등록</button>
                        <button type="button" class="btn_remove col-4">삭제하기</button>
                        <button type="button" class="btn_cancel col-4">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-m fade modal-contactus" id="modal-contactusview">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 1:1문의</h4>
                <button type="button" class="btn_lb ml-auto">문의하기</button>
            </div>
            <div class="modal-body">
                <div class="time-register flex-lc">
                    <h5>회원가입</h5>
                    <time>2021-02-08 17:11(금)</time>
                </div>
                <div class="accordion">
                    <div class="accordion__item show">
                        <div class="accordion__header flex-lc">
                            <i class="icon icon-acc">Q</i>
                            <h4>고객이 입력한 제목이 자동으로 최대 2줄까지 노출됩니다.</h4>
                        </div>
                        <div class="accordion__content">
                            <article>
                                <p>
                                    고객이 입력한 문의상세 내용이 노출됩니다.
                                    상세 내용은 고객이 입력한 띄어쓰기,
                                    줄바꿈, 등이 그대로 반영되지만, html
                                    소스나 그림사입 등의 에디터는 모바일에서
                                    제공하지 않습니다. PC에서 1:1 문의를
                                    에디터로 입력한 경우, 모바일에서는 어떻게
                                    노출할지 결정이 필요합니다.
                                </p>

                                <p>
                                    # 고객사 확인사항
                                    1.제목과 내용 영역에 입력 가능한 글자 수
                                    범위 확인 필요(DB 필드)고려
                                </p>

                                <p>
                                    2. 첨부파일은 하나만 등록가능하고, 등록
                                    파일의 제한 용량 확인이 필요.
                                    (설계 3MB 제한함).
                                </p>

                                <p>
                                    3. 첨부 가능 파일 확장자는 이미지와 문서
                                    기준으로 지정함. 추가로 필요한 확장자가
                                    있는지 확인 필요
                                </p>
                            </article>
                            <div class="attachment">
                                <a href="" class="flex-lc"><i class="icon icon-attachment"></i> 첨부파일_이름과 확장자</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion__item show">
                        <div class="accordion__header flex-lc">
                            <i class="icon icon-acc" style="background: #525252; color: #fff;">A</i>
                            <h4>고객이 입력한 제목이 자동으로 최대 2줄까지 노출됩니다.</h4>
                        </div>
                        <div class="accordion__content">
                            <article>
                                <p>
                                    고객이 입력한 문의상세 내용이 노출됩니다.
                                    상세 내용은 고객이 입력한 띄어쓰기,
                                    줄바꿈, 등이 그대로 반영되지만, html
                                    소스나 그림사입 등의 에디터는 모바일에서
                                    제공하지 않습니다. PC에서 1:1 문의를
                                    에디터로 입력한 경우, 모바일에서는 어떻게
                                    노출할지 결정이 필요합니다.
                                </p>

                                <p>
                                    # 고객사 확인사항
                                    1.제목과 내용 영역에 입력 가능한 글자 수
                                    범위 확인 필요(DB 필드)고려
                                </p>

                                <p>
                                    2. 첨부파일은 하나만 등록가능하고, 등록
                                    파일의 제한 용량 확인이 필요.
                                    (설계 3MB 제한함).
                                </p>

                                <p>
                                    3. 첨부 가능 파일 확장자는 이미지와 문서
                                    기준으로 지정함. 추가로 필요한 확장자가
                                    있는지 확인 필요
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>