<main>

</main>
<div class="modal fade modal-status" id="modal-status">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 도서배송현황</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <ul class="tab nav flex">
                    <li>기간 검색 <i class="icon-i flex-center">i</i></li>
                    <li><a href="#개월1" data-toggle="tab" title="">1개월</a></li>
                    <li><a href="#개월3" data-toggle="tab" title="">3개월</a></li>
                    <li><a href="#개월6" data-toggle="tab" title="">6개월</a></li>
                    <li><a href="#개월12" data-toggle="tab" class="active" title="">12개월</a></li>
                </ul>
                <div class="box-text hide pr">
                    <div class="content">
                        <p>12개월 이전 배송현황은 ‘PC버전 > 마이페이지
                            > 도서배송현황’에서 확인 가능합니다.</p>
                        <p>구매 취소 된 주문은 조회되지 않습니다.</p>
                    </div>
                    <button type="button" class="close">X</button>
                </div>
                <div class="tab-content">
                    <div id="개월12" class="tab-pane fade show active">
                        <div class="status flex">
                            <div class="item">
                                <span>01</span>
                                <h5>전체</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>준비</h5>
                            </div>
                            <div class="item">
                                <span>01</span>
                                <h5>배송중</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>완료</h5>
                            </div>
                        </div>
                        <div class="notifi">
                            <h5>도서 구매 내역이 없습니다.</h5>
                            <div class="img"><img src="./assets/img/found.png" alt=""></div>
                        </div>
                        <div class="txt">
                            12개월 이전 배송현황은
                            ‘PC버전 > 마이페이지 > 도서배송현황’에서
                            확인 가능합니다.
                        </div>
                    </div>
                    <div id="개월3" class="tab-pane fade">
                        tab2
                    </div>
                </div>
                <div class="orderinfo">
                    <div class="orderinfo__header flex-lc">
                        <h4 class="flex-lc"><i class="icon icon-qs">?</i> 도서 배송 안내</h4>
                        <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#orderinfo"></button>
                    </div>
                    <div class="orderinfo__content collapse show" id="orderinfo">
                        <article>
                            <p>‘자격증 과정’ 관련 도서 구매 시 배송 현황을 확인할 수 있습니다.</p>
                            <p>“배송중” 상태일 때, 송장번호로 배송 추척이 가능합니다.</p>
                            <p>도서배송 : CJ택배 배송 조회 <br>
                                (CJ택배 고객센터 전화 : 1588-1255 )</p>
                            <p><b>도서 배송 시간</b> 배송시간 : 영업일 기준 월~금 오후 2시 이전 결제 시 <br>
                                당일 발송</p>
                            <p>주말, 공휴일 및 휴무일 등 구매 시, 휴무 종료 후 다음 <br>
                                영업일 발송</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>