<main>
    <div class="head_title pr flex-center">
        <h1>수강 신청</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <div class="lectured">
        <div class="lectured__view pr">
            <a href="" class="btn_view flex-center"><i class="icon icon-play"></i> 샘플 강의 보기</a>
            <div class="deadline">마감임박</div>
        </div>
        <div class="lectured__tag flex">
            <span class="new">NEW</span>
            <span class="best">BEST</span>
            <span class="certificate">수료증발급</span>
        </div>
        <div class="lectured__detail">
            <h3>(Lv.3 집중완성) 반도체 공정설비 핵심이론</h3>
            <p>삼성전자DS/SK하이닉스 반도체 엔지니어 출신 정건화 선생님의</p>
            <p> 2020 New 버전 "반도체 공정설비 핵심이론"</p>
            <div class="price flex">
                <div class="price__discount">36%</div>
                <div class="price__current">80,000원</div>
                <div class="price__old">100,000원</div>
            </div>
        </div>
        <div class="lectured__review flex-lc">
            <div class="rating pr"><div class="value" style="width: 80%;"></div></div>
            <p>REVIEW <span>(56건)</span></p>
        </div>
        <ul class="lectured__info">
            <li>
                <h5>강사</h5>
                <p>정건화 외 4명 <button type="button" class="btn_more">+</button></p>
            </li>
            <li>
                <h5>강의구성</h5>
                <p>총 13차시</p>
            </li>
            <li>
                <h5>수강기간</h5>
                <p>30일</p>
            </li>
        </ul>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
</main>