<main>
    <div class="head_title pr">
        <h1>장바구니</h1>
    </div>
    <div class="cart">
        <ul class="cart__process flex">
            <li class="active">
                <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
                <h5>장바구니</h5>
            </li>
            <li>
                <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
                <h5>주문서 작성</h5>
            </li>
            <li>
                <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
                <h5>주문완료</h5>
            </li>
        </ul>
        <div class="notifi">
            <h4>장바구니에 담긴 상품이 없습니다.</h4>
            <div class="img"><img src="./assets/img/icon-cart.png" alt=""></div>
            <p>장바구니 상품은 <span>30일</span> 동안 보관됩니다.</p>
            <a href="" title="" class="btn_buy flex-center">추가 구매하기</a>
        </div>
    </div>
</main>