<main>
    <div class="banner banner_cs1">
        <div class="item">
            <a href=""><img src="./assets/img/slider1.jpg" alt=""></a>
        </div>
        <div class="item">
            <a href=""><img src="./assets/img/slider1.jpg" alt=""></a>
        </div>
    </div>
    <div class="notice flex">
        <h5 class="flex-lc">공지</h5>
        <div class="notice__item">애플 관련기기 수강안내 (아이패드....</div>
        <a href="" title="+ 더보기" class="btn_other ml-auto">+ 더보기</a>
    </div>
    <div class="menu-accordion">
        <div class="item show">
            <div class="header flex-lc">
                <h4>이공계 취업</h4>
                <div class="keyword flex">
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                </div>
                <button type="button" class="btn_collapse ml-auto"></button>
            </div>
            <ul class="menu flex">
                <li><a href="/letuin/build/LUIM_LC_ListType_a.html">수강 신청</a></li>
                <li><a href="">패키지 수강신청</a></li>
                <li><a href="">NCS수료증 발급강의</a></li>
                <li><a href="">0원 프리패스</a></li>
                <li><a href="">삼성 프리패스<span class="status">BEST</span></a></li>
                <li><a href="">자소서 첨삭</a></li>
                <li><a href="">반도체 직무역량평가</a></li>
                <li><a href="">디스플레이 직무역량평가</a></li>
                <li><a href="">온라인 직무적성검사</a></li>
            </ul>
        </div>
        <div class="item show">
            <div class="header flex-lc">
                <h4>공기업 취업</h4>
                <div class="keyword flex">
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                </div>
                <button type="button" class="btn_collapse ml-auto"></button>
            </div>
            <ul class="menu flex">
                <li><a href="/letuin/build/LUIM_LC_ListType_a.html">독한 스터디</a></li>
                <li><a href="">수강신청</a></li>
                <li><a href="">300% 환급 프리패스</a></li>
                <li><a href="">NCS 온라인 모의고사</a></li>
                <li><a href="">취업기업분석 <span class="status">BEST</span></a> </li>
                <li><a href="">도서</a></li>
                <li><a href="">NCS 직업교육</a></li>
            </ul>
        </div>
        <div class="item show">
            <div class="header flex-lc">
                <h4>SW/IT취업</h4>
                <div class="keyword flex">
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                </div>
                <button type="button" class="btn_collapse ml-auto"></button>
            </div>
            <ul class="menu flex">
                <li><a href="">수강신청 <span class="status">BEST</span></a> </li>
                <li><a href="">프로젝트 강의</a></li>
                <li><a href="">취업가이드북</a></li>
            </ul>
        </div>
        <div class="item show">
            <div class="header flex-lc">
                <h4>학원강의</h4>
                <div class="keyword flex">
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                    <a href="#" title="">#키워드여섯개</a>
                </div>
                <button type="button" class="btn_collapse ml-auto"></button>
            </div>
            <ul class="menu flex">
                <li><a href="">이공계 강의 수강신청</a></li>
                <li><a href="">SW 강의 수강신청</a></li>
                <li><a href="">공정/회로실습 <span class="status">BEST</span></a> </li>
                <li><a href="">국비지원 과정</a></li>
                <li><a href="">무료취업특강</a></li>
                <li><a href="">무료수강상담</a></li>
            </ul>
        </div>
    </div>
    <div class="banner-middle gray flex-center">Middle Text Banner Area</div>
    <div class="review">
        <div class="header flex">
            <div class="header__dt">
                <h2>렛유인 <span>합격 명예의 전당</span></h2>
                <p>누적 합격자(‘15~19’) <span>11,388명</span></p>
            </div>
        </div>
        <div class="scrollbar">
            <div class="review__list flex">
                <div class="item p-0">
                    <a href="/letuin/build/LUIM_LC_ReviewWR_pop.html"><img src="./assets/img/banner-ss.png" alt=""></a>
                </div>
                <div class="item p-0">
                    <a href="/letuin/build/LUIM_LC_ReviewWR_pop.html"><img src="./assets/img/banner-ss.png" alt=""></a>
                </div>
            </div>
        </div>
        <a href="" title="More" class="btn_link_more flex-center">+ More</a>
    </div>
</main>
<div class="modal fade modal-review" id="modal-review">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>후기작성</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="select-2-container">
                    <select class="select-2" name="" id="">
                        <option>(취업전략) 공기업 취업 길라잡이(인물)</option>
                    </select>
                </div>
                <div class="box-rating">
                    <h4>별점을 선택해주세요</h4>
                    <div class="rating">
                        <input type="radio" name="rating" value="1"><i></i>
                        <input type="radio" name="rating" value="2"><i></i>
                        <input type="radio" name="rating" value="3"><i></i>
                        <input type="radio" name="rating" value="4"><i></i>
                        <input type="radio" name="rating" value="5"><i></i>
                    </div>
                </div>
                <form action="" method="">
                    <div class="form-group">
                        <label>제목 <span class="sup">*</span></label>
                        <input type="text" name="" placeholder="제목을 입력하세요.">
                    </div>
                    <div class="form-group">
                        <label>수강후기 <span class="sup">*</span></label>
                        <textarea placeholder="평점은 최대 1,000자까지 등록 가능하며, 도배성 후기나 근거 없는 비방 등 부적절한 후기는 삭제처리 및 지급된 포인트는 회수 처리됩니다."></textarea>
                        <div class="count-txt">0 ／ 1000</div>
                    </div>
                    <div class="attachment pr">
                        <button type="button" class="btn_file">파일 선택</button>
                        <input id="file" type="file">
                        <span class="attachment__name">Ctus2012021020811110001.jpg</span>
                        <div class="attachment__guide">
                            <h4>파일 첨부 안내</h4>
                            <p>파일은 상담 시 필요한 경우 첨부해 주세요.</p>
                            <p>개인정보가 포함된 첨부파일은 상담 완료 후 즉각 파기되며, 상담 외의 </p>
                            <p>목적으로 사용되지 않습니다.</p>
                            <p>
                                첨부파일 용량은 5MB미만이며, 1개 파밀만 입력 가능합니다.
                                첨부파일 확장자: jpg, gif, png, bmp, hwp, doc, ppt, xls, zip, pdf, txt
                            </p>
                        </div>
                    </div>
                    <div class="note">
                        <div class="note__header flex-lc">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i>포인트 적립 유의사항</h4>
                            <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#note"></button>
                        </div>
                        <div class="note__content collapse show" id="note">
                            <div class="box-text">
                                <p>
                                    수강후기는 실제 수강생만 작성할 수 있으며, 유료 결제 건의 대한 후기
                                    에만 건별 포인트 1,000원을 지급합니다.
                                </p>
                                <p>
                                    후기 등록을 통한 포인트 지급은 일 최대 5건, 유료 결제금액의 10%이내
                                    에서만 지급가능
                                </p>
                                <p>
                                    예시1) 1일 동안 7건 작성 시 5건에 대해서만 포인트 지급됩니다
                                    (작성 날짜기준)
                                </p>

                                <p>
                                    예시2) 취업완성 프리패스를 250,000원에 결제한 고객은 후기 등록을
                                    통한 포인트 지급은 최대 25,000원(250,000*10%)을 초과할 수 없습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn_submit flex-center">등록하기</button>
                </form>
            </div>

        </div>
    </div>
</div>