<main>
    <div class="head_title pr">
        <h1>회원정보수정</h1>
    </div>
    <div class="box-form">
        <form action="" class="form-edit">
            <fieldset>
                <div class="fil_title flex">
                    <h5>회원정보</h5>
                    <p><span class="sup"> * </span> 필수항목</p>
                </div>
                <div class="form-group">
                    <label>아이디 </label>
                    <input type="text" value="LETUIN" readonly>
                </div>
                <div class="form-group">
                    <label>비밀번호 <span class="sup">*</span></label>
                    <input class="w-100" type="password" name="" placeholder="6~12자 영문, 숫자 사용 가능">
                </div>
                <div class="form-group">
                    <label>비밀번호 확인 <span class="sup">*</span></label>
                    <input class="w-100" type="password" name="" placeholder="비밀번호 재입력">
                </div>
                <div class="form-group">
                    <label>이름</label>
                    <input type="text" name="" value="홍길동" readonly>
                </div>
                <div class="form-group">
                    <label>별명</label>
                    <input class="nick" type="text" name="" placeholder="별명을 입력하세요">
                    <button type="button" class="btn_check">중복확인</button>
                </div>
                <div class="form-group">
                    <label>생년월일 <span class="sup">*</span></label>
                    <div class="group_list flex">
                        <div class="sex flex">
                            <div class="sex__item pr">
                                <input type="radio" name="sex" checked>
                                <span class="checked flex-center">양</span>
                            </div>
                            <div class="sex__item pr">
                                <input type="radio" name="sex">
                                <span class="checked flex-center">음</span>
                            </div>
                        </div>
                        <div class="date flex">
                            <div class="box-select">
                                <select name="" id="year">
                                    <option>2000</option>
                                </select>
                            </div>
                            <div class="box-select">
                                <select name="" id="month">
                                    <option>11</option>
                                </select>
                            </div>
                            <div class="box-select">
                                <select name="" id="day">
                                    <option>01</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>휴대전화 <span class="sup">*</span></label>
                    <div class="group_list mt">
                        <div class="group">
                            <input type="number" name="" placeholder="숫자만 입력하세요">
                            <button type="button" class="btn_request">인증요청</button>
                        </div>
                        <div class="group">
                            <input type="number" name="" placeholder="인증번호 (숫자 6자리)">
                            <button type="button" class="btn_confirm">인증확인</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>이메일 <span class="sup">*</span></label>
                    <div class="group_list email mt">
                        <div class="group flex-lc flex-nw">
                            <input type="text" name="" placeholder="abcdef">
                            <span>@</span>
                            <input class="gray" type="text" name="" placeholder="직접입력">
                        </div>
                        <div class="group flex">
                            <div class="box-select">
                                <select name="">
                                    <option>naver.com</option>
                                </select>
                            </div>
                            <button type="button" class="btn_check">중복확인</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>마케팅수신동의 (선택)</label>
                    <div class="group_list">
                        <div class="checkbox_list flex">
                            <label class="checkbox flex pr">
                                <input type="checkbox" name="" checked>
                                <span class="checked flex-center"></span>
                                E-Mail 수신
                            </label>
                            <label class="checkbox flex pr">
                                <input type="checkbox" name="">
                                <span class="checked flex-center"></span>
                                SMS 수신
                            </label>
                        </div>
                        <div class="txt">
                            다양한 이벤트, 상품, 설명회, 시험정보, 취업에
                            필요한 정보를 받아보는 것에 동의합니다.
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="fil_title">
                    <h5>부가 정보</h5>
                </div>
                <div class="form-group">
                    <label>부가 정보 <span class="sup">*</span></label>
                    <div class="select flex">
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            대학교
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            석사
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            박사
                        </label>
                        <label class="item flex-lc pr">
                            <input type="radio" name="edu">
                            <span class="checked"></span>
                            고졸
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>학교 <span class="sup">*</span></label>
                    <input class="w-100" type="text" name="" placeholder="000 대학교">
                </div>
                <div class="form-group">
                    <label>재학기간 <span class="sup">*</span></label>
                    <div class="time_register flex-lc">
                        <div class="item flex-center">2006년</div>
                        <div class="box-select">
                            <select name="">
                                <option>2월</option>
                            </select>
                        </div>
                        <div class="space">-</div>
                        <div class="item flex-center">2006년</div>
                        <div class="box-select">
                            <select name="">
                                <option>2월</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>학과/전공분류 <span class="sup">*</span></label>
                    <div class="box-select w-100 ml-0">
                        <select name="">
                            <option>학과를 선택해 주세요.</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="fil_title">
                    <h5>SNS계정연동</h5>
                </div>
                <div class="account_link">
                    <div class="item flex">
                        <h5 class="title col-3">네이버 연동</h5>
                        <div class="text col-6">
                            <p>네이버 ID로 연결할 수 있습니다.</p>
                        </div>
                        <div class="col-3">
                            <a href="" title="" class="btn_link flex-center ">연동하기</a>
                        </div>
                    </div>
                    <div class="item flex">
                        <h5 class="title col-3">카카오 연동</h5>
                        <div class="text col-6">
                            <p>카카오 ID로 연결할 수 있습니다.</p>
                        </div>
                        <div class="col-3">
                            <a href="" title="" class="btn_link flex-center ">연동하기</a>
                        </div>
                    </div>
                    <div class="item flex">
                        <h5 class="title col-3">구글 연동</h5>
                        <div class="text col-6">
                            <p>구글 ID로 연결할 수 있습니다.</p>
                        </div>
                        <div class="col-3">
                            <a href="" title="" class="btn_link flex-center ">연동하기</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="guide">
                <h5>SNS계정연동 방법 안내</h5>
                <p>
                    SNS계정연동은 계정에 1개의 SNS와 연동 가능합니다.
                    다른 SNS와 연동을 원할 경우, 기존에 연동된 SNS 계정을
                    해지 후 다른 SNS계정과[연동하기]를 하시기 바랍니다.
                </p>
            </div>
            <div class="bottom flex">
                <button type="submit" class="btn_submit flex-center">수정 저장</button>
                <button type="reset" class="btn_cancel flex-center">취 소</button>
            </div>
        </form>
    </div>
</main>