<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <ul class="nav-link nav-link-lc flex">
        <li><a href="" title="">소개</a></li>
        <li><a href="" title="">목차(00)</a></li>
        <li><a href="" title="" class="active">후기(00)</a></li>
        <li><a href="" title="">도서</a></li>
        <li><a href="" title="">추천</a></li>
    </ul>
    <div class="reviews">
        <h2>총 00개의 수강 후기가 있어요</h2>
        <div class="reviews__list">
            <div class="item">
                <div class="flex-lc">
                    <div class="rating pr"><div class="value" style="width: 80%;"></div></div>
                    <p><span>a*****</span> ｜ <time>2021-01-26</time></p>
                </div>
                <h3>반도체 입문자에게 추천하는 강의입니다. <i class="icon icon-camera"></i></h3>
                <a href="" title="" class="btn_more">더보기</a>
            </div>
            <div class="item">
                <div class="flex-lc">
                    <div class="rating pr"><div class="value" style="width: 80%;"></div></div>
                    <p><span>a*****</span> ｜ <time>2021-01-26</time></p>
                </div>
                <h3>반도체 입문자에게 추천하는 강의입니다.</h3>
                <a href="javascript:;" title="" class="btn_more" data-toggle="modal" data-target="#modal-reviewdetail">더보기</a>
            </div>
            <div class="item">
                <div class="flex-lc">
                    <div class="rating pr"><div class="value" style="width: 80%;"></div></div>
                    <p><span>a*****</span> ｜ <time>2021-01-26</time></p>
                </div>
                <h3>반도체 입문자에게 추천하는 강의입니다.</h3>
                <a href="" title="" class="btn_more">더보기</a>
            </div>
        </div>
        <button type="button" class="btn_viewmore flex-center">더보기</button>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>
<div class="modal fade modal-reviewdetail" id="modal-reviewdetail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>후기</h4>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="reviewdetail">
                    <div class="title">NCS 반도체 종합패키지
                        (기초+트렌드+소자+전공정+후공정+회로)
                    </div>
                    <div class="box-rating flex-lc">
                        <div class="rating pr"><div class="value" style="width: 80%"></div></div>
                        <p><span>a*****</span> ｜ <time>2021-01-26</time></p>
                    </div>
                    <article>
                        <h2>반도체 입문자에게 추천하는 강의입니다.</h2>
                        <p>반도체 주요 기업과 직무에 대해 이해할 수 있는 수업</p>
                        <p>이어서 정말 만족했습니다. 이 강의를 통해 직무에 대한</p>
                        <p>이해도를 높일 수 있었고 그로인해 제 자신이 어디에</p>
                        <p>지원을 해야되는지 알 수 있는 수업이었습니다.</p>
                        <p>추가적으로 현직자가 알려주는 기업리스트와 국내</p>
                        <p>기업을 조사할 수 있는 방법을 알게되어서 좋았습니다.</p>
                        <div class="box-img"></div>
                    </article>
                </div>
                <div class="nav-review">
                    <div class="nav-next flex-lc">
                        <button type="button" class="flex-lc"><i class="icon icon-next"></i> 다음글</button>
                        <p>포토 공정을 기초에서부터 심화까지...</p>
                    </div>
                    <div class="nav-prev flex-lc">
                        <button type="button" class="flex-lc"><i class="icon icon-prev"></i> 이전글</button>
                        <p>반도체 공부범위 1편</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>