<main>
    <div class="head_title pr">
        <h1>자소서첨삭</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="selfintro">
        <div class="statisticals">
            <ul class="flex">
                <li class="active">
                    <span>00</span>
                    <h5>전체</h5>
                </li>
                <li>
                    <span>00</span>
                    <h5>대기</h5>
                </li>
                <li>
                    <span>00</span>
                    <h5>반려</h5>
                </li>
                <li>
                    <span>00</span>
                    <h5>신청완료</h5>
                </li>
                <li>
                    <span>00</span>
                    <h5>첨삭완료</h5>
                </li>
            </ul>
        </div>
        <div class="selfintro__info box-collapse">
            <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내 및 주의 사항</h4>
                <button class="btn_collapse dr ml-auto" type="button" data-toggle="collapse" data-target="#selfintro__info"></button>
            </div>
            <div class="collapse show" id="selfintro__info">
                <div class="box-text">
                    <p>
                        첨삭 파일 제출 시 선생님별로 지정된 파일 형식을 지켜주세요.
                        (워드 *.doc,*.docx / 한글 *.hwp 가능)
                        ※ 선생님별 지정된 파일 형식은 첨삭명에서 확인 가능합니다.
                        (워드 or 한글 중 택1)
                    </p>

                    <p>
                        첨삭 구매 후, 꼭 유효기간(14일) 이내 첨삭 파일을 제출해주세요. 
                        ※ 개인사정, 부주의 등으로 기간 만료된 첨삭은 도움 드리기
                        어렵습니다.
                    </p>

                    <p>
                        첨삭은 영업일 기준으로 진행됩니다. 
                        ex) 일반첨삭을 금요일 21시에 요청 시, 수요일 21시 이내에
                        첨삭이 완료됩니다.
                    </p>
                    <p>
                        자소서 첨삭은 한 개의 기업의 한 가지 직무에 대한 문항만을
                        첨삭해 드립니다.
                        여러 개의 기업이나 직무에 대한 문항을 한 번에 요청할 경우,
                        신청이 반려될 수 있습니다.
                    </p>

                    <p>
                        파일명에 꼭 “지원자이름_지원회사_사업부_직무”를
                        표기해주세요. <span>ex) 유이니_삼성전자_파운드리_공정기술.확장자</span>
                    </p>

                    <p>
                        반려 3일 내 재첨삭 파일을 제출하세요. 3일 초과 시, 첨삭 요청이
                        마감됩니다. 꼭 기간 내 재신청바랍니다.
                    </p>

                </div>
            </div>
        </div>
        <div class="selfintro__list">
            <div class="header flex-lc">
                <h4>수강 중 자소서 첨삭(0)</h4>
            </div>
            <div class="notifi">
                <h5>진행 중인 첨삭이 없습니다.</h5>
                <div class="img"><img src="./assets/img/img-nt.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">자소서 온라인 첨삭 자세히보기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>