<main>

</main>
<div class="modal modal-md fade modal-testreport" id="modal-testreport">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">모의고사 결과</h4>
                <button type="button" class="btn_viewmode">엑셀보기</button>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="text">
                    <p>렛유인 삼성그룹(GSAT)</p>
                    <p>직무적성검사 결과표</p>
                </div>
                <div class="reminder">
                    본 베타테스트는 평가의 난이도 조절, 응시자 시험결과에
                    따른 추천 데이터 신뢰성 향상 등 프로그램의 개선을 위해
                    임시로 진행되는 서비스입니다.
                </div>
                <div class="report">
                    <div class="report__header">
                        <h4>응시자 정보</h4>
                    </div>
                    <ul class="report__list">
                        <li>
                            <h5>아이디 </h5>
                            <p>abcedef</p>
                        </li>
                        <li>
                            <h5>응시일</h5>
                            <p>2021. 02. 18</p>
                        </li>
                        <li>
                            <h5>학교명</h5>
                            <p>한국대학교 ( 경기캠퍼스 )</p>
                        </li>
                        <li>
                            <h5>전공</h5>
                            <p>건축공학과</p>
                        </li>
                        <li>
                            <h5>학점</h5>
                            <p><span>2.2</span> / 4.3 점</p>
                        </li>
                        <li>
                            <h5>지원희망계열사</h5>
                            <p>삼성전자</p>
                        </li>
                    </ul>
                </div>
                <div class="report">
                    <div class="report__header">
                        <h4>응시 결과</h4>
                    </div>
                    <ul class="report__list">
                        <li>
                            <h5>점수 </h5>
                            <div class="score flex">
                                <div>
                                    <p>본인점수</p>
                                    <p><span>31</span> 점</p>
                                </div>
                                <div class="space">/</div>
                                <div>
                                    <p>평균</p>
                                    <p><span>91</span> 점</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h5>석차</h5>
                            <p><span>50</span> % (백분위)</p>
                        </li>
                    </ul>
                </div>
                <div class="report">
                    <div class="report__header flex-lc">
                        <h4>영역별 세부결과</h4>
                        <p class="ml-auto">총 31 점 ( 200 점 만점 )</p>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th><h5>영역</h5></th>
                                <th><h5>만점</h5></th>
                                <th><h5>본인점수</h5></th>
                                <th><h5>평균</h5></th>
                                <th><h5>석차(%)</h5></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p>수리논리</p></td>
                                <td><p>100 점</p></td>
                                <td><p><span>25</span> 점</p></td>
                                <td><p>25 점</p></td>
                                <td><p><span>50</span> %</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-collapse">
                        <div class="header flex-lc">
                            <h5><strong>[ 수리 ]</strong> 영역 : <span>하</span></h5>
                            <button type="button" class="flex-lc ml-auto" data-toggle="collapse" data-target="#collapse">영역별 코멘트 <i class="icon icon-arr"></i></button>
                        </div>
                        <div id="collapse" class="collapse show">
                            <article>
                                수리논리 모든 영역에서 전반적인 학습이 필요하다.
                                전반적으로 모든 유형의 다양한 문제를 풀어보면서 유형파악에 먼저 힘을 쓰고, 그에 맞는 문제를 풀어보면서 시간보다는 정확도에 먼저 집중하자.
                                아직까지 응용수리의 기본 문제도 숙달되지 않은 상태이다.
                                소금물 농도, 거리/시간/속력 등 기본적인 방성식 문제 등 기본 유형부터 틀리지 않도록 연습하자 자료를 이해하는 능력이 부족하다.
                                예제와 유형 연습 문제를 복습하여 기본 풀이 방법을 익히도록 하자. 문제를 푸는데 시간을 신경쓰기 보다 정확히 푸는데 집중하자.
                            </article>
                        </div>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <td><p>추리</p></td>
                                <td><p>100 점</p></td>
                                <td><p><span>6</span> 점</p></td>
                                <td><p>6 점</p></td>
                                <td><p><span>0</span> %</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-collapse">
                        <div class="header flex-lc">
                            <h5><strong>[ 수리 ]</strong> 영역 : <span>하</span></h5>
                            <button type="button" class="collapsed flex-lc ml-auto" data-toggle="collapse" data-target="#collapse1">영역별 코멘트 <i class="icon icon-arr"></i></button>
                        </div>
                        <div id="collapse1" class="collapse">
                            <article>
                                추리 영역 전반에…..
                            </article>
                        </div>
                    </div>
                    <div class="note">※ 점수 배점 및 만점은 실제 시험과 상이할 수 있습니다.</div>
                </div>
            </div>
        </div>
    </div>
</div>