<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <ul class="nav-link nav-link-lc flex">
        <li><a href="" title="">소개</a></li>
        <li><a href="" title="">목차(00)</a></li>
        <li><a href="" title="">후기(00)</a></li>
        <li><a href="" title="" class="active">도서</a></li>
        <li><a href="" title="">추천</a></li>
    </ul>
    <div class="book">
        <div class="header flex">
            <p>도서</p>
            <a href="" title="" class="btn_viewmore ml-auto">더보기</a>
        </div>
        <div class="scrollbar">
            <div class="book__list flex">
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <h3><a href="">한권으로 끝내는 전공 면접 반도체 기본편(산업, 소자..</a></h3>
                        <p>비전공자도 쉽게! 대기업, 중견기업 전공면접 대비 이론접 대비 이론...</p>
                    </div>
                </div>
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <h3><a href="">한권으로 끝내는 전공 면접 반도체 기본편(산업, 소자..</a></h3>
                        <p>비전공자도 쉽게! 대기업, 중견기업 전공면접 대비 이론접 대비 이론...</p>
                    </div>
                </div>
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <h3><a href="">한권으로 끝내는 전공 면접 반도체 기본편(산업, 소자..</a></h3>
                        <p>비전공자도 쉽게! 대기업, 중견기업 전공면접 대비 이론접 대비 이론...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lesson lesson-cs1">
        <div class="header flex">
            <h2>함께 들으면 더 좋아요 </h2>
            <p>렛유인 추천강의</p>
        </div>
        <div class="scrollbar">
            <div class="lesson__list flex">
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <div class="status new">New</div>
                        <p>공기업 면접 패키지</p>
                        <h3><a href="">인천교통공사 합격 <br> 패키지(사무직)</a></h3>
                        <div class="bottom flex">
                            <div class="author">문병기</div>
                            <div class="view flex-lc"><i class="icon icon-pen"></i> 34</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <div class="status best">Best</div>
                        <p>서류/NCS/전공/면접 완벽대비</p>
                        <h3><a href="">한국전력공사 합격 <br> 패키지 (사무)</a></h3>
                        <div class="bottom flex">
                            <div class="author">문병기</div>
                            <div class="view flex-lc"><i class="icon icon-pen"></i> 34</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="" class="thumb"></a>
                    <div class="content">
                        <div class="status best">Best</div>
                        <p>서류/NCS/전공/면접 완벽대비</p>
                        <h3><a href="">한국전력공사 합격 패키지 (사무)</a></h3>
                        <div class="bottom flex">
                            <div class="author">문병기</div>
                            <div class="view flex-lc"><i class="icon icon-pen"></i> 34</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>