<main>

</main>
<div class="modal modal-m fade modal-letmoney" id="modal-letmoney">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 렛머니</h4>
                <a href="" class="link ml-auto">포인트 내역보기</a>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="letmoney">
                    <div class="letmoney__header">
                        <h5>나의 보유 렛머니  :  <span>100,000</span></h5>
                    </div>
                    <div class="letmoney__exchange text-center">
                        <p>전환 가능 포인트 : <span>100,000 P</span></p>
                        <button type="button" class="btn_exchange flex-center" data-toggle="modal" data-target="#modal-point">렛머니 전환하기</button>
                    </div>
                    <div class="box-collapse">
                        <div class="header flex-lc">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 렛머니 이용 안내</h4>
                            <button type="button" class="btn_collapse collapsed dr ml-auto" data-toggle="collapse" data-target="#letmoney_guide"></button>
                        </div>
                        <div class="collapse box-text" id="letmoney_guide">
                            <p>
                                포인트를 렛머니로 전환하여 사용 가능하며, 현금으로
                                는 입금되지 않습니다.
                            </p>
                            <p>
                                렛유인 PC / 모바일 사이트에서 강좌 결제 시 사용할 수
                                있습니다.
                                ※ 렛머니는 최소 5,000원 이상부터 10원 단위로 사용
                                가능합니다.
                            </p>
                            <p>렛머니는 다시 포인트로 전환이 불가능합니다.</p>
                            <p>
                                렛머니는 유효기간은 기간은 없으나, 회원 탈퇴 시 자동
                                소멸됩니다. 12개월 이내 적립 또는 차감된 렛머니 내역
                                입니다.
                            </p>
                            <p>※ 이전 사용 내역은 ‘PC버전 > 마이페이지 >
                                포인트/렛머니’에서 확인 가능합니다.</p>
                        </div>
                    </div>
                    <div class="scroll_vertical">
                        <div class="letmoney__history">
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>강좌 결제</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="add">+1,000 P</span>
                                </div>
                                <p>취소 환급</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>강좌 결제</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>강좌 결제</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="add">+1,000 P</span>
                                </div>
                                <p>취소 환급</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>강좌 결제</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-m fade modal-point" id="modal-point">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr" data-dismiss="modal"></i> 포인트</h4>
                <a href="" class="link ml-auto">렛머니 내역보기</a>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
            </div>
            <div class="modal-body">
                <div class="point">
                    <div class="point__header">
                        <h5>나의 보유 포인트  :  <span>100,000 P</span></h5>
                    </div>
                    <div class="point__exchange">
                        <div class="flex-lc">
                            <div class="box-input pr">
                                <input type="number" name="" placeholder="전환할 포인트 입력(숫자만 입력)">
                                <span>P</span>
                            </div>
                            <div class="checkbox ml-auto pr">
                                <label class="flex-center">
                                    <input type="checkbox" name="" checked>
                                    <span class="checked flex-center"></span>
                                    전체입력
                                </label>
                            </div>
                        </div>
                        <div class="flex info">
                            <p>보유 렛머니 : <span>10,000 원</span></p>
                            <span class="space">│</span>
                            <p>잔여 포인트 : <span>100,000 P</span></p>
                        </div>
                        <button type="button" class="btn_exchange flex-center">전환하기</button>
                    </div>
                    <div class="box-collapse">
                        <div class="header flex-lc">
                            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 포인트 이용 안내</h4>
                            <button type="button" class="btn_collapse dr ml-auto" data-toggle="collapse" data-target="#point_guide"></button>
                        </div>
                        <div id="point_guide" class="collapse box-text show">
                            <p>
                                유효기간이 종료된 포인트는 사용이 불가능합니다.
                                아래 내역은 12개월 이내 적립 또는 차감/소멸된
                                포인트 내역입니다.
                            </p>

                            <p>
                                이전 사용 내역은 ‘PC버전 > 마이페이지 >
                                포인트/렛머니’에서 확인 가능합니다.
                            </p>

                            <p>
                                포인트는 렛머니로 전환하여. 렛유인 PC/모바일
                                사이트에서 강의 결제 시 사용 가능합니다.
                                ※ 렛머니는 다시 포인트로 전환이 불가능합니다.
                            </p>

                            <p style="color: #1b43b3">
                                렛머니 전환은 최소 1,000P 이상, 10P 단위로 전환
                                가능합니다.
                            </p>
                        </div>
                    </div>
                    <div class="scroll_vertical">
                        <div class="point__history">
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>렛머니로 전환 차감</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="add">+1,000 P</span>
                                </div>
                                <p>렛머니로 전환 차감</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>렛머니로 전환 차감</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>렛머니로 전환 차감</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="add">+1,000 P</span>
                                </div>
                                <p>렛머니로 전환 차감</p>
                            </div>
                            <div class="item">
                                <div class="item__header flex-lc">
                                    <time>2021-01-25, 13:52:19</time>
                                    <span class="sub">- 1,000 P</span>
                                </div>
                                <p>렛머니로 전환 차감</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>