<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <div class="lectured">
        <div class="lectured__view pr">
            <a href="" class="btn_view flex-center"><i class="icon icon-play"></i> 샘플 강의 보기</a>
            <div class="deadline">마감임박</div>
        </div>
        <div class="lectured__tag flex">
            <span class="new">NEW</span>
            <span class="best">BEST</span>
            <span class="certificate">수료증발급</span>
        </div>
        <div class="lectured__detail">
            <h3>(2/8 개강) 정지성 선생님의 끝장 자소서 완성판</h3>
            <p>2019 삼성채용한마당 공식초청강사 정지성 선생님과 9시간동안의</p>
            <p>1:1무한첨삭으로 "기업/직무선택 & 자소서" 끝장내기!</p>
            <div class="price flex">
                <div class="price__discount">36%</div>
                <div class="price__current">260,000원</div>
                <div class="price__old">350,000원</div>
            </div>
        </div>
        <div class="lectured__review flex-lc">
            <div class="rating pr"><div class="value" style="width: 80%;"></div></div>
            <p>REVIEW <span>(56건)</span></p>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
</main>