<main>
    <div class="head_title border-0 pr">
        <h1>모의고사</h1>
    </div>
    <div class="practive">
        <div class="statisticals">
            <ul class="flex">
                <li class="active">
                    <span>0</span>
                    <h5>전체</h5>
                </li>
                <li>
                    <span>0</span>
                    <h5>인적성</h5>
                </li>
                <li>
                    <span>0</span>
                    <h5>인적성</h5>
                </li>
                <li>
                    <span>0</span>
                    <h5>자격증</h5>
                </li>
                <li>
                    <span>0</span>
                    <h5>NCS</h5>
                </li>
            </ul>
        </div>
        <div class="practive__info box-collapse">
            <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 모의고사 이용 안내</h4>
                <button class="btn_collapse dr ml-auto" type="button" data-toggle="collapse" data-target="#practive__info"></button>
            </div>
            <div class="collapse show" id="practive__info">
                <div class="box-text">
                    <p>
                        응시기간 내 모든 모의고사 내역은 목록을 통해 확인할 수
                        있습니다.
                    </p>
                    <p>
                        종료된 모의고사는 종료된 강의에서 확인 가능합니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="practive__list">
            <div class="header flex-lc">
                <h4>수강 중 모의고사(0)</h4>
            </div>
            <div class="notifi">
                <h5>수강 중인 모의고사가 없습니다.</h5>
                <div class="img"><img src="./assets/img/icon-media.png" alt=""></div>
                <p>무슨 강의를 들을지 모르시겠다구요?
                    유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
                </p>
                <a href="" title="" class="btn_apply">1:1맞춤강의 상담신청</a>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-lc">강의추가 수강신청하기<i class="icon icon-play"></i></a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>