<main>
    <div class="head_title pr">
        <h1>내가 수강한 스터디</h1>
    </div>
    <div class="study mb-ft">
        <div class="select-2-container">
            <select class="select-2" name="">
                <option>NCS PSAT 독한 스터디 1기</option>
            </select>
        </div>
        <div class="study__text">
            <p><strong>홍길동</strong>님, 경쟁자와 비교한 누적 학습시간은</p>
            <p>전체 스터디원 중 <span>하위 14%</span>입니다.</p>
        </div>
        <div class="study__info flex">
            <div class="col-4">
                <h5>누적 학습량</h5>
                <p><span>00</span>강</p>
            </div>
            <div class="col-4">
                <h5>누적 학습 시간</h5>
                <p><span>00</span>시간 <span>00</span>분</p>
            </div>
            <div class="col-4">
                <h5>누적 학습일 수</h5>
                <p><span>00</span>일</p>
            </div>
        </div>
        <div class="study__list study__list--cs bt">
            <div class="header flex-lc">
                <h4>활동 스터디 (2)</h4>
            </div>
            <div class="bg_gray">
                <div class="item">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <time>2020.12.04 ~ <span>2021.03.10</span></time>
                                <h3>독한 스터디_OT영상</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="bottom flex">
                                <p>남은 일수 : <span>30일</span></p>
                                <p>진도율 : <span>0%</span></p>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                                <a href="javascript:;" class="btn btn_cup"></a>
                            </div>
                        </div>
                        <a href="" title="" class="btn_file"></a>
                    </div>
                </div>
                <div class="item item-cup">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <time>2020.12.04 ~ <span>2021.02.25</span></time>
                                <h3>(독한 스터디) NCS PSAT 3주차 강의</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="bottom flex">
                                <p>남은 일수 : <span>0일</span></p>
                                <p>진도율 : <span>100%</span></p>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn_cup"></a>
                    </div>
                </div>
                <div class="item item-cup">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <time>2020.12.04 ~ <span>2021.01.18</span></time>
                                <h3>(독한 스터디) NCS PSAT 3주차 강의</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="bottom flex">
                                <p>남은 일수 : <span>0일</span></p>
                                <p>진도율 : <span>100%</span></p>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn_cup"></a>
                    </div>
                </div>
                <div class="item item-cup">
                    <div class="item__scroll">
                        <div class="scroll pr">
                            <div class="content pr">
                                <time>2020.12.04 ~ <span>2021.01.11</span></time>
                                <h3>(독한 스터디) NCS PSAT 3주차 강의</h3>
                                <i class="icon icon-arr"></i>
                            </div>
                            <div class="bottom flex">
                                <p>남은 일수 : <span>0일</span></p>
                                <p>진도율 : <span>100%</span></p>
                            </div>
                            <div class="box-btn flex">
                                <a href="javascript:;" class="btn btn_wr"></a>
                            </div>
                        </div>
                        <a href="javascript:;" class="btn btn_cup"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">내게 맞는 NCS독한스터디 찾기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>