<main>

</main>
<div class="modal fade modal-payment" id="modal-payment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title flex-lc"><i class="icon icon-arr"></i> 결제내역</h4>
                <button type="button" class="btn_reset"></button>
            </div>
            <div class="modal-body">
                <ul class="tab nav flex">
                    <li>기간 검색 <i class="icon-i flex-center">i</i></li>
                    <li><a href="#개월1" data-toggle="tab"  title="">1개월</a></li>
                    <li><a href="#개월3" data-toggle="tab" title="">3개월</a></li>
                    <li><a href="#개월6" data-toggle="tab" title="">6개월</a></li>
                    <li><a href="#개월12" data-toggle="tab" class="active" title="">12개월</a></li>
                </ul>
                <div class="box-text hide pr">
                    <div class="content">
                        <p>12개월 이전 결제내역은 ‘PC버전 > 마이페이지
                            > 결제내역’에서 확인 가능합니다.</p>
                    </div>
                    <button type="button" class="close">X</button>
                </div>
                <div class="tab-content">
                    <div id="개월12" class="tab-pane fade show active">
                        <div class="status flex">
                            <div class="item">
                                <span>00</span>
                                <h5>전체</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>대기</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>완료</h5>
                            </div>
                            <div class="item">
                                <span>00</span>
                                <h5>취소</h5>
                            </div>
                        </div>
                        <div class="txt">
                            취소/교환/반품은 1:1문의나 고객센터
                            (Tel 02-539-1779)로 연락 주시면, 처리 가능합니다.
                        </div>
                        <div class="notifi">
                            <h5>결제완료 내역이 없습니다.</h5>
                            <div class="img"><img src="./assets/img/icon-cart.png" alt=""></div>
                        </div>
                        <div class="txt">
                            12개월 이전 결제내역은
                            ‘PC버전 > 마이페이지 > 결제내역’에서
                            확인 가능합니다.
                        </div>
                    </div>
                    <div id="개월3" class="tab-pane fade">
                        tab2
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <h4>이공계 취업 최종 합격을 위한 풀/서/비/스</h4>
                <h2>렛유인 반도체 <span>직무역량평가</span></h2>
                <a href="https://www.letuin.com/promotion.php?action=evaluation" target="_blank" title="" class="btn_rated flex-center">직무역량 평가하기 <i class="icon icon-arr"></i></a>
            </div>
        </div>
    </div>
</div>