<main>
    <div class="head_title pr flex-center">
        <h1>2 Depth Title</h1>
        <button type="button" class="btn_collapse dr"></button>
    </div>
    <ul class="nav-link nav-link-lc flex">
        <li><a href="" title="">소개</a></li>
        <li><a href="" title="" class="active">목차(00)</a></li>
        <li><a href="" title="">후기(00)</a></li>
        <li><a href="" title="">도서</a></li>
        <li><a href="" title="">추천</a></li>
    </ul>
    <div class="table_of_content">
        <h4>목차 (00)</h4>
        <ul class="list">
            <li>
                <span>1차시</span>
                <h5>반도체 공정/설비 기초</h5>
                <time>40분 1초</time>
            </li>
            <li>
                <span>2차시</span>
                <h5>진공(Vacuum)</h5>
                <time>40분 1초</time>
            </li>
            <li>
                <span>3차시</span>
                <h5>플라즈마(Plasma)</h5>
                <time>40분 1초</time>
            </li>
            <li>
                <span>4차시</span>
                <h5>반도체 공정/설비 기초</h5>
                <time>40분 1초</time>
            </li>
            <li>
                <span>5차시</span>
                <h5>반도체 공정/설비 기초</h5>
                <time>40분 1초</time>
            </li>
            <li>
                <span>6차시</span>
                <h5>반도체 공정/설비 기초</h5>
                <time>40분 1초</time>
            </li>
            <li>
                <span>7차시</span>
                <h5>반도체 공정/설비 기초</h5>
                <time>40분 1초</time>
            </li>
        </ul>
        <button type="button" class="btn_viewmore flex-center">더보기</button>
    </div>
    <div class="s-action flex">
        <a href="" class="btn_cart flex-center"><i class="icon icon-cart"></i> 장바구니</a>
        <a href="" class="btn_buy flex-center"><i class="icon icon-wl"></i> 구매하기</a>
        <a href="" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카톡상담</a>
    </div>
    <button type="button" class="backtop">backtop</button>
</main>