<main>
    <div class="head_title pr">
        <h1>프리패스</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>

    </div>
    <div class="course">
        <div class="course__list">
            <h4>내가 담은 강의리스트(0)</h4>
            <div class="notifi">
                <h5>수강 중인 강좌가 없습니다.</h5>
                <div class="img"><img src="./assets/img/icon-media.png" alt=""></div>
                <p>무슨 강의를 들을지 모르시겠다구요?
                    유이니가 <span>1:1 맞춤 강의</span>를 <span>추천</span>해드릴게요!
                </p>
                <a href="https://www.letuin.com/notice.php?action=custom_lecture" target="_blank" title="" class="btn_apply">1:1맞춤강의 상담신청</a>
            </div>
        </div>
    </div>
    <div class="banner-blue text-center">
        <h4>국가인증 NCS 수료증 발급</h4>
        <h2><span>0원</span> 취업끝장 프리패스</h2>
        <a href="" title="" class="btn_link flex-center">자세히보기<i class="icon icon-arr"></i></a>
    </div>
    <div class="notes">
        <div class="notes__header flex-lc">
            <h4 class="flex-lc"><i class="icon icon-qs">?</i> 환급 유의사항</h4>
            <button type="button" class="btn_collapse dr" data-toggle="collapse" data-target="#notes"></button>
        </div>
        <div class="notes__content collapse_content collapse show" id="notes">
            <div class="box-text">
                <p>· 환급 조건은 6+1개월 “0”원 프리패스는 120일 연속, 3개월 “0”원
                    프리패스는 90일 연속 출석해야 합니다.</p>
                <p>· 환급 신청은 프리패스 종료 후 30일 이내 가능합니다. (기간 초과 시
                    신청이 불가합니다.)</p>
                <p>· (환급 신청) 선택 후 정보 입력하시면, 환급
                    접수되고 조건 확인 후 입력한 환급계좌로 입금됩니다.
                    (제세공과금 22% 제외 후 환급)</p>
                <p>· 단, 출석미션 프리패스는 종료 후
                    “종료된 콘텐츠” 메뉴에서 환급 신청 가능합니다.</p>
                <p>· 환급 처리 기간은 환급 조건 확인 과정으로 인해 최대 30일이
                    소요됩니다.</p>
                <p>· 환급 조건보다 부족한 출석 일수로 인한 일부 환급은 불가합니다.</p>
            </div>
        </div>
    </div>
    <div class="notes_other">
        ※ 기타 프리패스 문의사항은 ‘0원 취업끝장 프리패스 자세히보기’를
        참고 바랍니다.
    </div>
    <div class="nav-link flex">
        <a href="" title="" class="col-4">취업핵심가이드북</a>
        <a href="" title="" class="col-4">프리패스이용안내</a>
        <a href="" title="" class="col-4">NCS강의 이용안내</a>
    </div>
    <div class="nav-bt flex-center w100">
        <a href="" class="flex-center"><i class="icon icon-qs">?</i> 신규강의 확인 및 프리패스 이용안내 보기</a>
    </div>
    <a href="" title="" class="talk">talk</a>
</main>