<main>
    <div class="head_title pr">
        <h1>수강 중 온라인 강좌</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <ul class="nav nav_tab flex">
        <li><a href="#tab1" title="" data-toggle="tab">단과</a></li>
        <li><a href="#tab2" title="" data-toggle="tab" class="active">패키지</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade">

        </div>
        <div id="tab2" class="tab-pane fade show active">
            <div class="package">
                <div class="package__info box-collapse">
                    <div class="header flex-lc">
                        <h4 class="flex-lc"><i class="icon icon-qs">?</i> 패키지 수강 안내</h4>
                        <button class="btn_collapse collapsed dr ml-auto" type="button" data-toggle="collapse" data-target="#package__info"></button>
                    </div>
                    <div class="collapse" id="package__info">
                        <div class="box-text">
                            <p>아래 강의를 좌측으로 밀면, “후기작성 / 열람하기”가 가능합니다.</p>
                        </div>
                    </div>
                </div>
                <div class="package__list">
                    <div class="header flex-lc">
                        <h4>내가 담은 강의리스트(2)</h4>
                    </div>
                    <div class="bg_gray">
                        <div class="item">
                            <div class="item__scroll">
                                <div class="scroll pr">
                                    <div class="content pr">
                                        <h3>(PC+모바일) ~9/27, 얼리버드 할인 한국전력공사 합격 패키지</h3>
                                        <i class="icon icon-arr"></i>
                                    </div>
                                    <div class="box-btn flex">
                                        <a href="javascript:;" class="btn btn_dl"></a>
                                        <a href="javascript:;" class="btn btn_wr"></a>
                                    </div>
                                </div>
                                <a href="" title="" class="btn_file"></a>
                            </div>
                            <div class="item__bt flex">
                                <time>2020.12.04 ~ <span>2021.02.28</span></time>
                                <p>남은 일수 : <span>21일</span></p>
                                <p>진도율: <span>6%</span></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__scroll">
                                <div class="scroll pr">
                                    <div class="content pr">
                                        <h3>[PC+모바일] 24시간 자소서 첨삭 렛유인</h3>
                                        <i class="icon icon-arr"></i>
                                    </div>
                                    <div class="box-btn flex">
                                        <a href="javascript:;" class="btn btn_dl"></a>
                                        <a href="javascript:;" class="btn btn_wr"></a>
                                    </div>
                                </div>
                                <a href="" title="" class="btn_file"></a>
                            </div>
                            <div class="item__bt flex">
                                <time>2020.12.04 ~ <span>2021.02.28</span></time>
                                <p>남은 일수 : <span>21일</span></p>
                                <p>진도율: <span>6%</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>