<main>
    <div class="head_title pr">
        <h1>장바구니</h1>
    </div>
    <div class="cart">
        <ul class="cart__process flex">
            <li class="active">
                <div class="box-icon flex-center"><i class="icon icon-cart"></i></div>
                <h5>장바구니</h5>
            </li>
            <li>
                <div class="box-icon flex-center"><i class="icon icon-wl"></i></div>
                <h5>주문서 작성</h5>
            </li>
            <li>
                <div class="box-icon flex-center"><i class="icon icon-fs"></i></div>
                <h5>주문완료</h5>
            </li>
        </ul>
        <div class="cart__list">
            <div class="header flex">
                <div class="checkbox">
                    <label class="flex-lc">
                        <input type="checkbox" class="checkbox__all">
                        <span class="checked flex-center"></span>
                        전체 선택 <span> (1/3)</span>
                    </label>
                </div>
                <button type="button" class="btn_remove ml-auto">선택삭제</button>
            </div>
            <div class="item">
                <div class="checkbox">
                    <label class="flex-lc">
                        <input type="checkbox" checked>
                        <span class="checked flex-center"></span>
                        온라인
                    </label>
                </div>
            </div>
            <div class="item bg">
                <div class="flex">
                    <div class="checkbox">
                        <label class="flex-lc">
                            <input type="checkbox" checked>
                            <span class="checked flex-center"></span>
                        </label>
                    </div>
                    <div class="product flex">
                        <div class="product__img"></div>
                        <div class="product__content">
                            <h3><a href="">(Lv.3 집중완성) 반도체 공정설비 핵심이론</a></h3>
                            <div class="price">80,000 원 / <span>1</span> 개</div>
                        </div>
                        <button type="button" class="close"></button>
                    </div>
                </div>
                <div class="time">ㄴ 개강일 : 2021.02.27</div>
                <div class="amount flex">
                    <h5>주문금액</h5>
                    <div class="amount__order flex-lc ml-auto collapsed" data-toggle="collapse" data-target="#amount">80,000 원 <i class="icon icon-ar"></i></div>
                    <div class="amount__detail collapse" id="amount">
                        <div class="item flex">
                            <h5>상품금액</h5>
                            <span>100,000 원</span>
                        </div>
                        <div class="item flex">
                            <h5>할인금액</h5>
                            <span>-20,000 원</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="checkbox">
                    <label class="flex-lc">
                        <input type="checkbox">
                        <span class="checked flex-center"></span>
                        학원 강의
                    </label>
                </div>
            </div>
            <div class="item bg">
                <div class="flex">
                    <div class="checkbox">
                        <label class="flex-lc">
                            <input type="checkbox">
                            <span class="checked flex-center"></span>
                        </label>
                    </div>
                    <div class="product flex">
                        <div class="product__img"></div>
                        <div class="product__content">
                            <h3><a href="">(Lv.3 집중완성) 반도체 공정설비 핵심이론</a></h3>
                            <div class="price">80,000 원 / <span>1</span> 개</div>
                        </div>
                        <button type="button" class="close"></button>
                    </div>
                </div>
                <div class="amount flex">
                    <h5>주문금액</h5>
                    <div class="amount__order flex-lc ml-auto collapsed" data-toggle="collapse" data-target="#amount1">80,000 원 <i class="icon icon-ar"></i></div>
                    <div class="amount__detail collapse" id="amount1">
                        <div class="item flex">
                            <h5>상품금액</h5>
                            <span>100,000 원</span>
                        </div>
                        <div class="item flex">
                            <h5>할인금액</h5>
                            <span>-20,000 원</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__info flex-lc">
            <div class="total">전체 <span>1</span> 개</div>
            <div class="money flex-lc">80,000 <span>원</span></div>
            <button type="button" class="btn_buy flex-center">구매하기</button>
        </div>
    </div>
</main>