<main>
    <div class="head_title pr">
        <h1>아이디 찾기</h1>
        <button type="button" class="btn_close"></button>
    </div>
    <div class="findid bg_gray mb-ft">
        <div class="finid__true">
            <h4>입력하신 정보로 등록된 회원정보 입니다.</h4>
            <div class="result">
                아이디 : <span>: l*****</span>
                <time>(가입일 2021.02.06)</time>
            </div>
            <div class="box-btn flex">
                <button type="button" class="btn_login btn_pr flex-center">로그인</button>
                <button type="button" class="btn_forgotpass btn_se flex-center">비밀번호 찾기</button>
            </div>
        </div>
    </div>
</main>