<main>
    <div class="head_title pr">
        <h1>취업기업분석</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="emplyee">
        <div class="emplyee__info box-collapse">
            <div class="header flex-lc">
                <h4 class="flex-lc"><i class="icon icon-qs">?</i> 이용 안내</h4>
                <button class="btn_collapse dr ml-auto" type="button" data-toggle="collapse" data-target="#emplyee__info"></button>
            </div>
            <div class="collapse show" id="emplyee__info">
                <div class="box-text">
                    <p class="blue">아래 강의를 좌측으로 밀면, “후기작성 / 열람하기”가 가능합니다.</p>

                    <p class="blue">기간 내 무제한 열람이 가능합니다.
                        (패키지의 경우 인쇄는 10회 제한이 있습니다.)</p>

                    <p class="blue">신청일로부터 열람 기간이 차감되오니, 기간 내 열람할 수 있도록
                        주의해주시기 바랍니다.
                    </p>

                    <p>인쇄는 PC버전 사이트를 통해 기간 내 횟수 제한 없이 출력이
                        가능합니다.
                    </p>

                    <p>열람 기간이 만료된 기업분석자료는 ‘종료된 콘텐츠‘ 메뉴에서
                        확인 가능합니다.
                    </p>

                </div>
            </div>
        </div>
        <div class="emplyee__list">
            <div class="header flex-lc">
                <h4>열람 중 취업기업분석 (0)</h4>
                <div class="checkbox__list ml-auto flex">
                    <label class="flex-lc">
                        <input type="checkbox" name="" checked>
                        <span class="checked flex-center"></span>
                        일반 <span> 0 </span>
                    </label>
                    <label class="flex-lc">
                        <input type="checkbox" name="" checked>
                        <span class="checked flex-center"></span>
                        패키지 <span> 0 </span>
                    </label>
                </div>
            </div>
            <div class="notifi">
                <h5>수강 중인 모의고사가 없습니다.</h5>
                <div class="img"><img src="./assets/img/found1.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="nav-bt blue flex-center w100">
        <a href="" class="flex-center">취업기업분석 자료 더보기</a>
    </div>
    <button type="button" class="backtop">backtop</button>
    <a href="" title="" class="talk">talk</a>
</main>