<main>

</main>
<div class="modal modal-md fade modal-certificates" id="modal-certificates">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">독한 스터디 수료증</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="certificates">
                    <div class="certificates__title banner-title">공유인 NCS 독한 스터디</div>
                    <div class="certificates__author">
                        성명 <span>홍길동</span>
                    </div>
                    <div class="certificates__time">
                        <h5>스터디기간 </h5>
                        <time>2021-02-04 ~ 2021-02-23</time>
                    </div>
                    <ul class="certificates__info flex">
                        <li>
                            <h5>총 수강차시</h5>
                            <p><span>110</span> 차시</p>
                        </li>
                        <li>
                            <h5>누적 학습시간 </h5>
                            <p><span>93</span> 시간 <span>49</span> 분 </p>
                        </li>
                    </ul>
                    <div class="certificates__content preline">
                        귀하는 독한스터디 기간 동안
                        단 하루도 빼놓지않고 충실하게 수행해내며,
                        독한 미션을 완벽하게 수행하여
                        타의 모범이 되었으므로 이 상장을 드립니다.
                    </div>
                    <div class="certificates__space"></div>
                    <div class="certificates__notifi preline">
                        여러분은 합격하는
                        1%의 공부습관을 갖추었습니다.
                    </div>
                    <div class="certificates__date">YYYY.MM.DD</div>
                    <div class="banner-decision">
                        <h5>당신의 결심을 주변에 알려보세요!</h5>
                        <p>목표는 널리 알릴수록 달성할 가능성이 높아진다고 합니다.</p>
                        <div class="box-btn flex">
                            <button type="button" class="btn_dl flex-center"><i class="icon icon-dl"></i> 이미지다운</button>
                            <button type="button" class="btn_talk flex-center"><i class="icon icon-talk"></i> 카카오톡</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>