<main>
    <div class="head_title pr">
        <h1>회원가입</h1>
    </div>
    <div class="signup mb-ft">
        <div class="box-form">
            <div class="header flex-lc">
                <h4>본인확인</h4>
                <ul class="step flex-lc">
                    <li><a href="" class="active">1</a></li>
                    <li><span class="space"></span></li>
                    <li><a href="">2</a></li>
                </ul>
            </div>
            <form action="" method="">
                <div class="form-group">
                    <label>이름</label>
                    <input class="w-100" type="text" name="" placeholder="이름 입력">
                </div>
                <div class="form-group">
                    <label>휴대전화 <span class="sup">*</span></label>
                    <input class="number" type="number" name="" placeholder="휴대폰 번호 (‘-’없이 입력)">
                    <button type="button" class="btn_request flex-center">인증요청</button>
                </div>
            </form>
        </div>
        <div class="rules">
            <h4>약관동의</h4>
            <ul class="list">
                <li>
                    <div class="checkbox">
                        <label class="flex-lc">
                            <input class="check_all_list" type="checkbox" name="">
                            <span class="checked flex-center"></span>
                            모든 약관을 확인하고 전체 동의합니다.
                        </label>
                    </div>
                    <ul class="sub">
                        <li>
                            <div class="checkbox">
                                <label class="flex-lc">
                                    <input type="checkbox" name="">
                                    <span class="checked flex-center"></span>
                                    (필수)  만 14세 이상입니다.
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label class="flex-lc">
                                    <input type="checkbox" name="">
                                    <span class="checked flex-center"></span>
                                    (필수) ㈜ 렛유인 이용약관 동의
                                </label>
                            </div>
                            <a href="" title="" class="btn_viewall">+ 전체보기</a>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label class="flex-lc">
                                    <input type="checkbox" name="">
                                    <span class="checked flex-center"></span>
                                    (필수) 개인정보 수집 및 이용 동의
                                </label>
                            </div>
                            <a href="" title="" class="btn_viewall">+ 전체보기</a>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label class="flex-lc">
                                    <input type="checkbox" name="">
                                    <span class="checked flex-center"></span>
                                    (필수) 광고성 정보 이메일 수신 동의
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox">
                                <label class="flex-lc">
                                    <input type="checkbox" name="">
                                    <span class="checked flex-center"></span>
                                    (필수) 광고성 정보 SMS 수신 동의
                                </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button" class="btn_next flex-center">다음</button>
    </div>
</main>