<main>

</main>
<div class="modal fade modal-video" id="modal-video">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="logo"><img src="./assets/img/logo2.png" alt=""></div>
                <h4 class="title">동영상 강의</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <h5 class="title">5차시_자동차 채용 직무(3) 연구개발</h5>
                <div class="video">
                    <div class="video__frame">

                    </div>
                    <div class="scroll_vertical">
                        <div class="video__list">
                            <div class="head flex">
                                <div class="col-2">차시</div>
                                <div class="col-6">강의명</div>
                                <div class="col-2"></div>
                                <div class="col-2">진도율</div>
                            </div>
                            <div class="body">
                                <div class="item flex active">
                                    <div class="col-2">1</div>
                                    <div class="col-6">
                                        <p>자동차 기업 및 채용 직무</p>
                                    </div>
                                    <div class="col-2">31:02</div>
                                    <div class="col-2">0.00 ％</div>
                                </div>
                                <div class="item flex">
                                    <div class="col-2">2</div>
                                    <div class="col-6">
                                        <p>환경차 트렌드: 전기차, 수소전기차의 현재와 미래</p>
                                    </div>
                                    <div class="col-2">31:02</div>
                                    <div class="col-2">0.00 ％</div>
                                </div>
                                <div class="item flex">
                                    <div class="col-2">3</div>
                                    <div class="col-6">
                                        <p>자동차 채용 직무</p>
                                        <span>
                                        (2) 본사: 영업/서비스, 경영기획,
                                        재경, 홍보, 경영지원, 신사업전략
                                        & 연구개발: 선행기획, 차량설계/
                                        평가, 파워트레인

                                    </span>
                                    </div>
                                    <div class="col-2">31:02</div>
                                    <div class="col-2">0.00 ％</div>
                                </div>
                                <div class="item flex">
                                    <div class="col-2">4</div>
                                    <div class="col-6">
                                        <p>환경차 트렌드: 전기차, 수소전기차의 현재와 미래</p>
                                    </div>
                                    <div class="col-2">31:02</div>
                                    <div class="col-2">0.00 ％</div>
                                </div>
                                <div class="item flex">
                                    <div class="col-2">5</div>
                                    <div class="col-6">
                                        <p>환경차 트렌드: 전기차, 수소전기차의 현재와 미래</p>
                                    </div>
                                    <div class="col-2">31:02</div>
                                    <div class="col-2">0.00 ％</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>