<main>

</main>
<div class="modal fade modal-login" id="modal-login">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">로그아웃</h4>
                <button type="button" class="btn_notifi pr"><span class="flex-center">N</span></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="name">안녕하세요! <span>홍길동</span>님</div>
                <div class="classroom">
                    <div class="header flex-lc">
                        <h5>내강의실</h5>
                        <button type="button" class="btn_collapse ml-auto" data-toggle="collapse" data-target="#detail"></button>
                    </div>
                    <div class="collapse show" id="detail">
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_StudyIndex.html" class="title flex">
                                <h5>스터디</h5>
                                <div class="txt ml-auto">합격할 때까지 유이니와 함께~</div>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                            <div class="info flex">
                                <div class="col-3">
                                    <h5>00 강</h5>
                                    <span>누적 학습량</span>
                                </div>
                                <div class="col-6">
                                    <h5>00 시간 00 분</h5>
                                    <span>누적 학습 시간</span>
                                </div>
                                <div class="col-3">
                                    <h5>00 일</h5>
                                    <span>누적 학습일 수</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_FreepassList.html" class="title flex">
                                <h5>프리패스</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_OnlineLC_Pakage(B)-buttonAdd.html" class="title flex">
                                <h5>온라인강의</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_Academy.html" class="title flex">
                                <h5>학원강의</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_PracticeTest.html" class="title flex">
                                <h5>공정실습</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_PracticeTest.html" class="title flex">
                                <h5>모의고사</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                        <div class="item">
                            <div class="title flex">
                                <h5>취업기업분석</h5>
                                <div class="ml-auto flex">
                                    <p>열람중 <span>0 건</span></p>
                                    <p>열람중 패키지 <span>0 건</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="title flex">
                                <h5>자소서 첨삭</h5>
                            </div>
                            <div class="info flex">
                                <div class="col">
                                    <h5>0 건</h5>
                                    <span>대기</span>
                                </div>
                                <div class="col">
                                    <h5>1 건</h5>
                                    <span>반려</span>
                                </div>
                                <div class="col">
                                    <h5>1 건</h5>
                                    <span>신청완료</span>
                                </div>
                                <div class="col">
                                    <h5>2 건</h5>
                                    <span>첨삭중</span>
                                </div>
                                <div class="col">
                                    <h5>3 건</h5>
                                    <span>첨삭완료</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/letuin/build/LUIM_MR_Ended.html" class="title flex">
                                <h5>종료된 콘텐츠</h5>
                                <button type="button" class="btn_collapse"></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href=""><i class="icon icon-faq"></i>FAQ</a>
                <a href=""><i class="icon icon-wr"></i>1:1맞춤상담</a>
                <a href=""><i class="icon icon-notifi"></i>공지사항</a>
            </div>
        </div>
    </div>
</div>