<main>

</main>
<div class="modal fade modal-filter" id="modal-filter-teacher">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">필터</h4>
                <button type="button" class="btn_reset" onClick="history.go(0);"></button>
                <a href="javascript:;"  class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <ul class="filter">
                    <li>
                        <div class="header flex">
                            <h5>프리패스</h5>
                            <div class="checkbox ml-auto">
                                <input type="checkbox">
                                <span class="checked flex-center"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>NCS</h5>
                            <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#ncs"></button>
                        </div>
                        <div class="collapse" id="ncs">
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>전공</h5>
                            <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#전공"></button>
                        </div>
                        <div class="collapse" id="전공">
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <div class="item flex-lc">
                                <h5>기업별 전공</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <div class="item flex-lc">
                                <h5>기계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <div class="item flex-lc">
                                <h5>전기</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <div class="filter_sub">
                                <div class="item flex-lc">
                                    <h5>토목</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox">
                                        <span class="checked flex-center"></span>
                                    </div>
                                </div>
                                <div class="item flex-lc">
                                    <h5>모의고사</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox">
                                        <span class="checked flex-center"></span>
                                    </div>
                                </div>
                                <div class="item flex-lc">
                                    <h5>인문계
                                    </h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox">
                                        <span class="checked flex-center"></span>
                                    </div>
                                </div>
                                <div class="item flex-lc">
                                    <h5>기업별 전공</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox">
                                        <span class="checked flex-center"></span>
                                    </div>
                                </div>
                                <div class="item flex-lc">
                                    <h5>통합전공</h5>
                                    <div class="checkbox ml-auto">
                                        <input type="checkbox">
                                        <span class="checked flex-center"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-btn">
                                <button type="button" class="btn_viewmore flex-center">더보기</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>서류</h5>
                            <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#서류"></button>
                        </div>
                        <div class="collapse" id="서류">
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>면접</h5>
                            <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#면접"></button>
                        </div>
                        <div class="collapse" id="면접">
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>기업 패키지</h5>
                            <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#기업패키지"></button>
                        </div>
                        <div class="collapse" id="기업패키지">
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>취업입문</h5>
                            <div class="checkbox ml-auto">
                                <input type="checkbox">
                                <span class="checked flex-center"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>NCS 직업교육</h5>
                            <div class="checkbox ml-auto">
                                <input type="checkbox">
                                <span class="checked flex-center"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>기사자격증</h5>
                            <div class="checkbox ml-auto">
                                <input type="checkbox">
                                <span class="checked flex-center"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>한국사</h5>
                            <div class="checkbox ml-auto">
                                <input type="checkbox">
                                <span class="checked flex-center"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="header flex">
                            <h5>강사</h5>
                            <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#강사"></button>
                        </div>
                        <div class="collapse" id="강사">
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox" checked>
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                            <div class="item flex-lc">
                                <h5>이공계</h5>
                                <div class="checkbox ml-auto">
                                    <input type="checkbox">
                                    <span class="checked flex-center"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="search">
                    <h4>결과내 검색</h4>
                    <form action="" method="" class="flex">
                        <input type="text" name="" placeholder="키워드를 입력하세요">
                        <button type="button" class="btn_submit btn_pr flex-center">적용하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>