<main>

</main>
<div class="modal modal-md fade modal-goalset" id="modal-goalset">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">학습 목표 설정</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <div class="text">
                    <p>당신의 <strong>성공습관</strong>,</p>
                    <p>지금부터 만들어보세요.</p>
                </div>
                <div class="reminder">
                    <span>홍길동</span>님, <strong>동기부여를 위해 학습목표를 설정해주세요!</strong>
                    완강 시 마다 완료 스탬프를 찍어 드립니다!
                    <strong>성공도 습관입니다.</strong>
                </div>
                <div class="checkbox">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="">
                        <span class="checked flex-center"></span>
                        <span>기본코스</span>
                    </label>
                    <div class="process pr">
                        <div class="process__current" style="width: 0%;"></div>
                        <p><span>(15 %)</span> 일 완성</p>
                    </div>
                </div>
                <div class="checkbox">
                    <label class="flex-lc pr">
                        <input type="checkbox" name="" checked>
                        <span class="checked flex-center"></span>
                        <span>NCS 독한 스터디</span>
                    </label>
                    <div class="process pr">
                        <div class="process__current" style="width: 53%;"></div>
                        <p style="left: 47%; right: inherit;" class="active"><span>5</span>일 완성</p>
                    </div>
                </div>
                <div class="infostudy">
                    <div class="item flex">
                        <h5>강의 수</h5>
                        <div class="item__content">
                            <p>전체 <span>29</span> 강</p>
                        </div>
                    </div>
                    <div class="item flex">
                        <h5>추천 기간</h5>
                        <div class="item__content">
                            <p><span>5</span> 일</p>
                            <time>2021.02.04 17:42 ~ 2021.02.23 23:59</time>
                        </div>
                    </div>
                    <div class="item flex">
                        <h5>일 평균 수강 수</h5>
                        <div class="item__content">
                            <p><span>10</span> 강</p>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn_send btn_pr flex-center">학습 목표 확인 및 스터디 시작</button>
            </div>
        </div>
    </div>
</div>