<main>
    <div class="head_title pr">
        <h1>수강 중 온라인 강좌</h1>
    </div>
    <div class="banner-note flex-center">
        <i class="icon icon-wr"></i>
        <p>후기 등록 시 <span>렛머니 1,000원 적립</span></p>
    </div>
    <div class="course">
        <ul class="course__tab nav flex">
            <li><a href="#단과" data-toggle="tab" class="active" title="">단과</a></li>
            <li><a href="#패키지" data-toggle="tab">패키지</a></li>
        </ul>
        <div class="tab-content">
            <div id="단과" class="tab-pane fade show active">
                <div class="course__head flex-lc">
                    <i class="icon icon-qs">?</i>
                    <h4>단과 수강 안내</h4>
                    <button type="button" class="btn_collapse collapsed dr ml-auto dr" data-toggle="collapse" data-target="#course__txt"></button>
                </div>
                <div class="course__txt collapse" id="course__txt">
                    <p>수강 신청 후 (강좌명) 또는 강의실 (입장하기) 버튼을 클릭하
                        시면수강이 시작됩니다.</p>
                    <p>수강 신청일로부터 1일 이내에 강의 수강을 시작하여 주십시오.
                        수강 시작일부터 차감됩니다.</p>
                    <p>휴강은 최대 1회 15일 가능합니다. 휴강을 희망하는 경우
                        렛유인(02-539-1779)으로 문의주세요.</p>
                </div>
                <div class="course__list">
                    <h4>내가 담은 강의리스트(2)</h4>
                    <div class="item pr">
                        <time>2020.12.04 ~ <span>2021.02.28</span></time>
                        <div class="flex">
                            <p>남은 일수 : <span>21일</span></p>
                            <p>진도율: 6%</p>
                        </div>
                        <h3>(PC+모바일) 박준범의 원샷 NCS! 모듈형+PSAT형 통합 문제해결능력</h3>
                        <button type="button" class="btn_view"><i class="icon icon-file"></i></button>
                    </div>
                    <div class="item pr">
                        <time>2020.12.04 ~ <span>2021.02.28</span></time>
                        <div class="flex">
                            <p>남은 일수 : <span>21일</span></p>
                            <p>진도율: 6%</p>
                        </div>
                        <h3>(PC+모바일) 박준범의 원샷 NCS! 모듈형+PSAT형 통합 문제해결능력</h3>
                        <button type="button" class="btn_view"><i class="icon icon-file"></i></button>
                    </div>
                </div>
            </div>
            <div id="패키지" class="tab-pane fade">
                <div class="course__head flex-lc">
                    <i class="icon icon-qs">?</i>
                    <h4>수강 중인 강좌가 없습니다.</h4>
                    <button type="button" class="btn_collapse collapsed ml-auto dr" data-toggle="collapse" data-target="#course__txt1"></button>
                </div>
                <div class="course__txt collapse" id="course__txt1">
                    <p>수강 신청 후 (강좌명) 또는 강의실 (입장하기) 버튼을 클릭하 시면수강이 시작됩니다.</p>
                    <p>수강 신청일로부터 1일 이내에 강의 수강을 시작하여 주십시오. 수강 시작일부터 차감됩니다.</p>
                    <p>패키지의 모의고사/평가 응시자격 및 수료여부는 붉은 글씨로 표기된 <span>패키지 평균 진도율을 기준</span> 으로 처리됩니다.</p>
                    <p>수료증은 수강완료 후 “종료된 콘텐츠”메뉴에서 발급 가능합니다. (단, <span>패키지 평균 진도율 기준 70% 이상</span>) 패키지 강의는 휴강 및 연장이 되지 않습니다.</p>
                </div>
                <div class="course__list">
                    <h4>내가 담은 강의리스트(2)</h4>
                    <div class="item pr">
                        <time>2020.12.04 ~ <span>2021.02.28</span></time>
                        <div class="flex">
                            <p>남은 일수 : <span>21일</span></p>
                            <p>진도율: 6%</p>
                        </div>
                        <h3>(PC+모바일) 박준범의 원샷 NCS! 모듈형+PSAT형 통합 문제해결능력</h3>
                        <button type="button" class="btn_view"><i class="icon icon-file"></i></button>
                    </div>
                    <div class="item pr">
                        <time>2020.12.04 ~ <span>2021.02.28</span></time>
                        <div class="flex">
                            <p>남은 일수 : <span>21일</span></p>
                            <p>진도율: 6%</p>
                        </div>
                        <h3>(PC+모바일) 박준범의 원샷 NCS! 모듈형+PSAT형 통합 문제해결능력</h3>
                        <button type="button" class="btn_view"><i class="icon icon-file"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bt gray flex-center">
        <a href="" class="flex-center">온라인 강좌 더보기</a>
    </div>
    <a href="" title="" class="talk">talk</a>
</main>