<main>

</main>
<div class="modal modal-md fade modal-confirm-main" id="modal-confirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">3시간 안보기</h4>
                <a href="javascript:;" class="close" data-dismiss="modal"></a>
            </div>
            <div class="modal-body">
                <h4>0원 프리패스 마감입박</h4>
                <div class="text">
                    상세 이벤트 내용 노출
                </div>
                <button type="button" class="btn_confirm flex-center">신청하기</button>
            </div>
        </div>
    </div>
</div>