.calendar {
  margin-bottom: vwm(45px);
  position: relative;
  text-transform: capitalize;
  text-align: center;
  color: #545A5C;
  .header{
    width: vwm(195px);
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: vwm(-78px);
  }
  .my{flex-direction: row-reverse; font: vwm(28px) var(--NanumSquareEB); color: #393939;}
  .btn-next,.btn-prev{
    @include icon-ar; position: absolute; top: 50%; transform: translateY(-50%);
  }
  .btn-next{right: 0;}
  .btn-prev{left: 0; transform: translateY(-50%) rotate(180deg);}
}
.calendar a {
  text-decoration: none;
  color: inherit; }
.calendar header .month {
  padding: 0;
  margin: 0; }
.calendar header .month .year {
  font-size: 0.6em;

}
.calendar table {
  width: 100%;
  margin: 20px 0;
  border-spacing: 0px; }
.calendar thead {
  font-size: 1.2em;
}
.calendar td {
  padding: .8em .1em; }
.calendar .day {
  display: flex; align-items: flex-start; justify-content: flex-start;
  padding: vwm(6px) 0 0 vwm(10px);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  position: absolute; top: 0; left: 0;
}

.calendar .day.today {
 color: #c00;
}
.calendar .day.today.has-event:after {
  background: white; }
.calendar .day.wrong-month {
  color: #CBD1D2; }
.calendar .day.wrong-month:hover {
  border: 2px solid transparent; }
.calendar .day.has-event:after {
  content: '';
  position: absolute;
  bottom: vwm(8px);
  left: vwm(12px);
  width: vwm(12px);
  height: vwm(12px);
  border-radius: 50%;
  background: #505ed1;
}
.calendar .day.event1:after{background: #505ed1;}
.calendar .day.event2:after{background: #2bde94;}
.calendar .day.event3:after{background: #ff923a;}
.calendar .day.disabled {
  cursor: default; }

.calendar .event-container {
  display: none;
  position: absolute;
  top: vwm(40px);
  left: vwm(60px);
  width: vwm(518px);
  height: vwm(214px);
  background: #164ac1;
  box-sizing: border-box; }
.calendar .event-container .event-wrapper {
  overflow-y: auto;
  max-height: 100%; }
.calendar .event-container .close {
  position: absolute;
  width: vwm(23px);
  height: vwm(23px);
  background: url("#{$img-path}/close3.png") no-repeat 0 0/contain;
  top: vwm(32px);
  right: vwm(32px);
  opacity: 1;
  z-index: 9;
  cursor: pointer;
}

.calendar .event-container .event {
  position: relative;
  width: 100%;
  padding: vwm(20px) vwm(32px);
  box-sizing: border-box;
  text-align: left;
  color: white; }
.calendar .event-container .event-date {
  font: vwm(19.5px) var(--NanumSquareB);
  padding: vwm(5px) 0 0 vwm(90px);
}
.calendar .event-container .event-hour {
  float: right; }
.calendar .event-container .event-summary {
  h4{margin: vwm(25px) 0 vwm(20px); font: vwm(29.5px) var(--NanumSquareEB);}
  p{font-size: vwm(19.5px); line-height: 1;}
  p span{padding-right: vwm(8px); margin-right: vwm(2px); border-right: 1px solid;}
}
.calendar .filler {
  display: none !important;
}
.calendar{
  .label{
    display: inline-block;
    padding: vwm(4px) vwm(13px);
    background: #fff;
    border-radius: 9999px;
    font: vwm(19.5px) var(--NanumSquareEB);
    color: var(--blue1);
    white-space: nowrap;
    position: absolute; top: vwm(20px);
  }
}
