.main-h{
  display: flex; flex-direction: column;
  min-height: calc(100vh);
}
.lectured{
  min-height: 81vh;
  &__view{width: 100%; height: vwm(416px); background: #f5f5f5;}
  &__tag{@include tag; margin: vwm(42px) 0 vwm(25px); padding: 0 vwm(38px);}
  &__detail{
    padding: 0 vwm(38px);
    h3{margin-bottom: vwm(18px); font: vwm(32px) var(--NanumSquareEB); color: #222;}
    p{font-size: vwm(22px); color: #666; line-height: 1.3;}
    .price{
      margin: vwm(22px) 0 vwm(30px);
      font: vwm(32px) var(--NanumSquareEB);
      &__discount{
        color: #e61313; margin-right: vwm(20px); padding-right: vwm(20px); position: relative;
        &::before{@include line; left: inherit; right: -1px;}
      }
      &__current{margin-right: vwm(25px);}
      &__current,&__old{letter-spacing: vwm(-1.6px);}
      &__old{font-family: var(--NanumSquareR); color: #8d8d8d; text-decoration: line-through;}
    }
  }
  &__review{
    padding: vwm(20px) vwm(38px);
    background: #f5f5f5;
    p{margin-left: vwm(55px); font: vwm(22px) var(--NanumSquareB); color: #666;}
    span{color: var(--blue1);}
  }
  &__info{
    padding: vwm(10px) vwm(38px) vwm(40px);
    font-size: vwm(22px);
    color: #666; line-height: vwm(45px);
    li{display: flex; align-items: center;}
    h5{width: vwm(155px);}
    .btn_more{font-size: vwm(36px); color: #244cba; line-height: 1;}
  }
  .btn_view{
    width: vwm(203px); height: vwm(57px);
    background: #000;
    font: vwm(22px) var(--NanumSquareB); color: #fff;
    border-radius: 9999px;
    position: absolute; bottom: vwm(36px); left: vwm(38px);
    .icon-play{width: vwm(17px); height: vwm(21px); margin-right: vwm(10px); background: url("#{$img-path}/icon-play.png") no-repeat 0 0/contain;}
  }
  .deadline{
    padding: vwm(6px) vwm(16px);
    background: #e61313;
    font: vwm(20px) var(--NanumSquareB);
    color: #fff; line-height: 1;
    border-radius: 9999px;
    position: absolute; top: vwm(36px); right: vwm(39px);
  }
}
.table_of_content{
  min-height: 62vh;
  margin-top: vwm(45px);
  padding: 0 vwm(38px);
  margin-bottom: vwm(135px);
  h4{padding-bottom: vwm(35px); font: vwm(28px) var(--NanumSquareEB); border-bottom: 1px solid;}
  .list{
    font-size: vwm(26px);
    >*+*{border-top: 1px solid rgba(#000,.12);}
    span{width: vwm(102px);}
    h5{width: vwm(380px);}
  }
  li{display: flex; align-items: center; padding: vwm(22px) vwm(30px);}
  .btn_viewmore{@include btn_viewmore;}
}
.introduce{
  margin: vwm(34px) auto vwm(60px);
  width: 90%; min-height: 67vh;
  .post{
    margin-bottom: vwm(70px);
    &__img{width: 100%; height: vwm(295px); display: block; background: #f7f7f7;}
    h3{padding-right: vwm(40px); font: vwm(28px) var(--NanumSquareEB); line-height: vwm(36px);}
    p{font-size: vwm(24px); white-space: pre-line;}
  }
}
.instructor{
  margin-top: vwm(100px);
  &__list{margin-top: vwm(-60px);}
  &__nav{
    width: vwm(108px); justify-content: space-between;
    position: absolute; left: vwm(155px);
    &::before{content: ""; @include line; @include center; height: vwm(24px);}
  }
  h2{margin-bottom: vwm(30px); font-size: vwm(30px);}
  hr{margin: 0;}
  .item{
    display: flex !important;
    h4{font: vwm(40px) var(--NanumSquareEB); line-height: 1;}
    &__left{width: vwm(405px); padding: vwm(60px) vwm(15px) 0 0;}
    &__right{width: vwm(236px);}
    .text{padding: vwm(20px) 0; font-size: vwm(23px); color: #666; line-height: vwm(36px);}
  }
}
.suggest_lecture{
  padding: 0 vwm(38px);
  margin-bottom: vwm(100px);
  h2{font-size: vwm(30px); padding: vwm(28px) 0; border-bottom: 1px solid;}
  ul{
    >*+*{border-top: 1px solid rgba(#000,.12);}
    li{padding: vwm(24px) 0;}
    a{font: vwm(28px) var(--NanumSquareEB); line-height: vwm(36px); white-space: pre-line;}
  }
}
.recommendation{
  min-height: 73vh;
  .lesson{
    padding-top: vwm(85px);
    .item h3{padding-right: vwm(30px);}
  }
}
.reviews{
  min-height: 90vh;
  margin: vwm(15px) 0 vwm(120px);
  padding: 0 vwm(38px);
  h2{padding: vwm(30px) 0; border-bottom: 1px solid; font: vwm(28px) var(--NanumSquareEB);}
  &__list{
    >*+*{border-top: 1px solid rgba(#000,.12);}
    .item{padding: vwm(20px) 0 vwm(30px); font-size: vwm(26px);}
    h3{display: flex; margin: vwm(20px) 0 vwm(14px); font: vwm(26px) var(--NanumSquareEB);}
    p{font-size: vwm(20px);}
    .btn_more{display:inline-block; line-height: 1; border-bottom: 1px solid; font-size: vwm(26px); color: #222;}
  }
  .rating{margin-right: vwm(35px);}
  .btn_viewmore{@include btn_viewmore;}
  .icon-camera{width: vwm(36px); height: vwm(28px); margin-left: vwm(15px); background: url("#{$img-path}/icon-camera.png") no-repeat 0 0/contain;}
}
.carts{
  padding-top: vwm(55px);
  flex: 1 1 auto;
  display: flex; flex-direction: column; justify-content: flex-end;
  .price{
    text-align: right; font: vwm(32px) var(--NanumSquareEB);
    &__old{margin-bottom: vwm(5px); font: vwm(22px) var(--NanumSquareR); color: #8d8d8d; letter-spacing: vwm(-1.1px); text-decoration: line-through;}
    &__discount{
      justify-content: flex-end; color: #e61313; letter-spacing: vwm(-1.6px);
      .icon-discount{width: vwm(22px); height: vwm(26px); margin-bottom: vwm(3px); margin-left: vwm(10px);}
    }
  }
  &__detail{
    padding: 0 vwm(38px);
    .info{width: vwm(430px); padding-right: vwm(45px);}
    .price{width: vwm(212px); padding: vwm(35px) 0; border-left: 1px solid #eee; }
  }
  &__amount{
    padding: vwm(20px) vwm(38px);
    border-bottom: 1px solid #e2e2e2;
    h4{margin-bottom: vwm(15px); font: vwm(28px) var(--NanumSquareL);}
    li{display: flex; align-items: center; justify-content: space-between; font-size: vwm(22px); line-height: vwm(36px); color: #666;}
    h5{font-size: inherit;}
  }
  &__total{
    padding: vwm(24px) vwm(38px);
    justify-content: space-between;
    font-family: var(--NanumSquareEB); color: var(--blue1);
    h4{font-size: vwm(28px);}
    span{font-size: vwm(32px);}
    .price{
      &__discount{margin-right: vwm(16px);}
    }
  }
  &__package,&__detail{
    background: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .info{font-size: vwm(28px); line-height: vwm(36px);}
    h4{margin-bottom: vwm(12px); font-family: var(--NanumSquareL); font-size: inherit;}
    p{font-family: var(--NanumSquareEB);}
  }
  &__package{
    .item{
      padding: vwm(30px) vwm(38px); border-bottom: 1px solid #e2e2e2;
      .info{width: 100%;}
    }
  }
  &__addother{
    .header{
      padding: vwm(20px) vwm(38px);
      border-bottom: 1px solid #e2e2e2;
      h4{font: vwm(28px) var(--NanumSquareL);}
      .btn_toggle{
        @include icon-ard; position: relative;
        &.collapsed{transform: rotate(180deg);}
      }
    }
    .checkbox{@include checkbox;}
    .item{padding: vwm(20px) vwm(38px); align-items: center; border-bottom: 1px solid #e2e2e2;}
    .info{
      width: vwm(370px); margin-left: vwm(10px); font: vwm(22px) var(--NanumSquareL);
      h5{font-family: var(--NanumSquareEB);}
      p{white-space: pre-line;}
    }
    .price{
      margin-left: auto;
      font-size: vwm(26px);
      &__old{font-size: vwm(18px);}
      .icon-discount{width: vwm(17px); height: vwm(20px);}
    }
  }
  .btn_collapse{
    width: vwm(147px); height: vwm(49px);
    background: #f7f7f7;
    border-radius: vwm(20px) vwm(20px) 0 0;
    border: 1px solid #e2e2e2;
    position: absolute; left: 50%; transform: translateX(-50%); top: vwm(-49px);
    &::after{
      content: "";
      @include icon-ard;
      @include center;
      transform: translate(-50%,-50%) rotate(180deg);
    }
  }
  .box-select{
    margin-top: vwm(35px);
    position: relative;
    &.open{
      .selected{border-radius: vwm(20px) vwm(20px) 0 0;}
      .selected::after{transform: translateY(-50%) rotate(0deg);}
      .select_list{display: block;}
    }
    .selected{
      @include bg; padding: vwm(20px) vwm(35px); background: #fff; font: vwm(28px) var(--NanumSquareEB);
      &::after{
        content: "";
        @include icon-ard;
        position: absolute;
        transform: translateY(-50%) rotate(180deg);
        right: vwm(26px); top: 50%;
      }
    }
    .select_list{
      display: none;
      width: 100%;
      background: #fff;
      border: 1px solid #e2e2e2;
      border-top: none;
      border-radius: 0 0 vwm(20px) vwm(20px);
      font-size: vwm(28px); line-height: vwm(36px);
      position: absolute; z-index: 2;
      >*+*{border-top: 1px solid #e2e2e2;}
      li{padding: vwm(25px) vwm(36px); cursor: pointer;}
      time{display: block; margin-bottom: vwm(5px);}
      time,span{font-family: var(--NanumSquareEB);}
      span{color: var(--blue1);}
      p{font-family: var(--NanumSquareL);}
    }
  }
}
.s-action{
  border-top: 1px solid #eaeaea;
  &.w-5{
    a{width: 50%;}
  }
  a{width: 33.33%; height: vwm(100px); font-size: vwm(26px);}
  .btn_cart{background: #f7f7f7;}
  .btn_buy{background: var(--blue1); color: #fff;}
  .btn_talk{background: #f3d60c;}
  .icon{margin-right: vwm(10px);}
  .icon-cart{width: vwm(39px); height: vwm(33px); background: url("#{$img-path}/icon-cart2.png") no-repeat 0 0/contain;}
  .icon-wl{width: vwm(39px); height: vwm(27px); background: url("#{$img-path}/icon-wallet1.png") no-repeat 0 0/contain;}
  .icon-talk{width: vwm(42px); height: vwm(39px); background: url("#{$img-path}/icon-talk1.png") no-repeat 0 0/contain;}
}
.nav-link-lc{
  background: #fff;
  border-radius: vwm(20px);
  padding: vwm(21px) 0;
  margin: vwm(39px) auto 0;
  font-family: var(--NanumSquareB);
  li{width: 20%; text-align: center;}
  .active{font-family: var(--NanumSquareEB); color: var(--blue1);}
}
