@mixin line{
  content: "";
  width: vwm(2px); height: vwm(16px);
  background: #efefef;
  position: absolute; left: -1px; top: 50%; transform: translateY(-50%);
}
@mixin before{
  content: "";
  width: vwm(14px);
  height: vwm(23px);
  background: url("#{$img-path}/arr-r.png") no-repeat 0 0/contain;
}
@mixin center{
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}

@mixin icon-arr1{
  width: vwm(27px); height: vwm(24px);
  background: url("#{$img-path}/arr-r1.png") no-repeat 0 0/cover;
  position: absolute; right: vwm(25px); top: 50%; transform: translateY(-50%) rotate(180deg);
}
@mixin bg{
  border: 1px solid #e2e2e2;
  background: #f7f7f7;
  border-radius: vwm(20px);
}
@mixin txt1{
  font-size: vwm(22px); color: #888;
}
@mixin txt2{
  font: vwm(26px) var(--NanumSquareEB);
  line-height: vwm(36px);
}
@mixin txt3{
  font: vwm(26px) var(--NanumSquareB);
  color: #666;
  span{color: #244cba;}
}
@mixin txt4{
  font: vwm(32px) var(--NanumSquareEB); line-height: vwm(46px);
}
@mixin input{
  height: vwm(56px);
  padding: 0 vwm(16px);
  border: 1px solid #e2e2e2;
  font-size: vwm(22px);
  color: #bdbdbd;
  letter-spacing: vwm(-1.1px);
  &::placeholder{ color: #bdbdbd;}
}
@mixin item{
  margin-top: vwm(30px);
  border-radius: vwm(20px);
  background: #fff;
  border: solid 1px #e1e1e1;
  position: relative; overflow: hidden;
  &__scroll{
    overflow: auto;
    &.left{
      .icon-arr{transform: rotate(0);}
    }
    &.right{
      .icon-arr{transform: rotate(180deg);}
    }
    &::-webkit-scrollbar{height: 0;}
  }
}
@mixin btn_apply{
  display: inline-block;
  margin-top: vwm(70px);
  padding: vwm(25px) vwm(40px);
  color: #1b43b3; border-radius: vwm(40px);
  border: vwm(2px) solid;
  font: vwm(32px) var(--NanumSquareEB);
  line-height: 1;
}
@mixin btn_ac{
  height: 100%; width: vwm(106px); border-radius: 0 vwm(20px) vwm(20px) 0; position: absolute; right: 0; top: 0;
  &::after{
    content: "";
    @include center;
  }
}
@mixin close1{
  width: vwm(38px); height: vwm(38px);
  background: url("#{$img-path}/close1.png") no-repeat 0 0/contain; opacity: 1;
}
@mixin close2{
  width: vwm(24px); height: vwm(25px);
  background: url("#{$img-path}/close2.png") no-repeat 0 0/contain; opacity: 1;
}
@mixin icon-arr{
  width: vwm(23px); height: vwm(14px); display: block; background: url("#{$img-path}/arr-dow2.png") no-repeat 0 0/contain;
}
@mixin icon-ar{
  width: vwm(14px); height: vwm(23px); display: block; background: url("#{$img-path}/arr-r.png") no-repeat 0 0/contain;
}
@mixin icon-ard{
  width: vwm(23px); height: vwm(14px);
  background: url("#{$img-path}/arr-d.png") no-repeat 0 0/contain;
}
@mixin btn_pr{
  height: vwm(56px);
  background: #0f3ec4;
  color: #fff;
  font: vwm(22px) var(--NanumSquareB);
}
@mixin btn_viewmore{
  margin-top: vwm(45px);
  width: 100%; height: vwm(83px);
  border: 1px solid #000;
  font-size: vwm(26px);
}
@mixin btn_secondary{
  height: vwm(85px);
  border-radius: 9999px;
  border: vwm(2px) solid;
  color: #1b43b3;
  font: vwm(32px) var(--NanumSquareEB);
}
@mixin tick2{
  width: vwm(32px); height: vwm(24px);
  display: block;
  background: url("#{$img-path}/tick2.png") no-repeat 0 0/contain;
}
@mixin search{
  input{width: 100%; padding:  vwm(10px) vwm(15px); border: none; border-bottom: 1px solid #000; font-size: vwm(26px); color: #949494;}
  input::placeholder{color: #949494;}
  .btn_remove{
    width: vwm(28px); height: vwm(28px);
    margin-left: vwm(-35px);
    background: url("#{$img-path}/close.png") no-repeat 0 0/contain;
  }
  .btn_submit{
    width: vwm(45px); height: vwm(44px);
    margin-left: vwm(26px);
    background: url("#{$img-path}/icon-search1.png") no-repeat 0 0/contain;
  }
}
@mixin tag{
  >*+*{margin-left: vwm(14px);}
  span{
    display: block; height: vwm(32px);
    padding: 0 vwm(12px);
    border-radius: vwm(16px);
    text-transform: uppercase; color: #fff;
    font: vwm(20px) var(--NanumSquareB); line-height: vwm(32px);
    &.new{color: #1b43b3; border: vwm(2px) solid;}
    &.best{background: #1b43b3;}
    &.nr{background: #ababab;}
    &.black{background: #000;}
    &.certificate{background: #657636;}
  }
}
@mixin product{
  &__img{background: #e0e0e0;}
  img{width: 100%; height: 100%; object-fit: cover;}
}
@mixin btn_reset{
  width: vwm(37px); height: vwm(37px); background: url("#{$img-path}/btn_reset.png") no-repeat 0 0/contain;
}
@mixin checkbox{
  label{margin-bottom: 0; font: vwm(26px) var(--NanumSquareB); color: #4b4b4b;}
  .checked{
    width: vwm(54px); height: vwm(54px);
    margin-right: vwm(18px);
    border-radius: vwm(6px);
    border: solid vwm(2px) #dddddd;
    &::after{
      content: "";
      width: vwm(32px); height: vwm(24px); display: block;
      background: url("#{$img-path}/tick1.png") no-repeat 0 0/contain;
    }
  }
  input[type="checkbox"]{opacity: 0; position: absolute;}
  input:checked +{
    .checked{border-color: var(--blue1);}
    .checked::after{background: url("#{$img-path}/tick2.png") no-repeat 0 0/contain;}
  }
}
@mixin checkboxsm{
  label{margin-bottom: 0; font: vwm(20px) var(--NanumSquareB); color: #555;}
  .checked{
    width: vwm(39px); height: vwm(39px);
    margin-right: vwm(18px);
    border-radius: vwm(6px);
    border: solid vwm(2px) #dddddd;
    &::after{
      content: "";
      width: vwm(21px); height: vwm(16px); display: block;
      background: url("#{$img-path}/tick1.png") no-repeat 0 0/contain;
    }
  }
  input[type="checkbox"]{opacity: 0; position: absolute;}
  input:checked +{
    .checked{border-color: var(--blue1);}
    .checked::after{background: url("#{$img-path}/tick2.png") no-repeat 0 0/contain;}
  }
}
@mixin discount{
  width: vwm(459px); height: vwm(269px);
  margin: 0 auto vwm(25px);
  padding-top: vwm(6px);
  background: url("#{$img-path}/bg-coupon.png") no-repeat 0 0/contain;
  color: #244cba; text-align: center;
  p{font: vwm(30px) var(--NanumSquareB);}
  .precent{
    margin-top: vwm(20px);
    align-items: flex-end;
    justify-content: center;
    font: vwm(105px) var(--NanumSquareEB); letter-spacing: vwm(-0.53px); line-height: 1;
    small{margin-bottom: vwm(14px); font-size: vwm(50px);}
  }
  h5{font: vwm(26px) var(--NanumSquareB); line-height: vwm(52px); color: #fff; letter-spacing: vwm(-0.13px);}
  .text{display: block; margin: vwm(30px) 0 vwm(20px); font: vwm(60px) var(--NanumSquareEB); letter-spacing: vwm(-1.2px);}
}
@mixin icon-file{
  width: vwm(34px); height: vwm(29px);
  background: url("#{$img-path}/icon-file1.png") no-repeat 0 0/contain;
}
@mixin tab{
  li{width: 50%;}
  a{width: 100%; display: block; padding: vwm(23px) 0; background: #f7f7f7; text-align: center; border-top: vwm(2px) solid #555; font: vwm(28px) var(--NanumSquareEB);}
  .active{background: #fff; color: var(--blue1); border-color: var(--blue1);}
}