@keyframes select-scroll-showup {
  0% {
    bottom: vwm(-550px);
  }
  to {
    bottom: 0
  }
}

@keyframes select-scroll-hidedown {
  0% {
    bottom: 0
  }
  to {
    bottom: vwm(-550px)
  }
}

.picker {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  background-color: rgba(37, 38, 45, .4)
}

.picker .picker-panel {
  position: absolute;
  padding-top: vwm(40px);
  z-index: 600;
  width: 100%;
  height: vwm(550px);
  background: #fff
}

.picker .picker-panel.up {
  bottom: 0;
  animation: select-scroll-showup .3s 0s linear
}

.picker .picker-panel.down {
  bottom: vwm(-550px);
  animation: select-scroll-hidedown .3s 0s linear
}

.picker .picker-panel .picker-choose {
  position: relative;
  height: vwm(50px);
  color: #999
}

.picker .picker-panel .cancel,
.picker .picker-panel .confirm {
  position: absolute;
  padding: 0;
}

.picker .picker-panel .confirm {
  width: vwm(243px); height: vwm(61px);
  background: var(--blue1);
  border-radius: 9999px;
  color: #fff;
  font: vwm(26px) var(--NanumSquareB);
  line-height: vwm(61px);
  top: vwm(415px);
  left: 50%;
  transform: translateX(-50%);
}

.picker .picker-panel .cancel {
  @include close1; right: vwm(50px); top: 0;
  font-size: 0; padding: 0;
}

.picker .picker-panel .picker-title {
  margin: 0;
  text-align: center;
  font: vwm(32px) var(--NanumSquareB);
  color: #244cba;
}

.picker .picker-panel .picker-content {
  position: relative;
  top: vwm(20px);
}

.picker .picker-panel .mask-bottom,
.picker .picker-panel .mask-top {
  z-index: 10;
  width: 100%;
  height: vwm(68px);
  pointer-events: none;
  transform: translateZ(0)
}

.picker .picker-panel .mask-top {
  position: absolute;
  top: 0;
  background: linear-gradient(0deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
}

.picker .picker-panel .mask-bottom {
  position: absolute;
  bottom: 1px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
}

.picker .picker-panel .border-bottom-1px:after,
.picker .picker-panel .border-bottom-1px:before,
.picker .picker-panel .border-top-1px:after,
.picker .picker-panel .border-top-1px:before {
  content: "";
  display: block;
  position: absolute;
  transform-origin: 0 0
}

.picker .picker-panel .border-bottom-1px:after {

  left: 0;
  bottom: 0;
  transform-origin: 0 bottom;
  width: 300%;
  transform: scale(.5) translateZ(0)
}

.picker .picker-panel .border-top-1px:before {
  width: 300%;
  transform: scale(.5) translateZ(0);

  left: 0;
  top: 0;
  transform-origin: 0 top
}

.picker .picker-panel .wheel-wrapper {
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px
}

.picker .picker-panel .wheel {
  -ms-flex: 1;
  flex: 1;
  width: 1%;
  height: vwm(300px);
  overflow: hidden;
  font-size: vwm(26px);
}

.picker .picker-panel .wheel-scroll {
  padding: 0;
  margin-top: vwm(127px);
  line-height: vwm(60px);
  list-style: none
}
.wheel{position: relative;}
.wheel{
  &::after,&::before{
    content: "";
    width: vwm(183px); height: 1px;
    background: #244cba; position: absolute;
    left: 50%; transform: translateX(-50%);
  }
  &::after{top: vwm(188px);}
  &::before{top: vwm(127px);}
}

.picker .picker-panel .wheel-item {
  list-style: none;
  height: vwm(60px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #2e2e2e;
}

.picker .picker-footer {
  height: 20px
}