//uikit
.pr{position: relative;}
.icon{display: block;}
li{list-style: none;}
.preline{white-space: pre-line;}
.mb-ft{margin-bottom: vwm(-110px);}
.bg_gray{background: #f5f5f5;}
.btn,button{
  background: none;
  padding: 0;
  border: none;
  line-height: inherit;
  &:focus{outline: none;}
}
.btn_pr{@include btn_pr;}
.btn_se{@include btn_secondary;}
.btn_more{font-size: vwm(24px); color: #666;}
.plr{padding: 0 vwm(33px);}
button{cursor: pointer;}
.bg-gray{background: #f5f5f5;}
.flex-nowrap{display: flex; flex-wrap: nowrap;}
.flex-end{display: flex; flex-wrap: wrap; align-items: flex-end;}
.container {
  max-width: 960px;
}
input:focus,select:focus,option:focus,button:focus{outline: none;}
input,textarea{
  box-shadow: none !important; border-radius: 0 !important;
  background-clip: padding-box;
  &:focus{outline: none;}
}
input[type="password"]{font-family: Tahoma, sans-serif;}
.slick-arrow{
  border: none; text-indent: -9999em;
  position: absolute; top: 50%; transform: translateY(-50%); z-index: 2;
  &:focus{outline: none;}
}
.slick-prev{transform: translateY(-50%) rotate(180deg);}
.slick-dots{
  display: flex;
  button{display: block; padding: 0; width: vwm(14px); height: vwm(14px); background: #ccc; border-radius: 50%; font-size: 0;}
  .slick-active button{background: #222;}
}
h2.title{
  font: vwm(36px) var(--NanumSquareEB); color: var(--blue);
  &::before{
    content: "";
    width: 5px; height: 5px; display: block;
    margin-right: vwm(18px);
    background: #002baa; border-radius: 50%;
  }
  span{margin-left: 3px; color: var(--gray);}
}
.title-m{font: vwm(32px) var(--NanumSquareB);}
h5{margin-bottom: 0; font-size: inherit;}
.h4-title{font: vwm(26px) var(--NanumSquareEB);}
.icon-pen{width: vwm(28px); height: vwm(28px); background: url("#{$img-path}/icon-cm.png") no-repeat 0 0/contain; margin-right: vwm(9px);}
.icon-attachment{
  @include icon-file;
}
.nav{
  button{width: vwm(18px); height: vwm(35px); background: url("#{$img-path}/next1.png") no-repeat 0 0/contain; font-size: 0; position: relative; transform: translateY(0);}
  .prev{transform: rotateY(180deg);}
  .space{width: vwm(2px); height: vwm(24px); display: block; margin: 0 vwm(36px); background: #d8d8d8;}
}
.txt-1{font-size: vwm(24px); line-height: vwm(36px); color: #666;}
.txt-2{font-size: vwm(26px); line-height: vwm(36px); color: #2e2e2e;}
.scrollbar{
  width: 100%;
  overflow: auto;
  padding-bottom: vwm(42px);
  &::-webkit-scrollbar{-webkit-appearance: none;}
  &::-webkit-scrollbar:horizontal {
    height: vwm(6px) !important;
  }
  &::-webkit-scrollbar-track{background: #f0eeee; border-radius: 2px;}
  &::-webkit-scrollbar-thumb{background: #244cba; border-radius: 2px;}
}
.head_title{
  padding: vwm(26px) 0;
  border-bottom: 1px solid #eee;  text-align: center;
  h1{font: vwm(32px) var(--NanumSquareEB); color: #222;}
  .btn_collapse{margin-left: vwm(25px); transform: rotate(180deg);}
  .btn_close{@include close1; position: absolute; right: vwm(32px); top: vwm(26px);}
  &::before{
    @include before;
    position: absolute; top: 50%; left: vwm(36px);
    transform: translateY(-50%) rotate(180deg);
  }
}
.header{
  h4{font: vwm(32px) var(--NanumSquareEB);}
}
.icon-qs{
  display: flex;
  align-items: center; justify-content: center;
  width: vwm(30px); height: vwm(30px);
  margin-right: vwm(10px);
  background: #2048b6; border-radius: 50%;
  color: #fff; font: vwm(22px) var(--NanumSquareB);
}
.icon-i{
  width: vwm(29px); height: vwm(29px);
  display: flex; align-items: center; justify-content: center;
  border-radius: 50%; margin-left: vwm(7px);
  color: #2048b6; border: 1px solid;
  font: vwm(22px) var(--NanumSquareEB);
}
.icon-discount{width: vwm(16px); height: vwm(18px); background: url("#{$img-path}/icon-ds.png") no-repeat 0 0/contain;}
.icon-play{width: vwm(35px); height: vwm(35px); margin-left: vwm(10px); background: url("#{$img-path}/play.png") no-repeat 0 0/contain;}
.btn_collapse{
  @include icon-ar;
  &.dr{
    @include icon-ard;
    &.toggle{transform: rotate(180deg);}
  }
  &.collapsed{transform: rotate(180deg);}
}
.collapse_content{
  background: #f7f7f7;
  font-size: vwm(24px);
  color: #666;
  line-height: vwm(30px);
  letter-spacing: vwm(-0.6px);
}
.nav-bt{
  width: 100%;
  background: #f7f7f7;
  border-top: 1px solid #dfdfdf;
  position: fixed; bottom: 0; z-index: 9;
  &.blue{
    background: #244cba;
    border-top: none;
    a{color: #fff; display: flex; font-family: var(--NanumSquareEB);}
    .w100{width: 100%;}
  }
  .col-6{padding: 0;}
  a{display: flex; justify-content: center; padding: vwm(32px) 0; font-size: vwm(26px); line-height: 1; text-align: center;}
  .link_wr,.link_qa{color: #fff; font: vwm(32px) var(--NanumSquareB);}
  .link_wr{background: #244cba; margin-right: -1px; position: relative; z-index: 2;}
  .link_qa{background: #182455;}
  .icon{margin-right: vwm(13px);}
  .icon-wr{width: vwm(28px); height: vwm(32px); margin-left: vwm(10px); background: url("#{$img-path}/icon-wr3.png") no-repeat 0 0/contain;}
  .icon-qa{width: vwm(40px); height: vwm(32px); margin-left: vwm(10px); background: url("#{$img-path}/icon-qa.png") no-repeat 0 0/contain;}
  >*+*{border-left: 1px solid #eaeaea;}
}
.talk{
  width: vwm(110px); height: vwm(110px);
  background: url("#{$img-path}/talk1.png") no-repeat 0 0/contain;
  box-shadow: 0px 7px 16px 0 rgba(0, 0, 0, 0.19); border-radius: 50%;
  font-size: 0;
  position: fixed; right: vwm(39px); bottom: vwm(127px); z-index: 10;
}
.attachment{
  margin-top: vwm(34px);
  font-size: vwm(26px); line-height: vwm(34px); color: #403f3f;
  &__name{margin-left: vwm(20px);}
  &__guide{
    margin-top: vwm(35px); color: #bdbdbd;
    h4{margin-bottom: vwm(5px); font: vwm(22px) var(--NanumSquareEB); color: #212121;}
  }
  .icon-attachment{margin-right: vwm(18px);}
  input[type="file"]{opacity: 0; position: absolute; left: 0;}
}
.collapse{
  h4{font: vwm(26px) var(--NanumSquareEB);}
  &_content >*+*{margin-top: vwm(22px);}
}
.box-text{
  @include bg; padding: vwm(26px);
  margin-top: vwm(25px); color: #666;
  font-size: vwm(24px); line-height: vwm(30px); letter-spacing: vwm(-0.6px);
  >*+*{margin-top: vwm(27px);}
  h4{
    font: vwm(26px) var(--NanumSquareEB); color: #2e2e2e;
    span{margin-left: vwm(5px);}
  }
  h5{font: vwm(24px) var(--NanumSquareEB); color: #252525;}
  &.hide{display: none;}
  .content{
    padding-right: vwm(40px); color: #888;
    >*+*{margin-top: vwm(25px);}
  }
  article > *+*{margin-top: vwm(15px);}
  span,a{color: #244cba;}
  a{font-family: var(--NanumSquareB);}
  p{white-space: pre-line;}
  .close{
    @include close2;
    font-size: 0;
    position: absolute; right: vwm(20px); top: vwm(25px);
  }
}
.box-text-cs{
  letter-spacing: 0;
  p{color: #2e2e2e;}
  .sm{@include txt1;}
  span{font-family: var(--NanumSquareB);}
}
.box-collapse{
  .header{
    h4{font: vwm(26px) var(--NanumSquareEB);}
  }
}
.modal-point{
  .point{
    &__exchange{padding-top: vwm(25px);}
    .box-input{
      width: vwm(295px); padding: vwm(6px) 0; border-bottom: 1px solid #1d1d1d;
      span{color: var(--blue1); font: vwm(32px) var(--NanumSquareEB); position: absolute; bottom: vwm(6px);}
      input{@include txt1; width: 94%; border: none; letter-spacing: vwm(-1.1px); background: none;}
    }
    .checkbox{
      input{opacity: 0; position: absolute;}
    }
  }
  .checkbox{
    label{margin-bottom: 0; color: #2048b6; font: vwm(26px) var(--NanumSquareB);}
    .checked{
      width: vwm(39px); height: vwm(39px);
      margin-right: vwm(15px);
      border-radius: vwm(6px);
      border: solid vwm(2px) #1b43b3;
      &::after{
        content: "";
        width: vwm(21px); height: vwm(16px); display: block;
        background: url("#{$img-path}/tick2.png") no-repeat 0 0/contain;
        opacity: 0; visibility: hidden;
      }
    }
    input:checked + .checked::after{opacity: 1; visibility: visible;}
  }
  .info{
    margin: vwm(25px) 0;
    justify-content: space-between;
    p{font: vwm(22px) var(--NanumSquareB); letter-spacing: vwm(-0.55px);}
    span{color: var(--blue1);}
    .space{font-size: vwm(20px); padding: 0 vwm(15px);}
  }
}
.checkbox__list{
  font: vwm(26px) var(--NanumSquareB); color: #666;
  >*+*{margin-left: vwm(19px);}
  span{margin-left: vwm(5px); color: #2048b6;}
  input{opacity: 0; position: absolute; z-index: 2;}
  .checked{width: vwm(39px); height: vwm(39px); margin-right: vwm(15px); border: solid vwm(2px) #dddddd; border-radius: vwm(6px);}
  .checked::after{
    content: "";
    width: vwm(21px); height: vwm(16px);
    display: block;
    background: url("#{$img-path}/tick1.png") no-repeat 0 0/contain;
  }
  input:checked + .checked::after{background: url("#{$img-path}/tick2.png") no-repeat 0 0/contain;}
  input:checked + .checked{border-color: var(--blue1);}
  label{margin-bottom: 0;}
}
.notifi{
  text-align: center;
  h5{font: vwm(32px) var(--NanumSquareB);}
}
.btn_wr{
  height: 100%; width: vwm(106px); background: #454545; border-right: 1px solid #6f6f6f; position: absolute; right: 0; top: 0;
  &::after{
    content: "";
    width: vwm(35px); height: vwm(35px);
    background: url("#{$img-path}/icon-pen.png") no-repeat 0 0/contain;
    @include center;
  }
}
.backtop{
  width: vwm(74px); height: vwm(74px);
  display: none;
  background: rgba(#1b43b3,.67);
  border-radius: 50%;
  font-size: 0;
  position: fixed; bottom: vwm(103px); left: 50%; transform: translateX(-50%); z-index: 9;
  &::after{
    content: "";
    @include center;
    width: vwm(26px); height: vwm(23px);
    display: block;
    background: url("#{$img-path}/next2.png") no-repeat 0 0/contain;
    transform: translate(-50%,-50%) rotate(-90deg);
  }
}
.setting{
  padding: vwm(52px) vwm(40px);
  justify-content: space-between;
  font-size: vwm(28px);
  border-bottom: 1px solid #eee;
  a{text-decoration: underline; font-family: var(--NanumSquareEB);}
}
.rating{
  width: 90px; height: 16px; margin-right: 8px;
  background: url("#{$img-path}/star.png") repeat 0 0/contain;
  .value{height: 100%;  background: url("#{$img-path}/star1.png") repeat 0 0/contain; position: absolute; top: 0; left: 0;}
  @media (max-width: 414px) {
    width: 45px; height: 8px; margin-right: 2px;
  }
}
.booklist{
  padding-right: vwm(30px);
  border-top: 1px solid #e5e5e5;
  overflow: auto;
  &__item{
    padding: vwm(25px) 0 vwm(20px); border-bottom: 1px solid #e5e5e5; font: vwm(28px) var(--NanumSquareB); line-height: vwm(36px);
  }
  h5{width: vwm(45px);}
  p{flex: 1;}
  span{margin-left: vwm(25px); padding-left: vwm(25px); color: #0f3ec4; font-family: var(--NanumSquareEB); position: relative;}
  span::before{
    content: "";
    height: vwm(20px); width: 1px;
    background: #cfcfcf; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
  }
}
.setup{
  padding: vwm(36px) vwm(38px) vwm(30px);
  font-size: vwm(28px);
  .btn_setup{font-family: var(--NanumSquareEB); text-decoration: underline;}
  .btn_reset{
    @include btn_reset;
    position: absolute;
    right: vwm(40px); bottom: vwm(65px);
  }
}
.keyword{
  margin-bottom: vwm(44px); padding: 0 vwm(38px); max-height: vwm(81px); overflow: hidden;
  &.show{
    width: 95%; max-height: vwm(162px); overflow: auto;
    .keyword__toggle{bottom: vwm(20px); right: vwm(43px); background: url("#{$img-path}/icon-expand1.png") no-repeat 0 0/contain;}
  }
  &__list{
    li{
      @include bg;
      margin: vwm(6px) vwm(4px);
      padding: vwm(14px) vwm(20px);
      display: flex; align-items: center; justify-content: center;
      border-radius: 0; font-size: vwm(26px); color: #7b7b7b;
    }
    li:first-child{margin-left: 0}
    .close{
      width: vwm(21px); height: vwm(21px);
      margin-left: vwm(14px);
      background: url("#{$img-path}/close3.png") no-repeat 0 0/contain;
      filter: brightness(0.5);
    }
  }
  &__toggle{
    width: vwm(35px); height: vwm(35px);
    background: url("#{$img-path}/icon-expand.png") no-repeat 0 0/contain;
    position: absolute; right: vwm(36px); bottom: vwm(18px);
  }
}
.step{
  a{
    width: vwm(36px); height: vwm(36px); display: block;
    background: #888; border-radius: 50%; color: #fff; font: vwm(26px) var(--NanumSquareB);
    text-align: center; line-height: vwm(36px);
  }
  .active{background: #244cba;}
  .space{
    width: vwm(23px); height: vwm(14px); display: block;
    background: url("#{$img-path}/arr-dow2.png") no-repeat 0 0/contain;
    margin: 0 vwm(15px);
    transform: rotate(-90deg);
    filter: brightness(.5);
  }
}
.nav_tab{
  @include tab; width: 90%; margin: 0 auto;
}
.banner-title{
  margin: 0 vwm(-38px); padding: vwm(15px) vwm(38px); background: #244cba; color: #fff; font: vwm(26px) var(--NanumSquareEB);
  span{font-family: var(--NanumSquareR);}
}
.banner-decision{
  padding: vwm(50px) 0 vwm(32px);
  margin: 0 vwm(-38px); background: #5a5a5a;
  border-radius: 0 0 vwm(20px) vwm(20px);
  color: #fff; line-height: vwm(35px); text-align: center;
  h5{margin-bottom: vwm(10px); font: vwm(28px) var(--NanumSquareB);}
  p{font: vwm(22px) var(--NanumSquareL);}
  .box-btn{
    margin-top: vwm(35px);
    justify-content: center;
    .icon{margin-right: vwm(14px);}
    button{width: vwm(264px); height: vwm(74px); margin: 0 vwm(10px); border-radius: 9999px; font: vwm(26px) var(--NanumSquareB);}
    .btn_dl{border: vwm(2px) solid; color: #fff;}
    .btn_talk{background: #f3d60c; color: #392020;}
    .icon-dl{width: vwm(27px); height: vwm(27px); background: url("#{$img-path}/icon-dl.png") no-repeat 0 0/contain;}
    .icon-talk{width: vwm(42px); height: vwm(39px); background: url("#{$img-path}/icon-talk1.png") no-repeat 0 0/contain;}
  }
}